@charset "UTF-8";
/* line 2, ../../_sass/components/function-bar.scss */
.application-workspace fieldset.functions, .application-workspace div.functions {
  padding: 10px 15px 0;
  margin-bottom: 0;
}

/* line 9, ../../_sass/components/function-bar.scss */
#sidedebar-content fieldset.functions, #sidedebar-content div.functions {
  padding: 5px 10px 7px;
  zoom: 1;
  z-index: 1;
  position: relative;
}

/* line 17, ../../_sass/components/function-bar.scss */
fieldset.functions button, div.functions button {
  float: left;
  /*margin-right: 0;*/
}

/* line 22, ../../_sass/components/function-bar.scss */
fieldset.functions select, div.functions select {
  float: right;
  margin-left: 5px;
  background-color: transparent;
  border-color: #b7b7b7;
}

/* line 29, ../../_sass/components/function-bar.scss */
.sidebar .sidebar-functions {
  position: absolute;
  top: -27px;
  left: 50px;
  right: 15px;
  height: 20px;
  overflow: hidden;
}

/* line 39, ../../_sass/components/function-bar.scss */
fieldset.functions button.icon, fieldset.functions a.button.icon {
  display: inline-block;
  padding: 0 0 0;
  text-indent: -1000px;
  position: relative;
  margin-right: 0 !important;
  width: 26px;
}
/* line 47, ../../_sass/components/function-bar.scss */
fieldset.functions button.icon:before, fieldset.functions a.button.icon:before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  display: block;
  width: 26px;
  height: 18px;
  margin: 0;
}
/* line 60, ../../_sass/components/function-bar.scss */
fieldset.functions button.icon.icon-grid-large:before {
  font-size: 13px;
}
/* line 63, ../../_sass/components/function-bar.scss */
fieldset.functions a.button.create:before {
  content: "✍";
  float: left;
  margin-left: -4px;
  margin-right: 3px;
  font: bold 15px fontello;
}

/* line 72, ../../_sass/components/function-bar.scss */
.application-workspace fieldset.functions button.edit {
  margin-left: 10px;
  float: right;
  margin-right: 0;
}

/* line 78, ../../_sass/components/function-bar.scss */
.edit fieldset.functions button.edit {
  -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
  margin-left: 0;
}

/* @group Modifying */
/* line 89, ../../_sass/components/function-bar.scss */
ul.documents.layout-list li input[type="checkbox"], .layout-list ul.documents li input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  left: -12px;
  top: 19px;
  opacity: 0;
  transition: all 0.2s;
  filter: alpha(opacity=0);
}

/* line 99, ../../_sass/components/function-bar.scss */
ul.documents.layout-list label.select, .layout-list ul.documents li label {
  text-indent: -1000px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* line 111, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list label.select, .edit .layout-list ul.documents li label {
  z-index: 10;
}
/* line 114, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list li input[type="checkbox"], .edit .layout-list ul.documents li input[type="checkbox"] {
  position: absolute;
  left: 10px;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 120, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list li label.checked, .edit .layout-list ul.documents li label.checked {
  background-color: rgba(0, 0, 0, 0.12);
}
/* line 123, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list li, .edit .layout-list ul.documents li {
  padding-left: 30px;
}
/* line 126, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list li a .title, .edit .layout-list ul.documents li a .title, .edit ul.documents.layout-list li a .description, .edit .layout-list ul.documents li a .description {
  left: 30px;
}
/* line 130, ../../_sass/components/function-bar.scss */
.edit fieldset.functions #document-filters {
  display: none;
}
/* line 134, ../../_sass/components/function-bar.scss */
.edit fieldset.functions .icon.grid, .edit fieldset.functions .icon.list {
  display: none;
}

/* line 141, ../../_sass/components/function-bar.scss */
.application-workspace fieldset.functions button.icon.grid {
  margin-right: 0;
}

/* line 145, ../../_sass/components/function-bar.scss */
fieldset.functions .modifiers {
  display: none;
  float: left;
}
/* line 148, ../../_sass/components/function-bar.scss */
fieldset.functions .modifiers .delete {
  background-color: red;
  background-image: none;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
}

/* line 157, ../../_sass/components/function-bar.scss */
.edit fieldset.functions .modifiers {
  display: inline-block;
}
/* line 160, ../../_sass/components/function-bar.scss */
.edit ul.documents.layout-list li a.icon-cog, .edit .layout-list ul.documents li a.icon-cog {
  display: none !important;
}

@media only screen and (max-width: 1280px) {
  /* line 167, ../../_sass/components/function-bar.scss */
  .edit fieldset.functions .modifiers button {
    width: 25px;
    overflow: hidden;
    text-indent: -1000px;
    position: relative;
  }
  /* line 173, ../../_sass/components/function-bar.scss */
  .edit fieldset.functions .modifiers a.button {
    width: 25px;
    overflow: hidden;
    text-indent: -1000px;
    position: relative;
    padding-right: 0;
    width: 13px;
  }
  /* line 181, ../../_sass/components/function-bar.scss */
  .edit fieldset.functions .modifiers button:before {
    text-indent: 0;
    position: absolute;
    line-height: 15px;
    top: 3px;
    left: 5px;
  }
  /* line 189, ../../_sass/components/function-bar.scss */
  .edit fieldset.functions .modifiers a.button:before {
    text-indent: 0;
    position: absolute;
    line-height: 15px;
    top: 3px;
    left: 5px;
  }
  /* line 196, ../../_sass/components/function-bar.scss */
  .edit fieldset.functions .modifiers a.button.dropdown:after {
    content: '\25be';
    font: 140% / 23px fontello;
    float: right;
    margin-left: 3px;
    margin-top: -1px;
    margin-right: -4px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
    text-align: center;
    width: 18px;
    display: block;
    height: 19px;
  }
}
/* line 216, ../../_sass/components/function-bar.scss */
#batch-operation-helper {
  margin: 10px 20px 0;
}

/* @end */
/* line 225, ../../_sass/components/function-bar.scss */
#sidebar #batch-tagging, #sidebar #batch-sendlink {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
  margin-bottom: 0;
  position: absolute;
  top: 28px;
  left: 10px;
  right: 10px;
  border-bottom: 1px solid silver;
  opacity: 0;
}

/* line 243, ../../_sass/components/function-bar.scss */
#batch-tagging a {
  text-decoration: none;
}
/* line 246, ../../_sass/components/function-bar.scss */
#batch-tagging button {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
/* line 251, ../../_sass/components/function-bar.scss */
#batch-tagging .select2-container {
  margin-bottom: 7px;
}

/* line 256, ../../_sass/components/function-bar.scss */
#batch-sendlink button {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* line 262, ../../_sass/components/function-bar.scss */
#sidebar.tagging-on #sidebar-content.edit #batch-tagging {
  display: block;
  height: 60px;
  opacity: 1;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* line 270, ../../_sass/components/function-bar.scss */
.lt-ie10 #sidebar.tagging-off #batch-tagging {
  display: none;
}

/* line 275, ../../_sass/components/function-bar.scss */
#sidebar.sendlink-on #sidebar-content.edit #batch-sendlink {
  display: block;
  height: 180px;
  opacity: 1;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 282, ../../_sass/components/function-bar.scss */
#sidebar.sendlink-on #batch-sendlink select {
  width: 100%;
}

/* line 287, ../../_sass/components/function-bar.scss */
#batch-tagging .select2-choices {
  width: 100%;
  /*margin-bottom: 10px;*/
}
