/* line 1, ../../_sass/components/icon.scss */
.iconified {
  overflow: hidden;
  text-decoration: none;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  line-height: 10px;
  border-style: none;
  background-image: none;
  filter: none !important;
  outline: none !important;
  width: 1.3em;
}
/* line 13, ../../_sass/components/icon.scss */
.iconified:active {
  box-shadow: none;
}
/* line 16, ../../_sass/components/icon.scss */
.iconified:hover {
  text-decoration: none;
}
/* line 19, ../../_sass/components/icon.scss */
.iconified:before {
  text-indent: 0;
  display: inline-block;
  margin: 0 10px 0 0;
}
