/* line 5, ../../_sass/components/logo.scss */
.logo#site-logo {
  float: left;
  margin-right: 14px;
}

/* line 10, ../../_sass/components/logo.scss */
.logo#site-logo img {
  height: 19px;
  margin-top: 6px;
  opacity: 0.6;
}
