@charset "UTF-8";

.activity-stream {
  margin: 0 auto;

  .item {
    margin-bottom: 30px;
  }

  &.pat-packery {
    opacity: 0;
    transition: opacity 1s;

    .item {
      margin-bottom: 0;
    }

    &.packery-ready {
      opacity: 1;
    }
  }

  .functions {
    margin-bottom: 0.5em;
    text-align: right;

    .filters {
      width: 100%;

      select {
        float: right;
      }
    }
  }
}

.application-workspace .activity-stream {
	padding: 0 2em;
}

// .application-home .activity-stream {
// 	.post.item,
//   .portlets.item {
//     @media only screen and (min-width: 767px) {
//       width: 400px;
//     }
//   }
// }