/* @group Pin wall */

.pin-wall {
  margin-right: auto;
  margin-left: auto;
  transition: margin-top 1s;
  &.injecting {
    margin-right: auto;
    margin-left: auto;
    transition: margin-top 1s;
  }
  &:before {
    height: 0;
    opacity: 0;
    transition: all 1s;
  }
  &.injecting.injecting-before {
    margin-top: 223px;
    &:before {
      content: "Placing post…";
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border: 1px solid #dadada;
      display: block;
      height: 183px;
      line-height: 220px;
      text-align: center;
      margin-top: -203px;
      opacity: 1;
      background: #ecf5f0 url(processing.gif) no-repeat center 65px;
      width: 100%;
      float: left;
      box-sizing: border-box;
    }
  }
  .item {
    padding: 10px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #dadada;
    position: relative;
    float: none;
    box-sizing: border-box;
    width: 240px;
    overflow: hidden;
    /*transition: all 0.4s;*/
    &.columns-2 {
      width: 500px;
    }
    &.columns-full {
      width: 100%;
    }
  }
  .quick-post fieldset {
    margin: 0;
  }
  h4 {
    line-height: 20px;
    padding-right: 20px;
    padding-left: 40px;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: -2px;
    font-weight: normal;
    font-style: normal;
    a {
      display: block;
    }
  }
  .byline {
    margin-top: 0;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    padding-left: 40px;
    margin-bottom: 8px;
    .airline {
      float: right;
    }
  }
  .item.pin {
    h4!, .byline! {}
  }
  .functions {
    button, a {
      width: 20px;
      height: 20px;
      overflow: hidden;
      font-size: 20px;
      color: silver;
      text-shadow: 0 0 5px white;
      display: inline-block;
      border-style: none;
      padding: 0;
      margin-right: 0;
      background-image: none;
      line-height: 20px;
      filter: none;
      outline: none;
    }
    form {
      display: inline-block;
      float: left;
      margin-right: 0;
      margin-top: 0;
    }
    .icon-cog:before {
      text-indent: -7px;
    }
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .item {
    .functions * {
      display: none;
      color: gray;
    }
    &.pin .functions * {
      color: #a09e7f;
    }
    &:hover .functions * {
      display: inline-block;
    }
  }
  .functions {
    button:hover {
      /*background-position: 0 -65px;*/
      text-decoration: none;
      color: black !important;
      cursor: default;
      display: inline-block;
    }
    a {
      &:hover, &.active {
        /*background-position: 0 -65px;*/
        text-decoration: none;
        color: black !important;
        cursor: default;
        display: inline-block;
      }
    }
  }
  .item {
    .description,.no-preview {
      padding: 1em 0;
    }
    .preview img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
    }
    &.rich-page .preview {
      overflow: hidden;
      h1 {
        margin-bottom: 10px;
        font-size: 26px;
      }
      h2 {
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    .preview {
      border-top: 1px solid #d9d9d9;
    }
    div.preview {
      padding-top: 10px;
      padding-right: 10px;
      padding-left: 10px;
      margin-right: -10px;
      margin-left: -10px;
      background-color: white;
    }
    a.preview {
      text-decoration: none;
      color: gray;
      font-size: 12px;
      line-height: 17px;
      display: block;
      -webkit-transition: background-color 0.25s;
      -moz-transition: background-color 0.25s;
      transition: background-color 0.25s;
      position: relative;
      margin-right: -10px;
      margin-left: -10px;
      margin-bottom: 0;
      p.no-preview {
        /*min-height: 160px;*/
        padding: 10%;
        font-size: 20px;
        line-height: 1.5;
        margin: 0;
        background-color: #efefef;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, 0.7) 5px, rgba(255, 255, 255, 0.7) 50px);
      }
      .description {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1em;
        margin: 0;
        opacity: 0;
        transform: translate(0, 100%);
        transition: all 0.3s;
        box-sizing: border-box;
        max-height: 100%;
        overflow: auto;
        filter: alpha(opacity = 0);
      }
      &:hover .description {
        color: white;
        opacity: 1;
        transform: translate(0, 0);
        filter: alpha(opacity = 80);
      }
    }
    &.event a.preview .description {
      padding-right: 30px;
    }
  }
  .comments {
    background-color: #efefef;
    padding: 0 10px 29px;
    font-size: 12px;
    color: #00400f;
    margin: 0 -10px -10px;
    border-top: 1px solid #d5d5d5;
    position: relative;
    z-index: 1;
  }
  .item {
    .avatar {
      float: left;
      margin-top: 0;
      margin-right: 10px;
      margin-bottom: 0;
    }
    &.pin > .avatar {
      display: none;
    }
    .avatar img {
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      float: left;
    }
    p.functions {
      font-size: 12px;
    }
    &.pin {
      background-color: #fdfdc8;
      h4:before {
        content: '\1f4cc';
        position: absolute;
        top: 16px;
        left: 20px;
        font: 25px fontello;
        color: #a2a181;
        text-shadow: rgba(0, 0, 0, 0.49) 0 -1px 0;
        transform: rotate(30deg);
      }
    }
    &.question {
      background-color: $colour-post;
      .icon-cog {
        color: #6e7370;
      }
      .preview {
        overflow: hidden;
        background-color: $colour-post;
        padding-right: 10px;
        padding-left: 10px;
        clear: both;
        .satisfaction-inquiry {
          margin-bottom: 10px;
        }
      }
      .question-box {
        background-color: white;
        display: block;
        overflow: hidden;
        &:hover {
          background-color: #f6f9f7;
          text-decoration: none;
        }
      }
      .preview .question {
        padding: 0;
        margin-bottom: 7px;
        position: relative;
        margin-top: 0;
        background-color: white;
      }
      .triangle-isosceles.top-left:after {
        left: 3px;
      }
      blockquote.question p.question {
        position: relative;
        z-index: 1;
        font: 15px / 25px Georgia, "Times New Roman", Times, serif;
        color: #6e6f70;
        text-shadow: white 0 1px 0;
        margin-bottom: 0;
        overflow: hidden;
        padding: 0;
        padding: 10px 1em;
        background-color: transparent;
        &:before {
          content: "“";
          position: absolute;
          top: 211px;
          left: -26px;
          color: $colour-post;
          z-index: -1;
          font: 500px / 0 Georgia, "Times New Roman", Times, serif;
        }
      }
    }
  }
}

/* @group Functions */

/* @end */

/* @group Pin */

/* @end */

/* @group Question */

.lt-ie9 .pin-wall .item.question blockquote.question p.question:before {
  display: none;
}

.pin-wall .item.question blockquote.question p.attachments {
  padding-right: 10px;
  padding-left: 10px;
  img {
    margin-top: 10px;
  }
}

/* @end */

/* @group Comment */

/* @group Placed comment */

.comments {
  &.well {
    padding: 20px;
    background-color: #efefef;
    border: 1px solid silver;
    border-radius: 4px;
    margin-bottom: 20px;
    form.response {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  div.comment {
    padding-left: 40px;
    padding-top: 5px;
    font-size: 12px;
    &.author-comment {
      padding-left: 50px;
      border-left: 5px solid #927d91;
      background-color: #edd8ed;
      margin-bottom: 10px;
      padding-bottom: 5px;
    }
    p {
      margin-bottom: 10px;
    }
    img {
      max-width: 100%;
      width: auto;
    }
  }
  .comment {
    .name {
      float: left;
      margin-right: 5px;
      border-right: 1px solid silver;
      padding-right: 5px;
      line-height: 12px;
      position: relative;
      top: 3px;
      margin-bottom: 7px;
    }
    .avatar {
      float: left;
      margin-left: -40px;
      margin-top: 4px;
    }
    .subscript {
      margin-top: -9px;
      color: gray;
      font-style: italic;
      font-size: 11px;
      .edit {
        float: right;
        font-size: 10px;
      }
    }
  }
  textarea {
    margin-bottom: 0;
    font-size: 12px;
  }
}

/* @end */

/* @end */

/* @group Response form */

.pin-wall .item form.response {
  position: absolute;
  bottom: 0;
  background-color: #efefef;
  right: 0;
  left: 0;
  border-top: 1px solid #d9d9d9;
}

.comments form.response {
  fieldset {
    margin: 0 0 0;
    padding: 4px 0 6px;
    display: block;
    height: 21px;
    transition: height 0.2s;
    textarea {
      height: 24px;
      line-height: 18px;
      padding-top: 2px;
      padding-bottom: 2px;
      width: 100%;
      float: left;
      padding-right: 15px;
      overflow: hidden;
      background-color: #efefef;
      resize: none;
    }
  }
  border-top: 2px solid white;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
}

.-moz- .comments form.response fieldset textarea {
  padding-right: 0;
}

.comments form.response fieldset {
  &.focus, &.state-open {
    height: 121px;
  }
  &.state-attachment {
    height: 221px;
  }
  &.focus textarea, &.state-open textarea, &.state-attachment textarea {
    height: 96px;
    overflow: auto;
  }
}

.tooltip-container .comments form.response fieldset textarea {
  height: 100px;
}

.comments form.response {
  .button-bar {
    padding-top: 4px;
    background-color: transparent;
    padding-bottom: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -o-transition: height 0.2s;
    -ms-transition: height 0.2s;
    transition: height 0.2s;
    text-shadow: white 0 1px 0;
  }
  .focus .button-bar, .state-open .button-bar, .state-attachment .button-bar {
    height: 28px;
  }
  .button-bar label.file-attachment {
    width: 16px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    line-height: 20px;
    position: absolute;
    top: 6px;
    right: 22px;
  }
}

.pin-wall .comments form.response .button-bar label.file-attachment {
  right: 12px;
}

.comments form.response {
  p.attachments {
    overflow: hidden;
    height: 0;
    margin-bottom: 0;
    clear: both;
    transition: height 0.2s;
  }
  .state-attachment p.attachments {
    height: 100px;
    padding-top: 4px;
  }
  p.attachments img {
    height: 100px;
    margin-top: 0;
    float: left;
    margin-bottom: 4px;
    margin-right: 6px;
  }
}

/* @end */

.pin-wall .item {
  h4 time.date {
    float: none;
    margin-bottom: 3px;
    display: block;
    margin-top: -2px;
  }
  &.calendar-item a.preview {
    padding-left: 130px;
  }
  .calendar-medium {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: -120px;
  }
  a.preview:hover .calendar-medium {
    background-color: white;
  }
}

/* @end */