.activity-stream {
  margin: 0 auto;

  .item {
    margin-bottom: 30px;
  }

  &.pat-packery {
    opacity: 0;
    transition: opacity 1s;

    .item {
      margin-bottom: 0;
    }

    &.packery-ready {
      opacity: 1;
    }
  }

  .filters {
	width: 100%;
	margin-bottom: 0;
	text-align: right;
	margin-bottom: -1em;

  	select {
  		float: right;
  	}
  }
}

.application-workspace .activity-stream {
	padding: 0 2em;
}

.application-home .activity-stream {
	.post.item,
  .portlets.item {
    @media only screen and (min-width: 767px) {
      width: 400px;
    }
  }
}