.pat-avatar {
    

  	&#user-avatar {
    position: absolute;
    top: 3px;
    right: 25px;
    width: 1.35em; // override default avatar width
    height: 1.35em; // override default avatar height
  }
}