@charset "UTF-8";

.pat-avatar {
	box-shadow: inset 0 0.1em 0.5em rgba(0,0,0,0.2); 

  	&#user-avatar {
    position: absolute;
    top: 3px;
    right: 25px;
    width: 1.35em; // override default avatar width
    height: 1.35em; // override default avatar height
  }
}