.avatar {
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    width: 26px;
    height: 26px;
    img {
      width: 26px;
      height: 26px;
      position: absolute;
      z-index: 40;
    }

  	&#user-avatar {
    position: absolute;
    top: 2px;
    right: 25px;
  }
}