body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: $colour-base;

	[hidden="hidden"],[hidden],[type="hidden"] {
	display: none;
}
}