@charset "UTF-8";

body {
    color: $body-font-color;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    line-height: $base-line-height;
    font-size: $base-font-size;
    background: $body-bg;
    @include screen-size(large) { 
		width: 100%;
		height: 100%;
		overflow: hidden;
    }
	padding: 0;
	margin: 0;

	[hidden="hidden"],
	[hidden],
	[type="hidden"] {
		display: none;
	}

	.float-after {
		float: right;
	}

	.float-before {
		float: left;
	}
}