@charset "UTF-8";

/* @group Breadcrumbs */

nav.breadcrumbs {
  display: block;
  height: 24px;
  font-size: 13px;
  line-height: 25px;
  transition: left 0.2s;
  float: left;
  padding: 4px 0;
  margin-left: 0;
  
  @include screen-size(small) {
    display: none;
  }
}

.application-portal nav.breadcrumbs {
  display: none;
}

nav.breadcrumbs {
  a {
    float: left;
    color: $colour-header-elements;
    height: 24px;
    position: relative;
    padding-left: 20px;
    text-decoration: none;
    &:after {
      content: "\e75e";
      position: absolute;
      right: -15px;
      font-family: fontello;
    }
    &.has-siblings:after {
      right: -43px;
    }
    &.current:after {
      display: none;
    }
    &:first-child {
      padding-left: 0;
      &:before {
        content: " ";
        width: 1px;
        height: 13px;
        margin-top: 6px;
        background: gray;
        float: left;
        margin-right: 13px;
      }
    }
  }
  form.doc-title {
    color: $colour-header-elements;
  }
}