.buttonBar, .button-bar {
	height: 1em;
	clear: left;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.update-social .button-bar {
	background-color: $colour-base;

	a {
		float: left;
	}

	.icon-users, button {
		float: right;
	}

	br {
		display: none
	}
}