.buttonBar, .button-bar {
	height: 1.5em;
	clear: left;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	.iconified {
		float: left;
		line-height: 1.5em;
		border-left: 0.8em solid transparent;
		border-right: 0.8em solid transparent;
		margin: -0.5em 0;
		padding: 0.5em 0;
		color: #666;
  		cursor: default;
  		&:hover,&:active {
  			color: black;
  		}
	}

	br {
		display: none
	}
}

.update-social .button-bar {
	background-color: $colour-base;
	padding-left: 0.5em;

	.icon-users, button {
		float: right;
	}

	br {
		display: none
	}
}