
.calendar-medium {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 52px;
  margin: 0;
  color: #797979;
  padding: 48px 4px 0px;
  background: rgba(155,160,167,0.1) no-repeat;
}

.calendar-medium .day {
  font-size: 65px;
  line-height: 73px;
  position: absolute;
  left: 5px;
  top: 1px;
  font-weight: normal;
  font-style: normal;
}

.calendar-medium .month {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  display: block;
  margin-right: -2px;
  line-height: 64px;
  width: 101px;
}

.calendar-medium .month.char-count-3 {
  letter-spacing: 13px;
  margin-left: 2px;
}

.calendar-medium .month.char-count-4 {
  letter-spacing: 3px;
}

.calendar-medium .month.char-count-5 {
  letter-spacing: 1px;
  margin-left: 2px;
  font-size: 26px;
}

.calendar-medium .month.char-count-6 {
  letter-spacing: 0;
  margin-left: 2px;
  font-size: 24px;
}

.calendar-medium .month.char-count-7 {
  letter-spacing: 0;
  margin-left: 2px;
  font-size: 20px;
}

.calendar-medium .month.char-count-8 {
  font-size: 18px;
}

.calendar-medium .month.char-count-9 {
  font-size: 16px;
  letter-spacing: 0;
}

.calendar-medium .month.char-count-10 {
  font-size: 18px;
}

.calendar-medium .month.char-count-11 {
  font-size: 18px;
}

.calendar-medium .month.char-count-12 {
  font-size: 18px;
}

.calendar-medium .year {
  display: block;
  position: absolute;
  right: -2px;
  top: 22px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}