.post .comments {
  margin: 0 -1em -1em;
}

.document-listing .comments {
  color: gray;
  background-color: white;
  position: relative;
  font-size: 0.8em;

  &:before {
    position: absolute;
    left: 0;
    top: 1.3em;
    bottom: 0em;
    content: ' ';
    display: block;
    background-color: silver;
    width: 1px;
  }

  // .comment:first-child {
  //   padding-top: 0;
  // }
}

.comments {
  background-color: #f8f8f8;
  margin: 0 0 1em 0;
  // padding: 1em;

  .comment {
    padding-top: 1.2em;

    .pat-avatar {
      top: 1.6em;
    }

    &:before {
      content: " ";
      display: block;
      background-color: silver;
      height: 1px;
      width: 60%;
      margin: 0 0 0 -30%;
      position: absolute;
      left: 50%;
      top: 0.3em;
    }

    &:first-child {
      // padding-top: 0;

      .pat-avatar {
        // top: 0.2em;
      }

      &:before {
        display: none;
      }
    }
  }
}