@charset "UTF-8";

.comment {
	position: relative;
	padding: 2em 1em 0em 3.5em;
	margin-bottom: 1em;
	min-height: 2em;

	.pat-avatar {
		position: absolute;
		left: 1em;
		top: 0.6em;
	}
	
	.comment-content,
	.comment-header {
		font-size: 0.9em;
		line-height: 1.4em;

		p,ul,ol,table,dl {
			margin-bottom: 1em;
		}
	}

	.date {
		font-style: italic;
		color: gray;
	}

	.comment-header {
		.name {
			display: inline-block;
			padding-right: 0.15em;

			&:after {
				content: " —"
			}
		}
	}
}