@charset "UTF-8";

@mixin container {
   display: block;
   margin: 0 auto;
   max-width: 1280px;
   padding: 0 6%;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.container {
  @include container();
}