@charset "UTF-8";

#content {
  @include screen-size(large) { 
    top: 32px;
    position: absolute; 
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    transition: all 0.2s;
    z-index: 6;
    outline: solid silver 1px;
  }
  @include screen-size(small) {
    padding-top: 5em;
  }
  background-color: white;
}

body.application-home #content {
  background-color: $colour-base-light;
}