@charset "UTF-8";

#content {
  top: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  transition: all 0.2s;
  z-index: 6;
  outline: solid silver 1px;
  background-color: white;
}

body.application-home #content {
  // top: 85px;
  background-color: $colour-base-light;
}