@charset "UTF-8";

#document-body {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left 0.2s;
  padding: 0;
  background-color: $colour-base-light;
  top: 0;
  z-index: 0;

  .workspace-recommendations {
    display: block;
    margin: 0 auto 2em;
    color: gray;
    font-weight: bold;
    text-align: center;
  }
  #primary-functions {
    text-align: center;
    margin-bottom: 2em;
  }
}

.application-workspace #document-body {
  left: 50px;
}


body.toolbar #document-body {
  top: 32px;
}

.sidebar-left-open #document-body {
  left: 30%;
}

.application-organisation #document-body {
  padding-top: 50px;
}

.application-workspace #document-body, 
.application-cms #document-body {
  top: 32px;
}

.application-calendar #document-body {
  padding-top: 20px;
  top: 32px;
}

.application-workspace #document-body.calendar {
  padding-top: 20px;
}

.office-preview {
  overflow: hidden;
}

/* @end */