@charset "UTF-8";

#document-content {
	font-size: 1.2em;
	line-height: 130%;

	article.rich,
	.content-container {
		background-color: white;
		padding: 6% 6%;

		img {
			max-width: 90%;
			margin: 0 auto;
			display: block;
		}
	}
}