@charset "UTF-8";

#document-body {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: left 0.2s;
  padding: 0;
  background-color: $colour-base-light;

  @include screen-size(small) { 
    top: 48px;
  }

  @include screen-size(large) { 
    top: 0;
  }

  z-index: 0;

  #document-content {
    font-size: 1.2em;
    line-height: 130%;

    article.rich,
    .content-container {
      background-color: white;
      padding: 6% 6% 6% 6%;

      img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
      }
    }

    article.preview {
      background: white;
      padding-top: 3%;

      img {
        background-color: white;
      }
    }
  }

  .workspace-recommendations {
    display: block;
    margin: 0 auto 2em;
    color: gray;
    font-weight: bold;
    text-align: center;
  }
  #primary-functions {
    text-align: center;
    margin-bottom: 2em;
  }
}

@include screen-size(small) { 
  .focus-document #document-body {
    z-index: 1;
  } 
}

@include screen-size(large) { 

  .application-workspace #document-body {
    left: 50px;
  }

  .sidebar-left-open #document-body {
    left: 30%;
  }
  
}