@charset "UTF-8";

ul.cal-events {
  border-top: 1px solid silver;
  list-style-type: none;
  margin: 0;
  > li {
    border-bottom: 1px solid silver;
    overflow: hidden;
    position: relative;
    &.no-date {
      padding-right: 10px;
      padding-left: 10px;
      border-style: none;
      margin-bottom: 10px;
      margin-top: -1px;
      background-color: #0081be;
      color: white;
      border-radius: 4px;
      cursor: move;
    }
  }
}

.theme-light ul.cal-events > li.no-date {
  color: black;
}

ul.cal-events {
  > li.no-date {
    *, .title a {
      color: white;
      font-weight: normal;
      font-style: normal;
      text-shadow: none;
      user-select: none;
    }
    .icon-trash {
      color: white;
      font-weight: normal;
      font-style: normal;
      text-shadow: none;
      user-select: none;
      right: 10px;
    }
  }
  li {
    .icon-trash {
      position: absolute;
      top: 10px;
      right: 0;
      margin: 0;
      font-size: 16px;
      padding: 0;
      display: none;
    }
    &:hover .icon-trash {
      display: block;
    }
    .delete:hover {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 18px;
      height: 18px;
      text-indent: -1000px;
      padding: 0;
      border-radius: 50%;
      background: url(button-delete.png) 0 -16px;
    }
    .title {
      display: block;
      font-size: 20px;
      font-style: normal;
      padding-top: 7px;
      font-weight: 200;
      line-height: 24px;
      padding-bottom: 4px;
      padding-right: 16px;

      a {
        text-decoration: none;
      }
    }
  }
}

.theme-light ul.cal-events li .title a {
  color: black;
}

ul.cal-events {
  li .title a:hover {
    text-decoration: underline;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
  }
  select option {
    background-color: white;
    color: black;
  }
  li p.description {
    font-size: 12px;
    font-style: italic;
    line-height: 16px;
  }
  ul li {
    time, .location {
      font-weight: bold;
    }
  }
}