@charset "UTF-8";

/* @group File upload */

label.file-attachment {
  position: relative;
  top: 1px;
  &:hover {
    text-decoration: underline;
  }
  &:before {
    content: "\1f4ce";
    display: inline-block;
    font-family: fontello;
    margin-right: 4px;
  }
  input {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: pointer;
  }
}

.comments form.response {
  .state-attachment .button-bar label.file-attachment, .focus .button-bar label.file-attachment {
    margin-right: 20px;
  }
}

fieldset.horizontal label.file-attachment input {
  left: 33%;
}

/* @end */