
form {

  fieldset {

    &.fancy {
      > .location,
      > .organiser,
      > .options,
      > .date-time,
      > .timezone,
      > .invitees,
      > .attachments,
      > .assignee,
      > .initiator,
      > .description,
      > .stage {
        padding-left: 4.5rem;
        position: relative;
        margin-bottom: 2em;

        &:before {
          width: 4.5rem;
          text-align: center;
          line-height: 4.5rem;
          font-family: fontello;
          font-size: 1.6em;
          color: silver;
          font-weight: normal;

          position: absolute;
          top: 0;
          left: 0;
        }
      }

      

      .location:before {
        content: "\e82d";
      }

      .stage:before {
        content: "\e852";
      }

      .organiser:before {
        content: "\1f464";
      }

      .options:before {
        content: "\2714";
        line-height: 3.2rem;
      }

      .date-time:before {
        content: "\e82f";
      }

      .timezone {
        padding-left: 0;

        &:before {
          content: "\e830";
          left: -4.5rem;
        }
      }

      .invitiees:before {
        content: "\1f465";
      }

      .attachments:before {
        content: "\1f4ce";
      }


      .attachments:before {
        content: "\1f4ce";
      }

      .initiator {
        
        .pat-avatar {
          position: absolute;
          left: 0.7em;
          top: 0.7em;

          img {
            max-width: 100% !important;
          }
        }
      }

      .assignee:before {
        content: "\1f464";
      }

      .description:before {
        content: "\e815";
      }

    }
  }
}