#global-header {
    height: 32px;
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 15px;
    color: white;
    padding-right: 75px;
    z-index: 10;
}

.application-portal #global-header {
    float: right;
    left: auto;
    width: auto;
    background-color: transparent;
    top: 13px;
}

#global-header .icon {
    float: right;
    height: 32px;
    color: silver;
    line-height: 32px;
    font-size: 18px;
    margin-left: 10px;
    padding: 0;
    width: 22px;
    text-shadow: none;
}

.application-portal #global-header .icon {
    color: white;
}

#global-header form.search {
    color: silver;
}

.application-portal #global-header form.search {
    color: white;
}

#global-header {
    .icon:hover, form.search:hover {
        text-decoration: none;
        color: white;
        cursor: default;
    }
    .icon sup.counter {
        font-size: 7px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        top: 2px;
    }
}