@charset "UTF-8";

#global-header {
    height: 32px;
    background-color: $colour-base;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 15px;
    color: $colour-header-elements;
    padding-right: 3.1em;
    z-index: 0;

    @include screen-size(small) {
        zoom: 1.5;
        background-color: darken($colour-base, 10%);
    }
}

.application-portal #global-header {
    float: right;
    left: auto;
    width: auto;
    background-color: transparent;
    top: 13px;
}

#global-header .icon {
    float: right;
    height: 2em;
    color: $colour-header-elements;
    line-height: 2em;
    font-size: 1em;
    margin-left: 1em;
    padding: 0;
    width: 1.3em;
    text-shadow: none;

    &#notification-link:before {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

.application-portal #global-header .icon {
    color: $colour-header-elements;
}

#global-header form.search {
    color: $colour-header-elements;
}

.application-portal #global-header form.search {
    color: $colour-header-elements;
}

#global-header {
    .icon:hover, 
    form.search:hover {
        text-decoration: none;
        color: $colour-header-elements;
        cursor: default;
    }
    .icon sup.counter {
        font-size: 0.6em;
        width: 1.2em;
        height: 1.2em;
        line-height: 1.2em;
        top: 2px;
        right: 0;
        position: absolute;
        background-color: $colour-alert;
        text-align: center;
        color: white;
        border-radius: 50%;
    }
}