.item-selector {
    br {
        display: none;
        // TODO Review accessibility to screen readers & abstract
   
    }
}

.item-selector__search {
    position: relative;

    label {
        position: relative;
        input[type="search"] {
            // TODO Review/create base form elem styling
            line-height: 2;
            margin: 0;
            // OVERRIDE TODO
            padding-left: $base-space * 1.25;
            position: relative;
            width: 100%;
            &:focus {
                // TODO Review/create form :focus CSS & abstract
           
            }
        }

        button {
            @include element-invisible;
            // TODO Contact Cornelis, as need accessible no-js fallback
       
        }

        &.focus {
            &::before {
                color: $primary-color;
            }
        }

        &::before {
            content: '\1f50d';
            font-family: fontello;
            left: 0.5em;
            line-height: 1;
            // == $base-font-size, not $base-line-height, to vertically align
            margin-top: -.5em;
            position: absolute;
            top: 50%;
        }
    }
}

.item-selector__search-result {
    fieldset {
        margin: 0;
        label {
            border-top: 1px solid blacken(white, 10%);
            display: block;
            padding: 0.5em 1.5em 0.5em 4em;
            position: relative;

            img {
                @include avatar($border-radius: 3em, $border: 1px solid blacken(white, 50%), $height: 3em, $width: 3em);
                position: absolute;
                left: 0.5em;
                top: 0.5em;
            }

            strong {
                @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                display: block;
            }

            .byline {
                // @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                display: block;
            }

            &.document .title:before,
            &.folder .title:before {
                font-family: fontello;
                content: '';
                font-size: 1.4em;
                position: absolute;
                left: 1.1em;
                top: 50%;
                margin-top: -0.5em;
                font-weight: normal;
            }

            &.document .title:before {
                content: '\e811'
            }

            &.folder .title:before {
                content: '\1f4c1'
            }

            &.checked {
                &:hover,
                &:focus {
                    &::before {
                        color: $primary-color;
                    }
                }
                &::before {
                    content: '\2713';
                }
            }

            &:hover,
            &:focus {
                background-color: blacken(white, 2%);
            }

            &::before {
                content: '';
                position: absolute;
                right: $base-space * 2;
                top: 50%;
                margin-top: -0.8em;
            }
        }

        &:first-child {
            border-top: none;
        }
    }
}

.item-selector__search-result--tags {
    label {
        line-height: inherit !important; // TODO Fix ~ https://twitter.com/ldexterldesign/status/497739237215977472
        div {
            strong {
                &:before {
                    content: '#';
                }
            }
        }
    }
}

.item-selector__nav-bar {
    @extend .button-bar;
    padding: $base-space;
    // OVERRIDE
}