.item-selector {

    br {
        display: none;
        // TODO Review accessibility to screen readers & abstract

    }

    .search-box {
        position: relative;

        label {
            position: relative;

            input[type="search"] {
                line-height: 2;
                margin: 0;
                padding-left: $base-space * 1.25;
                position: relative;
                width: 100%;
            }

            button {
                @include element-invisible;
                // TODO Contact Cornelis, as need accessible no-js fallback
            }

            &.focus {
                &::before {
                    color: $colour-accent;
                }
            }

            &::before {
                content: '\1f50d';
                font-family: fontello;
                left: 0.5em;
                line-height: 1;
                margin-top: -.5em;
                position: absolute;
                top: 50%;
            }
        }
    }

    .search-result {

            .item {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                display: block;
                position: relative;
                color: $colour-primary;
                -webkit-user-select: none;
                user-select: none;
                padding: 0.5em 1.5em 0.5em 4em;

                &.folder,
                &.document {
                    padding: 0;
                }

                .follow {
                    display: block;
                    color: $colour-primary;
                    padding: 0.5em 1.5em 0.5em 4em;
                    position: relative;
                    z-index: -1;
                }

                &.folder:after {
                    font-family: fontello;
                    content: '\e4a2';
                    position: absolute;
                    right: 1em;
                    top: 50%;
                    margin-top: -0.7em;
                }

                img {
                    @include avatar($border-radius: 3em, $border: 1px solid blacken(white, 50%), $height: 3em, $width: 3em);
                    position: absolute;
                    left: 0.5em;
                    top: 0.5em;
                }

                .title {
                    @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                    display: block;

                    &:before {
                        font-family: fontello;
                        content: '';
                        font-size: 1.4em;
                        position: absolute;
                        left: 1.1em;
                        top: 50%;
                        margin-top: -0.5em;
                        font-weight: normal;
                    }
                }

                &.document .title:before {
                    content: '\e811'
                }

                &.folder .title:before {
                    content: '\1f4c1'
                }

                .byline {
                    // @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                    display: block;
                }

                &.checked {
                    background-color: $colour-accent;

                    .follow {
                        background-color: $colour-accent;
                        color: white;
                    }

                    color: white;
                    border-bottom-color: white;

                    &:hover,
                    &:focus {
                        background-color: $colour-accent;
                    }

                    &::before {
                        content: '\2713';
                    }

                    &.folder,
                    &.document {
                        background-color: transparent;
                    }
                }

                &:hover,
                &:focus {
                    background-color: rgba(0,0,0,0.03);
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: $base-space * 2;
                    top: 50%;
                    margin-top: -0.8em;
                }
            }
    }
}

.mode-follow .item-selector .search-result fieldset .item .follow {
    z-index: 0;
}

.mode-follow .search-result .button-bar {
    display: none;
}

.mode-select .item-selector .search-result fieldset .item.folder:after {
    display: none;
}