.item-selector {
    label.search {
        position: relative;
        margin-bottom: 1em;
        &:before {
            content: '\1f50d';
            font-family: fontello;
            font-size: 1em;
            left: .5em;
            position: absolute;
            top: 0;
        }
        input {
            padding-left: 1.25em;
            width: 100%;
        }
        button {}
    }
    .checklist {
        label {
            border-top: 1px solid $colour-base;
            position: relative;
            padding: .25em .5em;
            input[type="checkbox"] {}
            .name {}
            .meta {}
            &:before {
                margin-top: -1em;
                position: absolute;
                right: 1em;
                top: 50%;
                content: normal;
            }
            &:first-child {
                border-top: none;
            }
            &.checked {
                &:before {
                    content: '\2713';
                }
            }
        }
    }
}

.tooltip-container {
    .item-selector {
        position: absolute;
        top: .5em;
        left: .5em;
        right: .5em;
        bottom: 0;
        label.search,
        .checklist,
        .button-bar {
            position: absolute;
        }
        label.search {
            top: 0;
            left: 0;
            right: 0;
        }
        .checklist {
            overflow: auto;
            top: 2em;
            left: 0;
            right: 0;
            bottom: 3em;
        }
        .button-bar {
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 1em;
        }
    }
}