.item-selector {

    br {
        display: none;
    }

    &.mode-select button.select {
        box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3);
    }

    .functions {
        text-align: center;
        margin-bottom: 0;

        button,button {
            margin-bottom: 1em;
        }

        .context-title{
            display: inline;
        }
    }

    .search-box {
        position: relative;
        margin-bottom: 1.5em;

        label {
            position: relative;

            input[type="search"] {
                line-height: 2;
                margin: 0;
                padding-left: $base-space * 1.25;
                position: relative;
                width: 100%;
                background-color: #fcfcfc
            }

            button {
                @include element-invisible;
                // TODO Contact Cornelis, as need accessible no-js fallback
            }

            &.focus {
                &::before {
                    color: $colour-accent;
                }
            }

            &::before {
                content: '\1f50d';
                font-family: fontello;
                left: 0.5em;
                line-height: 1;
                margin-top: -.5em;
                position: absolute;
                top: 50%;
            }
        }
    }

    .search-result {
        border-top: 1px solid rgba(0,0,0,0.2);

        .item {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            display: block;
            position: relative;
            color: $colour-primary;
            -webkit-user-select: none;
            user-select: none;
            padding: 0;

            .follow {
                display: block;
                color: $colour-primary;
                padding: 0.5em 1.5em 0.5em 3em;
                position: relative;
                z-index: -1;
                border-left: 2.25em solid #efefef;
                -webkit-transition: 0.4s border;
                transition: 0.4s border;
            }

            &.user .follow{
                padding-left: 4em;
            }


            &.folder:after {
                font-family: fontello;
                content: '\e75e';
                position: absolute;
                right: 1em;
                top: 50%;
                margin-top: -0.7em;
                -webkit-transition: 0.4s all;
                transition: 0.4s all;
            }

            img {
                @include avatar($border-radius: 3em, $border: 1px solid blacken(white, 50%), $height: 3em, $width: 3em);
                position: absolute;
                left: 0.5em;
                top: 0.5em;
            }

            .title {
                @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                display: block;

                &:before {
                    font-family: fontello;
                    font-size: 1.4em;
                    position: absolute;
                    left: 0.6em;
                    top: 50%;
                    margin-top: -0.5em;
                    font-weight: normal;
                    -webkit-transition: 0.4s left;
                    transition: 0.4s left;
                }
            }

            &.document .title:before {
                content: '\e811';
                -webkit-transition: opacity 5s;
                transition: opacity 5s;
            }


            &.folder .title:before {
                content: '\1f4c1'
            }

            &.back .title:before {
                content: '\e4a1';
                left: 1.1em;
            }

            .byline {
                // @include ellipsis($overflow: hidden, $text-overflow: ellipsis, $white-space: nowrap);
                display: block;
            }

            &.checked {

                .follow {
                    background-color: $colour-accent;
                    color: white;
                }

                color: white;
                border-bottom-color: white;
            }

            &:hover,
            &:focus {
                background-color: rgba(0,0,0,0.03);
            }

            &::before {
                font-size: 1.2em;
                position: absolute;
                top: 50%;
                margin-top: -0.5em;
                margin-left: 0.5em;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
                color: $colour-primary;
            }
        }
    }

    &.mode-follow {
        .select-buttons,
        .search-result .button-bar {
            display: none;
        }

        .search-result fieldset .item {
            &::before {
                opacity: 0;
                margin-left: 0em;
            }
            .follow {
                z-index: 0;
                border-left: 0 solid #efefef;
                padding-right: 2.5em;
            }
        }
    }

    &.mode-select {
        .search-result fieldset .item {
            &.folder:after {
                right: -1em;
                opacity: 0;
            }
            .follow {

            }
        }
    }
}
