@charset "UTF-8";

.list-extend {

    .list {
        margin: 10px 0;
        border-top: 1px solid rgba(0,0,0,0.2);

        .item {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            display: block;
            position: relative;
            color: $colour-primary;
            -webkit-user-select: none;
            user-select: none;
            padding: 0.5em 1.5em 0.5em 3em;
            position: relative;
            -webkit-transition: 0.4s border;
            transition: 0.4s border;
            height: 70px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.user {
                padding-left: 4em;
            }

	    &.full,
            &.empty {
                height: 100%;
	        text-overflow: clip;
	        white-space: normal;
            }

            &.empty {
                padding: 5px;
            }

            &.folder:after {
                font-family: fontello;
                content: '\e75e';
                position: absolute;
                right: 1em;
                top: 50%;
                margin-top: -0.7em;
                -webkit-transition: 0.4s all;
                transition: 0.4s all;
            }

            img {
                @include avatar($border-radius: 3em, $border: 1px solid blacken(white, 50%), $height: 3em, $width: 3em);
                position: absolute;
                left: 0.5em;
                top: 0.5em;
            }

            .right {
                float: right;
	    }

            .font-small {
                font-size: 0.7em;
            }

            .title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;

                &:before {
                    font-family: fontello;
                    font-size: 1.4em;
                    position: absolute;
                    left: 0.6em;
                    top: 50%;
                    margin-top: -0.5em;
                    font-weight: normal;
                    -webkit-transition: 0.4s left;
                    transition: 0.4s left;
                }
            }

            &.document .title:before {
                content: '\e811';
                -webkit-transition: opacity 5s;
                transition: opacity 5s;
            }


            &.folder .title:before {
                content: '\1f4c1'
            }

            &.back .title:before {
                content: '\e4a1';
                left: 1.1em;
            }

            .byline {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }

            &.checked {

                .follow {
                    background-color: $colour-accent;
                    color: white;
                }

                color: white;
                border-bottom-color: white;
            }

            &:hover,
            &:focus {
                background-color: rgba(0,0,0,0.03);
            }

            &::before {
                font-size: 1.2em;
                position: absolute;
                top: 50%;
                margin-top: -0.5em;
                margin-left: 0.5em;
                -webkit-transition: 0.2s all;
                transition: 0.2s all;
                color: $colour-primary;
            }
        }
    }

}
