@charset "UTF-8";

.logo {

}

.logo#site-logo {
	float: left;
	margin-right: 14px;
	
	@include screen-size(small) {
		display: none;
	}
}

.logo#site-logo img {
	height: 19px;
	margin-top: 6px;
	opacity: 0.6;
}