@charset "UTF-8";

.metadata {
  background-color: rgba(255,255,255,0.9);
  color: gray;
  margin-right: 0;
  margin-left: 0;
  padding: 6% 6% 0;
  -moz-transition: padding 0.5s;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;

  .select2-choices {
    border: none;
  }

  .select2-container-multi .select2-choices .select2-search-choice {
    margin: 0 0.5em 0 0;
  }

  .select2-container-multi .select2-choices .select2-search-field {
    height: 1.5em;
    padding: 0 0 0 0;
  }

  .bar {
    border-bottom: 1px solid silver;
    -moz-transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    transition: padding 0.5s;
    margin-bottom: 0;

    input[type="text"],
    textarea {
      background: none;
      padding: 0.1em 0;
      margin: 0;
      display: block;
      width: 100%;
      resize:none;
    }
  }

  &.bumped {
    padding: 0;
    // border-bottom: 1px solid silver;

    .meta-bar {
      border-top: none;
    }

    .meta-bar,
    .bar {
      padding: 0 2%;
    }
  }

  .meta-extra {
    padding: 0;
    margin: 0;
    overflow: hidden; // To prevent a grey bar from appearing underneath the extra arrea when expanded
  }

  .meta-bar {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow: hidden;
    position: relative;
    -moz-transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    transition: padding 0.5s;

    .doc-title {
      font-size: 1em;
      float: left;
      font-weight: normal;
      line-height: 1.5em;

      &.pat-content-mirror {
        // background: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        padding-top: 0.15em;
        padding-top: 0;
        // height: 0.8em;
        overflow: hidden;
        opacity: 0;
        width: 100%;
        height: 1.4em;

        &:focus {
          opacity: 1;
          -moz-box-shadow: inherit;
          -webkit-box-shadow: inherit;
          box-shadow: inherit;
          background-color: transparent;
          color: rgba(0,0,0,0);
        }
      }
    }

    button, 
    label.pat-select {
      font-size: 1em;
      padding: 0 0.5em;
      line-height: 1.2em;
      margin-left: 0;
      margin-right: 0;
      border-radius: 0.2em;
    }

    .quick-functions {
      float: right;
      position: relative;
      z-index: 1;

      a {
        color: gray;
        margin-left: 0.3em;
        display: inline-block;
        line-height: 1.5em;
        float: left;

        &.collapsible-open {
          color: $colour-accent;
        }
      }

      fieldset {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      label.pat-select {
        margin-left: 0.3em;

        &:before {
          font-family: fontello;
          content: '\e82c';
          position: relative;
          top: 0.08em;
        }

        &[data-option='Private'] {
          background-color: #d561a4;
          color: white;
        }
        &[data-option='Members'] {
          background-color: #f38300;
          color: white;
        }
        &[data-option='Public'] {
          background-color: #65c981;
          color: white;
        }
        &[data-option='Pending'] {
          background-color: #ff0201;
          color: white;
        }
        &[data-option='Logged in'] {
          background-color: #008f51;
          color: white;
        }
        &[data-option='Internal'] {
          background-color: #ff2f92;
          color: white;
        }
        &[data-option='Everyone'] {
          background-color: whitesmoke;
        }
      }
    }
  }
}


#document-body div.metadata .select2-container input {
  padding: 0;
  border-style: none;
}