/* @group Meta data */

/* @group Meta data panel */

#document-body div.metadata {
  background-color: transparent;
  margin-right: 0;
  margin-left: 0;
  padding: 3rem 4rem 0;
  .quick-functions {
    position: absolute;
    top: 3rem;
    right: 77px;
    line-height: 26px;
    fieldset {
      display: inline-block;
      margin-left: 5px;
      float: right;
      margin-top: -1px;
    }
    select {
      border-style: none;
      font-size: 0.9em;
    }
    span {
      &[data-option='Private'] select {
        background-color: #d561a4;
        color: white;
      }
      &[data-option='Workspace Members Only'] select {
        background-color: #f38300;
      }
      &[data-option='Public'] select {
        background-color: #65c981;
        color: white;
      }
      &[data-option='Pending review'] select {
        background-color: #ff0201;
      }
      &[data-option='Logged in only'] select {
        background-color: #008f51;
      }
      &[data-option='Internal'] select {
        background-color: #ff2f92;
        color: white;
      }
      &[data-option='Externally visible'] select {
        background-color: #00b8ca;
      }
      &[data-option='Everyone'] select {
        background-color: whitesmoke;
      }
    }
    .icon {
      height: 30px;
      font-size: 16px;
      margin: 3px 0 0 12px;
      padding: 0;
      float: left;
      color: gray;
    }
  }
  input[type="text"], textarea {
    border-style: none;
    box-shadow: none;
    outline: none;
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid silver;
    background-color: transparent;
  }
  input.doc-title {
    border-top: 1px solid silver;
    padding-right: 330px;
    height: 27px;
  }
  label.pin {
    text-indent: -1000px;
    border-style: none;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    position: relative;
    &:before {
      content: '\1f4cc';
      position: absolute;
      top: 0;
      left: 0;
      text-indent: 0;
      transform: rotate(45deg);
      text-align: left;
      margin-top: 4px;
      margin-bottom: 0;
      margin-left: 0;
    }
    &.checked {
      color: #0181be;
    }
  }
  a.icon {
    &.comment {
      border-style: none;
      overflow: hidden;
      display: inline-block;
      &.active! {}
      strong {
        font-size: 9px;
        font-weight: normal;
        font-style: normal;
        color: white;
        position: absolute;
        top: 2px;
        width: 30px;
        text-align: center;
        line-height: 16px;
      }
      em {
        display: none;
      }
    }
    &.share {
      margin-top: 5px;
    }
  }
}

/* @group Dropdown */

/* @end */

fieldset.meta-extra {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  .panel-content {
    background-color: white;
    border-bottom: 1px solid #b0b0b0;
    color: black;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  > p.legend {
    border-style: none;
    display: inline;
    left: auto;
    position: absolute;
    width: 30px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    cursor: pointer;
    z-index: 10;
    float: right;
    overflow: hidden;
    padding: 24px 0 0;
    text-align: center;
    line-height: 30px;
    filter: none;
    height: 0;
    margin-right: 28px;
    top: 29px;
    right: 20px;
    &:before {
      text-indent: 0;
      position: absolute;
      right: 4px;
      top: 1px;
      font: 17px fontello;
    }
  }
  &.closed > p.legend:before {
    content: "\e705";
  }
  &.open > p.legend:before {
    color: #3381be;
    content: "\e705";
  }
  .versioning {
    border: 1px solid silver;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 3px 10px 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: rgba(254, 255, 254, 0.68);
    border-radius: 4px;
    textarea {
      margin-bottom: 0;
    }
    .new-version-details {
      padding-bottom: 6px;
    }
  }
}

/* @end */

/* @group Tagging bar */

form#keywords {
  background-color: transparent;
  border-bottom: 1px solid #b6b6b6;
  padding: 0;
  z-index: 2;
}

#document-body.content-link form#keywords {
  left: 0;
}

form#keywords .select2-container {
  padding: 0;
  height: 23px;
  .select2-choices {
    width: 100%;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-style: none;
    padding: 0;
    margin: 0;
  }
}

#document-body div.metadata .select2-container input {
  padding: 0;
  border-style: none;
}

/* @end */

/* @end */