@charset "UTF-8";

.metadata {
  background-color: white;
  margin-right: 0;
  margin-left: 0;
  padding: 3rem 6% 2em;

  .meta-bar {
    border-top: 1px solid silver;
    overflow: hidden;

    .doc-title {
      font-size: 1em;
      float: left;
    }

    .quick-functions {
      float: right;

      fieldset {
        display: inline-block;
        margin: 0;
        padding: 0;
      }

      label.pat-select {
        font-weight: bold;

        &[data-option='Private'] {
          color: #d561a4;
        }
        &[data-option='Workspace Members Only'] {
          color: #f38300;
        }
        &[data-option='Public'] {
          color: #65c981;
        }
        &[data-option='Pending review'] {
          color: #ff0201;
        }
        &[data-option='Logged in only'] {
          color: #008f51;
        }
        &[data-option='Internal'] {
          color: #ff2f92;
        }
        &[data-option='Externally visible'] {
          color: #00b8ca;
        }
        &[data-option='Everyone'] {
          color: whitesmoke;
        }
      }
    }
  }
}


#document-body div.metadata .select2-container input {
  padding: 0;
  border-style: none;
}