div.pat-modal {
  animation: fade-in 1s;
  -webkit-box-sizing: border-box;
  position: fixed;
  z-index: 9998;
  background-color: #efefef;
  border: 1px solid black;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  width: 500px;
  box-shadow: 0 0 2em 0.8em black;
  margin-left: -250px;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  .panel-content {
    background-color: white;
    padding: 1.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  &.max-height .panel-content {
    overflow: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 37px;
    z-index: 1;
  }
  &.large {
    width: 800px;
    margin-left: -400px;
  }
  &.small {
    width: 400px;
    margin-left: -200px;
  }
  img {
    max-width: 100%;
  }
  &:after {
    content: " ";
    display: block;
    position: fixed;
    top: -10000px;
    right: -10000px;
    bottom: -10000px;
    left: -10000px;
    background-color: white;
    z-index: -1;
    opacity: 0.8;
  }
}

/* @group Special sizes */

/* @end */

.lt-ie9 div.pat-modal:after {
  top: -10000px;
  left: -10000px;
  filter: alpha(opacity = 80);
  background-color: transparent;
  background-image: url(white-80p.png);
}

.pat-modal {
  .wizard-box {
    margin: -20px;
  }
  &.max-height .wizard-box {
    overflow: hidden;
  }
  .wizard-box .panel-body {
    overflow: auto;
    padding: 1.5em;
    background-color: white;
    margin-bottom: 0;
    margin-top: 0;
  }
}

div.pat-modal {
  &.max-height .panel-body {
    position: absolute;
    top: 0;
    bottom: 51px;
    right: 0;
    left: 0;
  }
  &.tiny-link .wizard-box .panel-body {
    overflow: hidden;
  }
}

.pat-modal .wizard-box .panel-footer {
  margin: 0;
  padding: 12px 20px;
  border-top: 1px solid silver;
  height: 26px;
  background-color: #efefef;
}

div.pat-modal.max-height .panel-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pat-modal .header {
  padding: 0.5em 1.5em;
  border-bottom: 0.1em solid silver;
  height: 1em;
  background-color: white;
  position: relative;
  z-index: 1;
  h1, h3, h4 {
    margin: 0;
    font: 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 1px;
  }
  .close-panel {
    position: absolute;
    top: 7px;
    right: 20px;
    line-height: 22px;
    height: 22px;
    width: 22px;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    margin: 0;
    filter: none;
    border-style: none;
    border-radius: 50%;
    background-image: none;
    outline: none;
  }
}

#redactor_modal_close {
  position: absolute;
  top: 7px;
  right: 20px;
  line-height: 22px;
  height: 22px;
  width: 22px;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  margin: 0;
  filter: none;
  border-style: none;
  border-radius: 50%;
  background-image: none;
  outline: none;
}

.pat-modal .header .close-panel:before, 
#redactor_modal_close:before {
  content: "\e813";
  text-indent: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  font: normal 20px/23px fontello;
}