@charset "UTF-8";

div.pat-modal {
  -webkit-box-sizing: border-box;
  position: fixed;
  z-index: 9998;
  background-color: #efefef;
  box-shadow: 
    0 0.1em 0.4em black,
    0 0.1em 0.4em black,
    0 0.1em 0.4em black
  ;
  // background-clip: padding-box;
  width: 500px;
  margin-left: -250px;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 20px;

  .panel-content {
    background-color: white;
    padding: 1.5em;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  &.max-height .panel-content {
    overflow: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 37px;
    z-index: 1;
  }

  &.large {
    width: 800px;
    margin-left: -400px;
  }

  &.small {
    width: 400px;
    margin-left: -200px;
  }

  img {
    max-width: 100%;
  }

  &:before {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    content: " ";
    display: block;
    z-index: 2;
    border: 1px #dedede solid;

    -moz-pointer-events:none;  
    -webkkt-pointer-events:none;  
    pointer-events:none;  
  }

  &:after {
    content: " ";
    display: block;
    position: fixed;
    top: -10000px;
    right: -10000px;
    bottom: -10000px;
    left: -10000px;
    background-color: rgba(255,255,255,0.95);
    z-index: -1;
    opacity: 0;

    -moz-animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    -webkit-animation-fill-mode: forwards;
  }
}

.pat-modal {
  .wizard-box {
    margin: -1.5em;
  }

  &.max-height .wizard-box {
    overflow: hidden;
  }

  .wizard-box .panel-body {
    overflow: auto;
    padding: 1.5em;
    background-color: white;
    margin-bottom: 0;
    margin-top: 0;
  }
}

div.pat-modal {

  &.max-height .panel-body {
    position: absolute;
    top: 0;
    bottom: 51px;
    right: 0;
    left: 0;
  }

  &.tiny-link .wizard-box .panel-body {
    overflow: hidden;
  }
}

.pat-modal .wizard-box .panel-footer {
  margin: 0;
  padding: 0.5em 1.5em;
  border-top: 1px solid #dedede;
  height: 1.6em;
  background-color: #efefef;
}

div.pat-modal.max-height .panel-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pat-modal .header {
  color: gray;
  padding: 0.5em 1.5em;
  border-bottom: 0.1em solid #dedede;
  height: 1em;
  background-color: white;
  position: relative;
  z-index: 1;
  h1, h3, h4 {
    margin: 0;
    font: 16px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 1px;
  }
  .close-panel {
    position: absolute;
    color: gray;
    top: 7px;
    right: 20px;
    line-height: 22px;
    height: 22px;
    width: 22px;
    padding: 0;
    text-indent: -1000px;
    overflow: hidden;
    margin: 0;
    filter: none;
    border-style: none;
    border-radius: 50%;
    background-image: none;
    outline: none;
  }
}

#redactor_modal_close {
  position: absolute;
  top: 7px;
  right: 20px;
  line-height: 22px;
  height: 22px;
  width: 22px;
  padding: 0;
  text-indent: -1000px;
  overflow: hidden;
  margin: 0;
  filter: none;
  border-style: none;
  border-radius: 50%;
  background-image: none;
  outline: none;
}

.pat-modal .header .close-panel:before, 
#redactor_modal_close:before {
  content: "\e813";
  text-indent: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  font: normal 20px/23px fontello;
}