.nav-tile {
	float: left;
	width: 34%;
	margin: 0 8%;
	padding: 0 5%;
	@include box-sizing(border-box);
	background-color: rgba(0,0,0,0.15);

	h3 {
		padding-top: 3em
	}

	&:after {
		content: " ";
		display: block;
		height: 4em
	}

	@include respond-max($mobile) {
		float: none;
		width: auto;
		margin-bottom: 2em;
	}
}