@charset "UTF-8";

.notifications {
  border-top: solid 0.1em $colour-base;
  margin-bottom: 1em;
}

.notification {
  border-bottom: solid 0.1em $colour-base;
  overflow: hidden;
  padding-left: 2.7em;

  .image {
    float: left;
    margin: 0.3em 0.5em 0 -2.7em;

    img {
      width: 2.25em;
      float: left;
      border-radius: 50%;
    }
  }

  .datestamp {
    display: block;
    color: gray;
    font-size: 0.9em;
    font-style: italic;
    margin-top: -0.2em;
  }
}

#notifications {
  .all-notifications {
    display: none;
  }

  ul.notifications {
    li {

      &:before {
        display: none;
      }

      padding-left: 2.7em;
    }
  }
}

.tooltip-container {
  #notifications {
    .all-notifications {
      display: block;
    }
  }
}