.pattern-tile {
	width: 150px;
	color: white;
	text-decoration: none;
	float: left;
	margin: 0 10px 20px;
	padding-bottom: 15px;
	
	figure {
		
		img {
			width: 100%;
	}
		figcaption {
			text-align: center;
		}
	}
}

.cat-form {
	@extend .pattern-tile;
	background-color: $cat-form;
}

.cat-layout {
	@extend .pattern-tile;
	background-color: $cat-layout;
}