@charset "UTF-8";

.portlet {
	@include screen-size(small) {
		display: none;
	}

	margin-bottom: 2rem;

	.portlet-title {
		margin: 0 0 1rem 0;
		font-size: 1.2;
		font-weight: 300;
	}

	.link {
		padding: 0.2em 0;
		
		&:hover {
			text-decoration: none;
		}
	}

	.portlet-footer {
		font-size: 0.8em;
	}

	.title {
		margin: 0;
		font-size: 1em;
		font-weight: normal;
	}

	.byline {
		color: #666;
		font-size: 0.8em;
		line-height: 1.3em;
		font-style: italic;
		margin: 0;
	}

	h3 {
		font-size: 1em;
		font-weight: 300;
	}
}

