.post {
  border: solid 1px silver;
  background-color: white;
  padding: 1em;
  border-top-left-radius: 2.2em;

  .post-header {
    padding: 0 0 0 3.5em;
    position: relative;
    height: 3.5em;

    .pat-avatar {
      position: absolute;
      left: 0;
      width: 2.8em;
      height: 2.8em;
    }

    .byline { 
      color: gray;

      label.pat-select.visibility {
        color: gray;
        &:hover {color:black}

        &:before {font-size: 0.8em;}
      }
    }
  } 

  .post-content {
  //   font-size: 0.9em;
  //   line-height: 1.5em;

    p,ul,ol,dl,table,pre {
      margin: 0 0 1em 0;
    }
  }

  .functions {
    margin: 0 0 0.5em 0
  }

  .preview {
    background-color: #efefef;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .update-social fieldset {
    margin: 0;
  }
}