@charset "UTF-8";

.post {
  border: solid 0.065rem #dedede;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
  border-top-left-radius: 2.2em;
  // margin-bottom: 2em;

  .post {
    font-size: 0.8em;
    // border-radius: 0;
    padding: 1em 0 0 1em;
    margin-bottom: 1em;
    border-left: 0.5em solid $colour-base;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: auto;
  }

  .post-header {
    padding: 0 0 0 3.5em;
    position: relative;
    margin-bottom: 0.3em;

    br {
      display: none;
    }
    
    .icon-cog {
      position: absolute;
      right: 0;
      top: 0.3em;
    }

    .pat-avatar {
      position: absolute;
      left: 0;
      width: 2.8em;
      height: 2.8em;
    }

    .byline { 
      color: gray;
      margin-bottom: 0.5em;

      label.pat-select.visibility {
        color: gray;
        &:hover {color:black}

        &:before {font-size: 0.8em;}
      }
    }
  } 

  .post-content {
  //   font-size: 0.9em;
  //   line-height: 1.5em;

    p,ul,ol,dl,table,pre {
      margin: 0 0 1em 0;
    }
  }

  .functions {
    margin: 0 0 0.5em 0;
    font-size: 0.8em;

    form {
      display: inline;
    }

    a,
    button {
      color: gray;
      padding: 0 0.6em 0 0;
      cursor: default;
      background: none;
      border: none;

      &:active {
        box-shadow: none;
      }

      &:hover {
        color: black;
        text-decoration: none;
      }

      &:before {
        display: inline-block;
        padding: 0 0.2em 0 0;
      }

      &.active {
        color: $colour-accent;
        box-shadow: none;
      } 
    }

    .like {
      &:before {
        font-family: fontello;
        content: '\e801'
      }
    }

    .share {
      &:before {
        font-family: fontello;
        content: '\e80a'
      }
    }
  }

  .preview {
    background-color: #efefef;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
  
  .comments {
    background-color: #f8f8f8;
    margin: 0 -1em -1em;
    // padding: 1em;

    .comment {
      padding-top: 1.2em;

      .pat-avatar {
        top: 1.6em;
      }

      &:before {
        content: " ";
        display: block;
        background-color: silver;
        height: 0.05em;
        width: 60%;
        margin: 0 0 0 -30%;
        position: absolute;
        left: 50%;
        top: 0.3em;
      }

      &:first-child {
        // padding-top: 0;

        .pat-avatar {
          // top: 0.2em;
        }

        &:before {
          display: none;
        }
      }
    }
  }

  .update-social fieldset {
    margin: 0;
  }
}