@charset "UTF-8";

fieldset.question {
  &:before {
      font-family: fontello;
      font-size: 1.2em;
      content: "\270e";
      position: absolute;
      top: 25px;
      left: 64px;
      opacity: 0.5;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
  }
  &.focus:before {
      opacity: 0;
      left: 54px;
  }
  textarea.question {
    font-size: 1.2em;
    height: 41px;
    border: none;
    padding-left: 36px;
    background: rgba(255,255,255,0.6) no-repeat 7px 7px;
    background-size: auto;
    line-height: 25px;
    overflow: hidden;
    resize: none;
    padding-top: 8px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    &:focus {
      background-color: white;
      overflow: auto;
    }
    &::-webkit-input-placeholder, &::-moz-placeholder, &::placeholder {
      color: rgba(0,0,0,0.5);
    }
  }
  &.focus textarea.question, &.inforeq-attached textarea.question {
    height: 100px;
    border-color: #9ead9c;
    padding-left: 5px;
    background-position: -20px 7px;
    margin-bottom: 0;
  }
  p.attachments {
    height: 0;
    overflow: hidden;
    margin: 0;
    transition: all 0.2s;
  }
  &.inforeq-attached p.attachments {
    height: 100px;
    border-color: #9ead9c;
    background-position: -20px 7px;
    margin-bottom: 0;
    width: 100%;
    img {
      height: 100px;
      float: left;
      margin: 0 6px 4px 0;
    }
  }
  .button-bar {
    color: rgba(0,0,0,0.5);
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    opacity: 0;
  }
  fieldset.attachments {
    display: inline;
    margin-right: 15px;
  }
  .button-bar label.checkbox {
    margin-right: 20px;
  }
  &.focus .button-bar, &.inforeq-attached .button-bar {
    height: 76px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
  }
}

form#post-form {
  padding: 17px 50px 7px;
  background-color: $colour-post;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 2em;
}

#sidebar form#post-form {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
}

form#post-form fieldset.question {
  margin-bottom: 0;
  background-image: none;
}