.post {
  border: solid 1px #dedede;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
  border-top-left-radius: 2.2em;
  // margin-bottom: 2em;

  .post-header {
    padding: 0 0 0 3.5em;
    position: relative;
    margin-bottom: 0.3em;

    br {
      display: none;
    }
    
    .icon-cog {
      position: absolute;
      right: 0;
      top: 0.3em;
    }

    .pat-avatar {
      position: absolute;
      left: 0;
      width: 2.8em;
      height: 2.8em;
    }

    .byline { 
      color: gray;

      label.pat-select.visibility {
        color: gray;
        &:hover {color:black}

        &:before {font-size: 0.8em;}
      }
    }
  } 

  .post-content {
  //   font-size: 0.9em;
  //   line-height: 1.5em;

    p,ul,ol,dl,table,pre {
      margin: 0 0 1em 0;
    }
  }

  .functions {
    margin: 0 0 0.5em 0
  }

  .preview {
    background-color: #efefef;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }
  
  .comments {
    background-color: #f8f8f8;
    margin: 0 -1em -1em;
    // padding: 1em;

    .comment {
      padding-top: 1.2em;

      .pat-avatar {
        top: 1.6em;
      }

      &:before {
        content: " ";
        display: block;
        background-color: silver;
        height: 0.05em;
        width: 60%;
        margin: 0 0 0 -30%;
        position: absolute;
        left: 50%;
        top: 0.3em;
      }

      &:first-child {
        padding-top: 0;

        .pat-avatar {
          top: 0.2em;
        }

        &:before {
          display: none;
        }
      }
    }
  }

  .update-social fieldset {
    margin: 0;
  }
}