@charset "UTF-8";

/* @group Search global */

form.search {
  padding-left: 0;
  line-height: 1.3em;
  text-align: left;
  overflow: hidden;
  font-size: 16px;
  position: relative;
  float: right;


  fieldset.search label.type:after {
    clear: both;
    position: absolute;
    top: 55px;
    left: 5px;
  }

  input.search {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 0.25em;
    opacity: 0;
    filter: alpha(opacity = 0);
    cursor: default;
    box-sizing: border-box;
    width: 360px;
    transition: all 0.2s;
    height: 27px;
    z-index: 0;
  }

  button[type="submit"] {
    position: absolute;
    left: -100000px;
  }

  &.state-open input.search {
    opacity: 1;
    right: 5px;
    left: 5px;
    cursor: text;
    margin-right: 5px;
    filter: alpha(opacity = 100);
  }

  button[type="reset"] {
    position: absolute;
    top: 10px;
    right: -40px;
    margin: 0;
    font-size: 18px;
    color: gray;
    background: transparent;
    z-index: 1000;
    padding: 0;
    line-height: 18px;
    /* Next lines for global header out of global nav ocntext */
    height: 18px;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
  }

  fieldset.search {
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 1000;
    padding: 25px 5px 5px;
    background-color: rgba(254, 255, 255, 0);
    width: 8px;
    height: 0;
    overflow: hidden;
    transition: all 0.2s;
    border: 1px solid rgba(0, 0, 0, 0);
    opacity: 1;
    border-top-style: none;
    margin-bottom: 0;
    &:before {
      content: "\1f50d";
      position: absolute;
      top: 6px;
      left: 0;
      font: 18px fontello;
      opacity: 1;
    }
  }
}

#global-nav-search.state-open fieldset.search {
  &:before {
    opacity: 0;
  }
  background-color: white;
  border: 1px solid silver;
  height: 54px;
  width: 360px;
  padding-top: 35px;
}

form.search fieldset.search label.type {
  clear: both;
  margin-bottom: 0;
  color: gray;
}

.-moz- form.search.state-closed fieldset.search label.type, .lt-ie9 form.search.state-closed fieldset.search label.type {
  display: none;
}

#global-nav-search.state-open button[type="reset"] {
  right: 8px;
}

#global-header form.search select {
  margin: 0;
}

/* @group Select2 exceptions */

form.search .search.tag .select2-container {
  margin-bottom: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
}

.lt-ie9 form.search .search.tag .select2-container {
  width: 97% !important;
}

form.search {
  .search.tag .select2-choices {
    width: 100%;
  }
  .select2-container-multi .select2-choices .select2-search-choice {
    margin-top: 2px;
  }
}

/* @end */

/* @end */