@charset "UTF-8";

form.search {

    label {
      position: relative;

      &:before {
        content: "\1f50d";
        position: absolute;
        top: 0.15em;
        left: 6px;
        font: 18px fontello;
        opacity: 1;
      }

      input.search {
        padding-left: 1.5em;
      }
    }
    
    button[type="submit"] {
      @include screen-size(small) {
        display: none;
      }
    }
}

#global-search {
  padding-top: 6%;

  fieldset.search {
    font-size: 2em;
    position: relative;
    
    label {
      position: absolute;
      left: 0;
      top: 0;
      right: 2.15em;
      float: left;

      input {
        background-color: white;
        border: 1px silver solid;
        border-right: none;
        padding-left: 0.5em;
        width: 100%;
        height: 1.95em;
        line-height: 1.8em;
        float: left;
      }
    }

    button {
      width: 2.2em;
      float: right;
      text-align: center;
      margin: 0;
      line-height: 1.8em;
      text-indent: -100em;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 2em;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:before {
        content: "\1f50d";
        font-family: fontello;
        text-indent: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 2.2em;
        line-height: 2.1em;
      }
    }
  }
}

#global-header {
  form.search {
    padding-left: 0;
    line-height: 1.3em;
    // margin-right: 0.5em;
    text-align: left;
    position: relative;
    float: right;

    label {

      input.search {
        background-color: white;
        color: black;
        opacity: 0;
        cursor: default;
        width: 0;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        height: 27px;
        margin-top: 2px;
        padding-left: 0.8em;
      }

      &.focus input.search {
        width: 14em;
        opacity: 1;
        padding-left: 1.5em;
        cursor: text;
      }
    }

    button[type="submit"] {
      position: absolute;
      @include screen-size(large) {
        left: -100000px;
      }
      @include screen-size(small) {
        display: block;
        left: 0;
        top: 0;
        width: 1em;
        height: 1.8em;
        opacity: 0;
      }
    }
  }
}