@charset "UTF-8";

#global-search {
  padding-top: 4%;

  .tabs {
    border-bottom: solid 1px #dedede;
  }

  fieldset.search {
    width: 80%;
    font-size: 2em;
    margin: 0 auto 0.5em;
    position: relative;
    
    label {
      position: absolute;
      left: 0;
      top: 0;
      right: 2.15em;
      float: left;

      input {
        background-color: white;
        border: 1px #dedede solid;
        border-right: none;
        padding-left: 0.5em;
        width: 100%;
        height: 1.95em;
        line-height: 1.8em;
        float: left;
      }
    }

    button {
      width: 2.2em;
      float: right;
      text-align: center;
      margin: 0;
      line-height: 1.8em;
      text-indent: -100em;
      border-color: #dedede;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 2em;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:before {
        content: "\1f50d";
        font-family: fontello;
        text-indent: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 2.2em;
        line-height: 2.1em;
      }
    }
  }

  div.results {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 6%;
    position: relative;

    .filters {
      font-size: 0.9em;

      @include screen-size(small) {
        display: none;
      }
    }

    &.office-files {
      margin-left: -0.5em;
      margin-right: -0.5em;

      .item {
        width: 33.3%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.5em;
        float: left;
        color: gray;

        @include screen-size(small) {
          width: 100%;
        }

        &:hover {
          color: black;
          text-decoration: none;
          border-color: black;
        }

        figure {
          background-color: white;
          border: solid 1px #dedede;

          img {
            width: 100%;
          }
          figcaption {
            font-size: 0.8em;
            line-height: 1.2em;
            padding: 0.2em 0 0.4em;
            text-align: center;
          }
        }
      }
    }

    &.images {
      margin-left: -0.5em;
      margin-right: -0.5em;

      .item {
        width: 25%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.5em;
        float: left;
        color: gray;

        @include screen-size(small) {
          width: 100%;
        }

        &:hover {
          color: black;
          text-decoration: none;
          border-color: black;
        }

        figure {
          background-color: white;
          border: solid 1px #dedede;

          img {
            width: 100%;
          }
          figcaption {
            font-size: 0.8em;
            line-height: 1.2em;
            padding: 0.2em 0 0.4em;
            text-align: center;
          }
        }
      }
    }

    .document-listing {
      padding-bottom: 6%;

      @include screen-size(large) {
        padding-left: 4%;
        border-left: 1px #dedede solid;
      }
    }

    .search-results {
      .title {
        a {
          color: $colour-accent;
          font-weight: bold;
          padding-left: 30%;
          overflow: hidden;
          text-overflow: ellipsis; 
          white-space: nowrap;
          display: block;
        }
      }

      .description {
        margin-bottom: 1.5em;
        padding-left: 30%;

        .link {
          color: green;
          font-style: italic;
        }

        &:after {
          content: " ";
          display: table;
          clear: both;
        }

        .preview {
          float: left;
          margin-left: -43%;
          width: 35%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin-top: -1.2rem;
          background-color: white;
          border: 1px solid #dedede;

          img {
            width: 100%;
            float: left;
          }

          &.event {
            border: none;
            background-color: transparent;
            min-height: 8rem;

            time {
              background-color: #FAF9F2;
              border: 1px solid #dedede;
              -webkit-transform-origin: 0 0;
              -moz-transform-origin: 0 0;
              transform-origin: 0 0;
            }
          }

          &.rich {
            min-height: 10rem;
            padding: 3%;
            font-size: 0.7em;
            line-height: 1.2em;

            * {
              font-size: 1em;
              line-height: 1.2em;
            }
          }
        }

        a {
          color: black;

          &:hover {
            text-decoration: none;
          }

          .summary {
            color: black;
          }
        }
      }
    }
  }
}