/* @group Sidebar */

#content aside.sidebar.left {
  left: 0;
  position: absolute;
  top: 31px;
  bottom: 0;
  transition: all 0.2s;
  font-size: 0.8em;
  line-height: 20px;
  padding: 0;
  color: #434343;
  width: auto;
  z-index: 0;
  background-color: white;
  right: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: solid 1px silver;

  h3 {
    margin-bottom: 1em;
  }

  #sidebar-content {
    padding: 1em;
  }
}

body.application-workspace #content aside.sidebar.left {
  left: 50px
}

.sidebar-left-closed #content aside.sidebar.left {
  right: 100%;
}