@charset "UTF-8";

.tiles {
	margin: 0 auto;
	position: relative;
	// opacity: 0;
	transition: opacity 1s;

	&.packery-ready {
	  opacity: 1;
	}
	
	.tile {
		margin-bottom: 1em;

	  &.app {
	  	background-color: $colour-accent;
	  	width: 220px;

	  	.link {
	  		color: white;
	  		height: 220px;
	    	padding: 1em;
	  		-moz-box-sizing: border-box;
	  		-webkit-box-sizing: border-box;
	  		box-sizing: border-box;

	  		&:after {
	  			font-family: fontello;
	  			position: absolute;
	  			left: 0;
	  			top: 0;
	  			width: 100%;
	  			height: 220px;
	  			line-height: 220px;
	  			text-align: center;
	  			font-size: 100px;
	  		}

	  		h3 {
	  			font-size: 1em;
	  			font-weight: bold;
	  		}
	  	}

	  	&.app-contacts a:after {
	  		content: "\e816"
	  	}

	  	&.app-calendar {

			time.date {
				position: absolute;
				top: 105px;
				left: 0;
				right: 0;
				text-align: center;
				
				.date {
					display: block;
					font-size: 35px;
					font-weight: bold;
					line-height: 22px;
				}
				.month {
					display: block;
					font-size: 15px;
				}
			}

	  		a:after {
	  			content: "\E817"
	  		}
	  	}

	  	&.app-cms a:after {
	  		content: "\E815"
	  	}

	  	&.app-slide-bank a:after {
	  		content: "\E818"
	  	}

	  	&.app-image-bank a:after {
	  		content: "\1f304";
	  		font-size: 80px;
	  	}
	  }

	  .link {
	    display: block;
	    padding: 1.5em;
	    color: white;
	  	background-color: $colour-workspace-default;

  		&:hover {
	  		background-color: $colour-workspace-default;
  			text-decoration: none;
  		}

	    h3 {
	      font-weight: 100;
	      font-size: 2em;
	      line-height: 1.2em;
	    }

	    p {
	    	margin: 0.5em 0 0;
	    	opacity: 0.5;
	    	font-style: italic;
	    }
	  }
	}
}