
.timeline {
    padding: 4%;
    white-space: nowrap;
    text-align: center;
    overflow: auto;
    margin-bottom: 2em;
    letter-spacing: -0.2em;
    display: block;
    background-color: white;
    border: #dedede 1px solid;
    border-radius: 2em;

    .section {
        letter-spacing: 0em;
        display: inline-block;
        padding-top: 14em;
        padding-bottom: 1em;
        border-left: 0.1em dotted silver;
        border-right: 0.1em dotted silver;
        margin-right: -0.1em;
        position: relative;

        &.actioned {
            padding-right: 2em;
        }

        .action {
            position: absolute;
            right: -1.15em;
            bottom: 0.65em;
            border-radius: 50%;
            width: 1.95em;
            height: 1.95em;
            background-color: white;
            border: 0.2em orange solid;
            z-index: 1;

            &:after {
                content: " ";
                display: block;
                background-color: orange;
                height: 0.8em;
                width: 2em;
                position: absolute;
                right: 0.75em;
                top: 0.59em;
                left: -2em;
                z-index: -1;
            }

            .link {
                font-weight: bold;
                position: absolute;
                top: -1em;
                left: 2.2em;
                width: 15.5em;
                overflow: hidden;
                text-overflow: ellipsis;
                -moz-transform: rotate(-45deg);
                -moz-transform-origin: 0 center;
                -webkit-transform: rotate(-45deg);
                -webkit-transform-origin: 0 center;
                transform: rotate(-45deg);
                transform-origin: 0 center;
            }

            &.icon {

                &:before {
                    // border-radius: 50%;
                    display: block;
                    width: 1.9em;
                    height: 1.9em;
                    line-height: 1.65em;
                    position: absolute;
                    top: 0.25em;
                    left: -0.17em;
                    // background: white;
                    // border: 0.2em orange solid;
                    color: orange;
                    z-index: 2;
                }
            }

        }

        .section-label {
            color: gray;
            display: block;
            text-align: center;
            font-weight: normal;
            font-size: 1em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0.5em
        }

        .step-background {
            width: 1.7em;
            min-height: 1.7em;
            float: left;
            position: relative;
            margin-right: 1em;
            margin-left: 1em;

            &.illustrated:before {
                content: " ";
                position: absolute;
                left: 0.65em;
                top: 0;
                bottom: 0;
                width: 0.2em;
                background-color: silver;
            }

            .illustration {
                border-radius: 50%;
                width: 5em;
                height: 5em;
                overflow: hidden;
                float: left;
                margin: 3em -2.5em 0;
                position: relative;
                left: 0.55em;
                border: 0.2em silver solid;

                &.pos-1 {
                    margin-top: 3em;
                }

                &.pos-2 {
                    margin-top: 9em;
                }

                &.pos-3 {
                    margin-top: 6em;
                }
                
                a {
                    position: absolute;
                    left: -100em;
                    right: -100em;
                    top: 0;
                    bottom: 0;
                    text-align: center;

                    img {
                        height: 100%;
                        cursor: pointer;
                    }
                }
            }

            .step-label {

                &.icon {
                    // font-weight: bold;

                    &:before {
                        border-radius: 50%;
                        display: block;
                        // width: 2em;
                        // height: 2em;
                        margin: 0;
                        line-height: 1.9em;
                        width: 100%;
                        position: absolute;
                        // top: 0.1em;
                        // left: -0.5em;
                        // background: white;
                        // border: 0.2em orange solid;
                        color: white;
                        z-index: 2;
                    }
                }
            }

            &:after {
                content: " ";
                display: block;
                background-color: orange;
                height: 0.8em;
                width: 3em;
                position: absolute;
                right: 0.75em;
                top: 0.55em;
                z-index: 0;
            }

            &#item-1:after {
                display: none;
            }

            .step-label {
                position: absolute;
                top: 0.05em;
                border-radius: 50%;
                width: 1.8em;
                height: 1.8em;
                background-color: orange;
                display: block;

                .link {
                    text-decoration: none;
                    bottom: 1.5em;
                    left: 1.9em;
                    display: block;
                    white-space: nowrap;
                    position: absolute;
                    -moz-transform: rotate(-45deg);
                    -moz-transform-origin: 0 center;
                    -webkit-transform: rotate(-45deg);
                    -webkit-transform-origin: 0 center;
                    transform: rotate(-45deg);
                    transform-origin: 0 center;
                    background-color: white;
                    z-index: 1;
                    width: 15.5em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .text {
                  font-size: small;
            }
        }

        &.state-finished {
            .action {
                border-color: #23C27E;

                &:after {
                    background-color: #23C27E;
                }

                &:before {
                    color: #23C27E;
                }
            }

            .step-label {
                background-color: #23C27E;

                &.icon {
                    // font-weight: bold;

                    &:before {
                        border-color: #23C27E;
                        // color: white;
                    }
                }
            }

            .step-background {
                &:after {
                    background-color: #23C27E;
                }
            }
        }
    }

    .section.actioned + .section {
        padding-left: 2em;
    }
}