@charset "UTF-8";

#toolbar-main {
	font-size: 14px;
	height: 21px;
	padding: 5px 0;
	overflow: hidden;
	z-index: 1;
	white-space: nowrap;
	background: $colour-base;

	button.float-after,
	a.button.float-after,
	label.float-after,
	form.float-after input,
	form.float-after button {
		float: right;
		margin-right: 0;
		margin-left: 5px;
	}

	input {
		height: 22px;
		margin-right: 5px;
	}

	a.button.dropdown {
		padding-right: 1.1em;
	}

	button,
	a.button,
	label,
	*[data-option]:after,
	select {
		float: left;
		border: none;
		background-image: none;
		padding-left: 0.4em;
		padding-right: 0.4em;

		&.float-after {
			float: right;
		}
	}

	hr.divider {
		width: 22px;
		height: 22px;
		float: right;
		border-style: none;
	}

	form {
		display: inline-block;

		&.float-after {
			float: right;
		}
	}

	.document-controls {

	}
}