@charset "UTF-8";

.tooltip-container.hamburger-menu {
  // font-size: 1.5em;
  // line-height: 1.4em;

  a {
    display: block;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-bottom: -1px;
    padding: 0.3em 0;
    text-decoration: none;
    color: black;
  }
}