.update-social {
    position: relative;
    background-color: #fcfcfc;

    textarea,
    .content-mirror {
        padding-right: 2em;
        padding-left: 1em;
        padding-top: 0.4em;
        float: left;
        height: 2.3em;
        border: none;
        background: transparent;
        resize: none;
        -webkit-transition: height 0.4s;
        -moz-transition: height 0.4s;
        transition: height 0.4s;

        &:focus {
          outline: none;
          box-shadow: none;
        }
    }

    textarea {
        position: relative;
        z-index: 1;
    }

    .content-mirror {
        color: transparent;
        font-family: inherit;
        cursor: default;
        text-align: start;
        white-space: pre-wrap;
        vertical-align: text-bottom;
        overflow-x: scroll;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: -100%;
        .text .placeholder {
            font-style: normal;
            color: gray
        }

        .selected-users,
        .selected-tags {
            position: relative;
            z-index: 2;
            color: #222;
        }
    }

    &.status-active textarea,
    &.status-attach textarea,
    &.status-active .content-mirror,
    &.status-attach .content-mirror {
      height: 5.5em;
    }

    .icon-attach {
        color: #666;
        &:hover, &:active {
            color: black;
        }
        cursor: default;
        position: absolute;
        z-index: 2;
        height: 1.5em;
        right: 0.5em;
        top: 0.6em;

        input {
          position: absolute;
          opacity: 0;
          left: 0;
        }
    }

    .attachments {
      clear: both;
      margin: 0;

      .attachment-previews {
          margin: 0;
          clear: both;
          padding: 0 1em;
          font-style: italic;
          color: rgba(0,0,0,0.3);
          height: 0;
          overflow: auto;
          white-space: nowrap;
          transition: all 0.6s;

          img {
            height: 100%;
            display: inline-block;
            margin-right: 15px;
            box-shadow: 0 0 2px rgba(0,0,0,0.5)
          }
        }
    }



    &.status-attach
    .attachment-previews {
      height: 100px;
      padding: 1em;
    }

    .button-bar {
      background-color: $colour-base;
      height: 0;
      padding: 0 0.5em;
      overflow: hidden;
      margin: 0;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      label.visibility {
        color: #666;
        &:hover,&.focus { color: black }
      }

      .icon-users, button, label.visibility {
        float: right;
        margin: 0 0 0 0.5em;
      }

      br {
        display: none
      }
    }
    &.status-active,
    &.status-attach {
      .button-bar {
      height: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      }
    }
}
