@charset "UTF-8";

.update-social {
    position: relative;
    background-color: #fcfcfc;

    &#new-post-box {
        margin: 0 auto 1em;
        width: 80%;
    }

    textarea,
    .content-mirror {
        margin: 0;
        padding-right: 2em;
        padding-left: 1em;
        padding-top: 0.4em;
        line-height: 1.5em;
        float: left;
        height: 2.3em;
        border: none;
        background: transparent;
        resize: none;
        width: 100%;
        // -webkit-transition: height 0.4s;
        // -moz-transition: height 0.4s;
        // transition: height 0.4s;

        &:focus {
          outline: none;
          box-shadow: none;
        }
    }

    textarea {
        position: relative;
        z-index: 1;
    }

    .content-mirror {
        color: transparent;
        font-family: inherit;
        cursor: default;
        text-align: start;
        white-space: pre-wrap;
        vertical-align: text-bottom;
        overflow-x: hidden;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: -100%;
        .text .placeholder {
            font-style: normal;
            color: gray
        }

        .selected-users,
        .selected-tags {
            position: relative;
            z-index: 2;
            color: #222;
        }
    }

    &.status-active textarea,
    &.status-attach textarea,
    &.status-active .content-mirror,
    &.status-attach .content-mirror {
      height: 5.5em;
    }

    .icon-attach {
        color: #666;
        &:hover, &:active {
            color: black;
        }
        cursor: default;
        position: absolute;
        z-index: 2;
        height: 1.5em;
        right: 0.5em;
        top: 0.6em;

        input {
          position: absolute;
          opacity: 0;
          left: 0;
        }
    }

    .attachments {
      clear: both;
      margin: 0 !important; //is !important to override Plone style

      .attachment-previews {
          margin: 0 !important;  //is !important to override Plone style
          clear: both;
          padding: 0 1em;
          font-style: italic;
          color: rgba(0,0,0,0.3);
          height: 0;
          overflow: auto;
          white-space: nowrap;
          transition: all 0.6s;

          img {
            height: 100%;
            display: inline-block;
            margin-right: 15px;
            box-shadow: 0 0 2px rgba(0,0,0,0.5)
          }
        }
    }

    .shared-item {
      padding: 0 1em 0.5em 1em;
      overflow: hidden;
      // border-left: 0.3em #efefef solid;
      
      .preview {
        width: 36%;
        float: left;
        padding-top: 0.3em;

        img {
          background-color: white;
          border: 1px silver solid;
        }
      }

      &.has-preview {

        .summary {
          width: 60%;
          float: right;
        }
      }

      .title {
        margin-bottom: 0;
        font-size: 0.8em;
        line-height: 1.4em;
      }

      .byline {
        font-size: 0.8em;
        line-height: 1.4em;
        font-style: italic;
        margin-bottom: 0.5em;
      }
      
      .description {
        font-size: 0.8em;
        line-height: 1.4em;
        font-style: normal;
        color: gray;
        margin-bottom: 0.5em;
      }

      .share-quote {
        font-size: 0.8em;
        line-height: 1.4em;
        border-left: solid 0.3em silver;
        padding-left: 0.5em;
        font-style: italic;
        color: gray;
        margin-bottom: 0.5em;
      }
    }

    &.status-attach
    .attachment-previews {
      height: 100px;
      padding: 1em;
    }

    .button-bar {
      background-color: blacken($colour-base, 10);
      height: 0;
      padding: 0 0.5em;
      overflow: hidden;
      margin: 0;
      // -webkit-transition: all 0.4s;
      // -moz-transition: all 0.4s;
      // transition: all 0.4s;

      label.visibility {
        color: #666;
        &:hover,&.focus { color: black }
      }

      .icon-users, button, label.visibility {
        float: right;
        margin: 0 0 0 0.5em;
      }

      br {
        display: none
      }
    }
    &.status-active,
    &.status-attach {
      .button-bar {
      height: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      }
    }
}

.application-workspace #post-box {
  width: 80%;
  margin: 2em auto;
}

.pat-modal .update-social {
  margin: -1.5em -1.5em -1.55em -1.5em;
  float: left;

  > fieldset {
    margin: 0;
  }
}
