.update-social {
    position: relative;
    background-color: #fcfcfc;

    textarea {
        padding-right: 2em;
        // KLUDGE Create padding to prevent text and icon conflict
        float: left;
        height: 2.3em;
        border: none;
        background: transparent; 
        -webkit-transition: height 0.4s;
        -moz-transition: height 0.4s;
        transition: height 0.4s;  
        &:focus {
          outline: none;
          box-shadow: none;
          height: 5.5em;
        }
    }
    .icon-attach {
        color: #666;
        &:hover, &:active {
            color: black;
        }
        cursor: default;
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .foo-container {
        position: relative;
        .foo {
            left: 0;
            padding-right: 2em;
            padding: .5em;
            position: absolute;
            top: 0;
            &.foo-hide {
                display: none;
            }
        }
    }

    .button-bar {
      background-color: $colour-base;
      padding-left: 0.5em;
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      margin: 0;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;

      select {
        opacity: 0;
      }

      .icon-users, button {
        float: right;
      }

      br {
        display: none
      }
    }
    .focus {
      .button-bar {
      height: 1.5em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      }
    }
}

.update-social-l {
    position: relative;
    textarea {
        padding-right: 2em;
        // KLUDGE Create padding to prevent text and icon conflict
        float: left;
        border: none;
        background: transparent;   
    }
    .icon-attach {
        color: #666;
        &:hover, &:active {
            color: black;
        }
        cursor: default;
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .foo-container {
        position: relative;
        .foo {
            left: 0;
            padding-right: 2em;
            padding: .5em;
            position: absolute;
            top: 0;
            &.foo-hide {
                display: none;
            }
        }
    }

    .button-bar {
      background-color: $colour-base;
      padding-left: 0.5em;

      .icon-users, button {
        float: right;
      }

      br {
        display: none
      }
    }
}