.update-social {
    position: relative;
    textarea {
        padding-right: 2em;
        // KLUDGE Create padding to prevent text and icon conflict
        float: left;
        border: none;
        background: transparent;   
    }
    .icon-attach {
        color: #666;
        &:hover, &:active {
            color: black;
        }
        cursor: default;
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .foo-container {
        position: relative;
        .foo {
            left: 0;
            padding-right: 2em;
            padding: .5em;
            position: absolute;
            top: 0;
            &.foo-hide {
                display: none;
            }
        }
    }

    .button-bar {
      background-color: $colour-base;
      padding-left: 0.5em;

      .icon-users, button {
        float: right;
      }

      br {
        display: none
      }
    }
}