.user-list {


    .item {
        border-top: 1px solid rgba(0,0,0,0.2);
        border-bottom: 1px solid rgba(0,0,0,0.2);
        margin-bottom: -1px;
        display: block;
        position: relative;
        color: $colour-primary;
        padding: 0;

        .follow {
            display: block;
            color: $colour-primary;
            padding: 0.5em 1.5em 0.5em 4.1em;
            
            &:hover {
                text-decoration: none;
            }
        }

        br {
            display: none;
        }

        .functions {
            float: right;
            padding-top: 1.4em;


            .label {
                float: right;
                color: white;
                padding: 0 0 0 1em;
                background-color: $colour-accent;
                border-radius: 1em;
                margin-right: 0.5em;

                a {
                    color: white;
                }

                .remove {
                    float: right;
                    border-left: 1px solid rgba(0,0,0,0.4);
                    width: 1em;
                    height: 1em;
                    overflow: hidden;
                    border: none;
                    background: none;
                    text-indent: -100em;

                    &:before {
                        content: 'x';
                        position: absolute;
                        left: 0;
                        top: 0;
                        text-indent: 0;
                    }
                }
            }
        }


        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }

        .byline {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }

        img {
            @include avatar($border-radius: 3em, $border: 1px solid blacken(white, 50%), $height: 3em, $width: 3em);
            position: absolute;
            left: 0.5em;
            top: 0.5em;
        }
    }
}