@charset "UTF-8";

.user-card {
	background-color: white;
	border: 1px #dedede solid;
	padding: 1.5em 4% 1.5em 5em;
	margin: 0 0 1em 0;
	position: relative;
	overflow: hidden;
	color: gray;

	.name {
		font-size: 1em;
		font-weight: bold;
	}

	.pat-avatar {
		position: absolute;
		left: 1em;
		top: 1.4em;
		width: 3em;
		height: 3em;
	}

	.byline {
		color: gray;
		font-style: italic;
		margin-bottom: 1em;
		font-size: 0.8em;
	}

	.data {
		font-size: 0.8em;
	}
}