@charset "UTF-8";

.user-table {
  margin-bottom: 1em;

  .columns {
    color: $colour-header-elements;
  }

  figure { 
    margin-bottom: 1em;

    figcaption {
      text-align: center;  
      padding-top: 0.5em;   
      font-size: 0.7em;
      line-height: 1.3em; 
    }

    .pat-avatar {
      width: 80%;
      height: auto;
    }
  }
}