.workspace-tabs {
  position: absolute;
  width: 50px;
  top: 32px;
  left: 0;
  z-index: 0;
  height: auto;
  border-style: none;
  padding: 0;
  background-color: $colour-workspace-tabs;
  &:after {
    content: " ";
    width: 50px;
    height: 150px;
    display: block;
    position: absolute;
    bottom: -150px;
    left: 0;
    pointer-events: none;
  }

  a {
    float: left;
    text-indent: -10000px;
    position: relative;
    /*background-image: url(icons-tabs-white.svg);*/
    height: 50px;
    width: 50px;
    padding: 0;
    &:before {
      content: " ";
      position: absolute;
      background-image: url(icons-tabs-white.svg);
      height: 50px;
      width: 50px;
      display: block;
      top: 0;
      left: 0;
    }
    &:hover {
      background-color: rgba(46, 46, 46, 0.1);
    }
    &.current {
      cursor: default;
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #efefef;
        position: absolute;
        right: 0;
        top: 18px;
      }
    }
    sup.counter.digit-3 {
      width: 22px;
    }
    &.alert {
      background-position-y: -55px !important;
      background-color: orange;
    }
    &.blog:after {
      background-position: 0 0;
    }
    &.notes:before {
      background-position: -300px 0;
    }
    &.documents:before {
      background-position: -50px 0;
    }
    &.events:before {
      background-position: -150px 0;
    }
    &.todos:before {
      background-position: -100px 0;
    }
    &.home:before {
      background-position: -200px 0;
    }
    &.about:before {
      background-position: -250px 0;
    }
    &.qa:before {
      background-position: -350px 0;
    }
  }
}


.lt-ie9 nav.workspace-tabs a:before {
  background-image: url(icons-tabs-white.png);
}

.lt-ie10 nav.workspace-tabs a:last-child {
  margin-bottom: -150px;
  background-color: transparent;
  background-repeat: repeat-x;
  padding-bottom: 150px;
}

.theme-light nav.workspace-tabs a:before {
  background-image: url(icons-tabs-black.svg);
}

.lt-ie9 .theme-light nav.workspace-tabs a:before {
  background-image: url(icons-tabs-black.png);
}

.lt-ie10 nav.workspace-tabs a:last-child sup.counter {
  top: -43px;
}

html.cssanimations nav.workspace-tabs a.alert {
  background-color: transparent;
  -webkit-animation: myfirst 2s infinite;
  -moz-animation: myfirst 2s infinite;
  animation: myfirst 2s infinite;
}