@charset "UTF-8";

.workspace-tabs {
  position: absolute;
  left: 0;
  z-index: 0;
  border-style: none;
  padding: 0;
  background-color: $colour-workspace-default;

  @include screen-size(small) {  
    right: 0;
    bottom: 0;
    height: 49px;
    font-size: 1em;

    border-top: 1px silver solid;
  }

  @include screen-size(large) {  
    width: 50px;
    top: 0;
    height: auto;

    &:after {
      content: " ";
      width: 50px;
      height: 150px;
      display: block;
      position: absolute;
      bottom: -150px;
      left: 0;
      pointer-events: none;
    }
  }

  a {
    float: left;
    text-indent: -10000px;
    position: relative;
    padding: 0;

    @include screen-size(large) { 
      height: 50px;
      width: 50px;
      color: rgba(255,255,255,0.8);

      &.current {
        cursor: default;
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 8px solid white;
          position: absolute;
          right: 0;
          top: 18px;
        }
      }
    }

    @include screen-size(small) { 
      height: 49px;
      width: 25%;
      color: rgba(255,255,255,0.6);

      &.current {
        color: white;
      }
    }

    &:before {
      content: " ";
      font-family: fontello;
      position: absolute;

      @include screen-size(small) { 
        height: 49px;
        width: 100%;
        line-height: 49px;
        font-size: 26px;
      }

      @include screen-size(large) { 
        height: 50px;
        width: 50px;
        line-height: 49px;
        font-size: 20px;
      }

      display: block;
      top: 0;
      left: 0;
      text-indent: 0;
      text-align: center;
    }

    &:hover {
      background-color: rgba(46, 46, 46, 0.1);
    }

    sup.counter.digit-3 {
      width: 22px;
    }

    &.documents:before {
      content: '\E811';
    }

    &.events:before {
      content: '\E810';
    }

    &.todos:before {
      content: '\2611';
    }

    &.home:before {
      content: '\2302';
    }

    &.about:before {
      content: '\E819';
    }
  }
}

.lt-ie10 nav.workspace-tabs a:last-child {
  margin-bottom: -150px;
  background-color: transparent;
  background-repeat: repeat-x;
  padding-bottom: 150px;
}

.theme-light nav.workspace-tabs a:before {
  color: black;
}

.lt-ie10 nav.workspace-tabs a:last-child sup.counter {
  top: -43px;
}