@charset "UTF-8";

.skill-cloud {
	margin-bottom: 0.7em;

	li {
		border-radius: 1em;
		padding: 0.1em 0.3em 0.1em 1em;
		// font-size: 0.8em;
		background-color: $colour-accent;
		color: white;
		margin-right: 0.3em;
		margin-bottom: 0.3em;
		display: inline-block;

		&:before {
			font-family: fontello;
		    content: "\1f44d";
		    display: inline-block;
		    margin-right: 5px;
		}

		.counter {
			background-color: rgba(255,255,255,0.8);
			color: $colour-accent;
			font-style: normal;
			border-radius: 0.45em;
			height: 0.9em;
			min-width: 0.9em;
			display: inline-block;
			line-height: 0.9em;
			text-align: center;
			margin-left: 0.5em;
  			margin-top: 0.2em;
			float: right;
		}
	}
}