.pat-grid-list {
  margin-bottom: 1em;
  float: left;
  width: 100%;
  border-bottom: 1px solid $colour-base;
}

.pat-grid-list dt {
  width: 35%;
  float: left;
  font-weight: bold;
  clear: left;
  border-top: 1px solid $colour-base;
  padding-right: 5%;
}

.pat-grid-list dd {
  width: 60%;
  margin-right: -100%;
  margin-bottom: 0;
  display: inline-block;
  float: left;
  border-top: 1px solid $colour-base;
}