[report]
omit =
    /home/*/.buildout/eggs/*
    /home/*/buildout-cache/eggs/*
    /usr/*
    bin/test
    buildout-cache/eggs/*
    eggs/*
    parts/*
    src/collective.workspace/*
    src/ploneintranet.invitations/*
    src/plone.api/*
    src/zope.testrunner/*
    src/collective.celery/*
    src/Products.CMFPlone/*
    src/plone.app.theming/*
