*~
*.egg-info
*.mo
*.pyc
.bash*
.bundle/
.buildout/
.cache/
.config/
.dbus/
.gitconfig
.installed.cfg
.mozilla/
.mr.developer.cfg
.plone.versioncheck.cache
.plone.versioncheck.tracked.json
.pypirc
.ssh/
.Python
pip-selfcheck.json
.*.sw[op]
bin/
develop-eggs/
docs/Makefile
docs/make.bat
eggs/
Gemfile.lock
include/
/lib/
libreoffice/
local/
node_modules/
.pki/
parts/
/prototype
release/
src/sphinx.themes.plone/
stamp-bower
stamp-npm
uuid.txt
var/
vendor/
