*.egg-info
.installed.cfg
.mr.developer.cfg
*.pyc
bin/
develop-eggs/
docs/Makefile
docs/make.bat
include/
lib/
node_modules/
parts/
prototype/.bundle/config
prototype/.bundle/gemfiles/
prototype/.sass-cache/
prototype/Gemfile.lock
prototype/_site/
prototype/bundles/
release/
src/bower_components/
src/collective.celery/
src/plone.app.blocks/
src/ploneintranet/theme/static/generated/
src/plonesocial.activitystream/
src/plonesocial.core/
src/plonesocial.messaging/
src/plonesocial.microblog/
src/plonesocial.network/
src/slc.docconv/
src/sphinx.themes.plone/
src/zope.testrunner/
stamp-bower
stamp-npm
uuid.txt
var/
.ssh/
eggs/