# This is a local copy of
# https://raw.githubusercontent.com/collective/buildout.plonetest/master/plone-5.0.x.cfg
# to allow using 5.0b2-pending
[buildout]
extends = http://dist.plone.org/release/5.0b2-pending/versions.cfg
find-links =
    http://dist.plone.org/release/5.0b2-pending/
    http://dist.plone.org/thirdparty/

develop = .
eggs =
unzip = true
versions = versions

parts = instance

package-name =

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    plone.app.upgrade
    ${buildout:package-name}
    ${buildout:eggs}
zcml =
    ${buildout:package-name}
environment-vars = zope_i18n_compile_mo_files true
