div.plonesocial.profile .portrait {
    float: left;
}

div.plonesocial.profile {
    background-color: #fafafa;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 0.5em 0 #888888;
    margin: 0.5em 0.5em 1em 0;
    padding: 0.5em 1em;
}

div.plonesocial.profile .navigation {
    float: right;
    margin: 0 2em;
    background-color: #eee;
    border-radius: 0.5em;
    padding: 1em;
}

#content div.plonesocial.profile .navigation ul,
div.plonesocial.profile .navigation ul {
    list-style-type: none;
    margin: 0;
}
#content div.plonesocial.profile .navigation li a {
    font-weight: bold;
    display: inline;
}
#content div.plonesocial.profile .navigation li a:link,
div.plonesocial.profile .navigation li a:link,
#content div.plonesocial.profile .navigation li a:visited,
div.plonesocial.profile .navigation li a:visited {
    color: #444;
}
#content div.plonesocial.profile .navigation li a:hover,
div.plonesocial.profile .navigation li a:hover {
}

div.plonesocial.profile .navigation .count {
    width: 4em;
    display: inline-block;
    text-align: right;
    margin-right: 0.25em;
}

div.plonesocial.profile .portrait {
    position: relative;
    overflow: hidden;
}    
div.plonesocial.maxiprofile .portrait {
    width: 150px;
    height: 150px;
}
div.plonesocial.miniprofile .portrait {
    width: 75px;
    height: 75px;
}
div.plonesocial.profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

#content div.plonesocial.profile h1,
div.plonesocial.profile h1 {
    letter-spacing: 0;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: #444;
}
#content div.plonesocial.profile a,
div.plonesocial.profile a {
    border: 0;
}
#content div.plonesocial.profile .username a,
div.plonesocial.profile .username a {
    color: #444;
}
div.plonesocial.miniprofile h3.username {
    display: inline;
    margin-right: 0.25em;
}
div.plonesocial.miniprofile .userid {
    display: inline;
}
div.plonesocial.maxiprofile .personal-info {
    margin-left: 170px; 
    min-height: 150px;
}
div.plonesocial.miniprofile .personal-info {
    margin-left: 90px; 
    min-height: 75px;
}

div.plonesocial.profile .bio {
    font-style: italic;
    color: #666;
    margin: 0.25em 0;
}

div.plonesocial.profile .location {
    margin-right: 1em;
    color: #666;
}

div.plonesocial.maxiprofile .subunsub input {
    margin: 0.5em 1em 0 0;
    padding: 0.25em;
    font-size: 150%;
}

div.plonesocial.miniprofile .subunsub input {
    margin: 0;
    padding: 0.25em;
    font-size: 100%;
}
div.plonesocial .following {
    color: #444;
}

div.plonesocial .description {
    color: #444;
}
