<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      i18n:domain="ploneintranet"
      >
  <body>

    <div id="content" class="modal">
      <div id="document-content" class="pat-modal ">
        <h1 i18n:translate="">Edit post</h1>
    
        <form method="post"
              action="${view/traverse}/post.html#post-${context/id}"
              class="wizard-box pat-inject "
              data-pat-inject="source: #post-${context/id} .post-content;
                               target: #post-${context/id} .post-content">
            <span tal:replace="structure view/context_url/@@authenticator/authenticator"/>
            <input type="hidden" name="nopostbox" value="true" />
            <div class="panel-body">
              <fieldset class="vertical">
	        <label>
	          <textarea rows="5"
                            name="text">${context/text}</textarea>	
	        </label>
              </fieldset>
            </div>
            
            <div class="buttons panel-footer">
              <button type="submit" class="close-panel icon-ok-circle"
                      i18n:translate="label_save">
                Save
              </button>
              <button type="button" class="close-panel icon-cancel-circle"
                      i18n:translate="label_cancel">
                Cancel
              </button>
            </div>
            
          </form>
        
      </div>
    </div>
  </body>
</html>
