@import url(../general/web-fonts.css);
@import url(fontello/css/fontello.css);
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ul,
ol,
li,
table,
tr,
th,
td,
form,
fieldset,
legend,
button,
div,
object,
figure,
img {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  vertical-align: top;
}

input,
select,
textarea,
button {
  padding: 0;
  background-color: #FFF;
}

/* @group Spinning */
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* @end */
/* @group Fade in */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/* @end */
/* @group Wiggle */
@keyframes wiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}
/* @end */
/* @group Alert pulse */
@-webkit-keyframes myfirst {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@keyframes myfirst {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
/* @end */
/* @group Throbber */
.injecting * {
  opacity: 0.19;
}

.injecting:before {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  content: '\e817';
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 1000;
  font: 50px/50px fontello;
  text-shadow: white 0 0 2px;
  text-align: center;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* @end */
.pattern-tile, .cat-form, .cat-layout {
  width: 150px;
  color: white;
  text-decoration: none;
  float: left;
  margin: 0 10px 20px;
  padding-bottom: 15px;
}
.pattern-tile figure img, .cat-form figure img, .cat-layout figure img {
  width: 100%;
}
.pattern-tile figure figcaption, .cat-form figure figcaption, .cat-layout figure figcaption {
  text-align: center;
}

.cat-form {
  background-color: #be9ac1;
}

.cat-layout {
  background-color: #a1ced2;
}

#site-header {
  display: block;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  /*	border-bottom: 1px solid white;*/
  background: url(blackboard.svg) bottom center no-repeat;
  background-size: 0% auto;
  transition: all 0.5s;
}

.state-home #site-header {
  padding-bottom: 34%;
  margin-top: 2%;
  background-size: 90% auto;
}

#site-header nav a {
  display: inline-block;
  text-decoration: none;
  width: 17%;
  position: relative;
  transition: all 0.5s;
  position: relative;
}

.state-download #site-header nav a.download:after,
.state-home #site-header nav a.patterns:after,
.state-documentation #site-header nav a.documentation:after {
  position: absolute;
  bottom: -10px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: white;
  content: " ";
  display: block;
}

.state-home #site-header nav a.patterns {
  transform: scale(1.5);
}

#site-header nav a:before {
  display: block;
  text-align: center;
  font: 4em fontello;
}

#site-header nav a.patterns:before {
  content: "\e800";
}

#site-header nav a.download:before {
  content: "\e805";
}

#site-header nav a.documentation:before {
  content: "\e802";
}

.sub-nav {
  text-align: center;
  display: block;
  margin-bottom: 3em;
}
.sub-nav a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 4px 20px 0;
  line-height: 1.6em;
}

.button-bar {
  margin-bottom: 1em;
}

button {
  padding: 0.8em 2em;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 0.8em;
}

.component-index {
  margin-bottom: 1em;
}
.component-index .functions {
  display: block;
  margin-bottom: 1em;
}
.component-index .listing {
  column-count: 5;
}
.component-index label {
  display: block;
}

form.download .bundle-type {
  margin-bottom: 1em;
}

.pat-checklist label {
  display: block;
  padding-left: 1.5em;
  position: relative;
}
.pat-checklist label input[type="checkbox"],
.pat-checklist label input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.pat-checklist label:before {
  font-family: "fontello";
  font-size: 0.8em;
  content: "\e808";
  margin-left: -1.75em;
  position: relative;
  top: 0.25em;
  float: left;
}
.pat-checklist label.checked:before {
  content: "\e809";
}
.pat-checklist.radio label:before {
  content: "\e807";
}
.pat-checklist.radio label.checked:before {
  content: "\e806";
}

.nav-tile {
  float: left;
  width: 34%;
  margin: 0 8%;
  padding: 0 5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.15);
}
.nav-tile h3 {
  padding-top: 3em;
}
.nav-tile:after {
  content: " ";
  display: block;
  height: 4em;
}
@media (max-width: 768px) {
  .nav-tile {
    float: none;
    width: auto;
    margin-bottom: 2em;
  }
}

/*
This code is based on Zurb Foundation's grid framework.

@license Zurb Foundation @http://foundation.zurb.com@

Copyright (c) 2012 Mark Hayes
*/
.row, .columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* @group The Grid */
.row {
  margin: 0 -15px;
}

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

.row.collapse .column, .row.collapse .columns {
  padding: 0;
}

.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

.row .row.collapse {
  margin: 0;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}

[class*="column"] + [class*="column"].end {
  float: left;
}

.one, .row .one {
  width: 8.33333%;
}

.two, .row .two {
  width: 16.66667%;
}

.three, .row .three {
  width: 25%;
}

.four, .row .four {
  width: 33.33333%;
}

.five, .row .five {
  width: 41.66667%;
}

.six, .row .six {
  width: 50%;
}

.seven, .row .seven {
  width: 58.33333%;
}

.eight, .row .eight {
  width: 66.66667%;
}

.nine, .row .nine {
  width: 75%;
}

.ten, .row .ten {
  width: 83.33333%;
}

.eleven, .row .eleven {
  width: 91.66667%;
}

.twelve, .row .twelve {
  width: 100%;
}

.row .offset-by-one {
  margin-left: 8.33333%;
}

.row .offset-by-two {
  margin-left: 16.66667%;
}

.row .offset-by-three {
  margin-left: 25%;
}

.row .offset-by-four {
  margin-left: 33.33333%;
}

.row .offset-by-five {
  margin-left: 41.66667%;
}

.row .offset-by-six {
  margin-left: 50%;
}

.row .offset-by-seven {
  margin-left: 58.33333%;
}

.row .offset-by-eight {
  margin-left: 66.66667%;
}

.row .offset-by-nine {
  margin-left: 75%;
}

.row .offset-by-ten {
  margin-left: 83.33333%;
}

.push-two {
  left: 16.66667%;
}

.pull-two {
  right: 16.66667%;
}

.push-three {
  left: 25%;
}

.pull-three {
  right: 25%;
}

.push-four {
  left: 33.33333%;
}

.pull-four {
  right: 33.33333%;
}

.push-five {
  left: 41.66667%;
}

.pull-five {
  right: 41.66667%;
}

.push-six {
  left: 50%;
}

.pull-six {
  right: 50%;
}

.push-seven {
  left: 58.33333%;
}

.pull-seven {
  right: 58.33333%;
}

.push-eight {
  left: 66.66667%;
}

.pull-eight {
  right: 66.66667%;
}

.push-nine {
  left: 75%;
}

.pull-nine {
  right: 75%;
}

.push-ten {
  left: 83.33333%;
}

.pull-ten {
  right: 83.33333%;
}

/* @end */
/* @group Micro clearfix */
/* Nicolas Gallagher's micro clearfix */
.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

/* @end */
@media only screen and (max-width: 767px) {
  /* Global Misc --- */
  /*                 */
  body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* The Grid --- */
  /*              */
  .row {
    width: auto;
    min-width: 0;
  }

  .column, .columns {
    width: auto !important;
    float: none;
  }

  .column:last-child, .columns:last-child {
    float: none;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }

  .column:before, .columns:before, .column:after, .columns:after {
    content: "";
    display: table;
  }

  .column:after, .columns:after {
    clear: both;
  }

  .offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten {
    margin-left: 0 !important;
  }

  .push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten {
    left: auto;
  }

  .pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten {
    right: auto;
  }

  /* Mobile 4-column Grid */
  .row .mobile-one {
    width: 25% !important;
    float: left;
    padding: 0 15px;
  }

  .row .mobile-one:last-child {
    float: right;
  }

  .row .mobile-one.end {
    float: left;
  }

  .row.collapse .mobile-one {
    padding: 0;
  }

  .row .mobile-two {
    width: 50% !important;
    float: left;
    padding: 0 15px;
  }

  .row .mobile-two:last-child {
    float: right;
  }

  .row .mobile-two.end {
    float: left;
  }

  .row.collapse .mobile-two {
    padding: 0;
  }

  .row .mobile-three {
    width: 75% !important;
    float: left;
    padding: 0 15px;
  }

  .row .mobile-three:last-child {
    float: right;
  }

  .row .mobile-three.end {
    float: left;
  }

  .row.collapse .mobile-three {
    padding: 0;
  }

  .row .mobile-four {
    width: 100% !important;
    float: left;
    padding: 0 15px;
  }

  .row .mobile-four:last-child {
    float: right;
  }

  .row .mobile-four.end {
    float: left;
  }

  .row.collapse .mobile-four {
    padding: 0;
  }

  .push-one-mobile {
    left: 25%;
  }

  .pull-one-mobile {
    right: 25%;
  }

  .push-two-mobile {
    left: 50%;
  }

  .pull-two-mobile {
    right: 50%;
  }

  .push-three-mobile {
    left: 75%;
  }

  .pull-three-mobile {
    right: 75%;
  }

  /* Block Grids --- */
  /*                 */
  .block-grid.mobile > li {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  .block-grid > li {
    clear: none;
  }

  .block-grid.mobile-one-up > li {
    width: 100%;
  }

  .block-grid.mobile-two-up > li {
    width: 50%;
  }

  .block-grid.mobile-two-up > li:nth-child(2n+1) {
    clear: both;
  }

  .block-grid.mobile-three-up > li {
    width: 33.33333%;
  }

  .block-grid.mobile-three-up > li:nth-child(3n+1) {
    clear: both;
  }

  .block-grid.mobile-four-up > li {
    width: 25%;
  }

  .block-grid.mobile-four-up > li:nth-child(4n+1) {
    clear: both;
  }

  .block-grid.mobile-five-up > li {
    width: 20%;
  }

  .block-grid.mobile-five-up > li:nth-child(5n+1) {
    clear: both;
  }

  .block-grid.mobile-six-up > li {
    width: 16.66667%;
  }

  .block-grid.mobile-six-up > li:nth-child(6n+1) {
    clear: both;
  }

  .block-grid.mobile-seven-up > li {
    width: 14.28571%;
  }

  .block-grid.mobile-seven-up > li:nth-child(7n+1) {
    clear: both;
  }

  .block-grid.mobile-eight-up > li {
    width: 12.5%;
  }

  .block-grid.mobile-eight-up > li:nth-child(8n+1) {
    clear: both;
  }

  .block-grid.mobile-nine-up > li {
    width: 11.11111%;
  }

  .block-grid.mobile-nine-up > li:nth-child(9n+1) {
    clear: both;
  }

  .block-grid.mobile-ten-up > li {
    width: 10%;
  }

  .block-grid.mobile-ten-up > li:nth-child(10n+1) {
    clear: both;
  }

  .block-grid.mobile-eleven-up > li {
    width: 9.09091%;
  }

  .block-grid.mobile-eleven-up > li:nth-child(11n+1) {
    clear: both;
  }

  .block-grid.mobile-twelve-up > li {
    width: 8.33333%;
  }

  .block-grid.mobile-twelve-up > li:nth-child(12n+1) {
    clear: both;
  }

  /* @group Tabs */
  .tabs.mobile {
    width: auto;
    margin: 20px -20px 40px;
    border-bottom: solid 1px #ccc;
    height: auto;
    margin: 20px -15px 0px -15px;
  }

  .tabs.mobile dt, .tabs.mobile li, .tabs.mobile dd {
    float: none;
    height: auto;
  }

  .tabs.mobile dd a, .tabs.mobile li a {
    font-size: 15px;
    display: block;
    width: auto;
    height: auto;
    padding: 18px 20px;
    margin: 0;
    color: #555;
    line-height: 1;
    border: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    background: #fff;
  }

  .tabs.mobile dd a.active, .tabs.mobile li a.active {
    border: none;
    background: #2ba6cb;
    color: #fff;
    margin: 0;
    position: static;
    top: 0;
    height: auto;
  }

  .tabs.mobile dd:first-child a.active, .tabs.mobile li:first-child a.active {
    margin: 0;
  }

  .tabs.mobile + .tabs-content.contained {
    margin-left: -15px;
    margin-right: -15px;
  }

  .tabs.mobile .section-title {
    padding-left: 20px !important;
  }

  .contained.mobile {
    margin-bottom: 0;
  }

  .contained.tabs.mobile dd a, .contained.tabs.mobile li a {
    padding: 18px 20px;
  }

  .tabs.mobile + ul.contained {
    margin-left: -20px;
    margin-right: -20px;
    border-width: 0 0 1px 0;
  }

  /* @end */
}
