<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      metal:use-macro="context/main_template/macros/master"
      i18n:domain="ploneintranet"
      >
  <head>
    <title>Messages</title>
  </head>
  <body class="stand-alone sidebar-normal gh-collapsed focus-listing  messages application- application-messages ">
    <div id="main">

      <metal:content fill-slot="content">
      <div id="content" class="state-on">
	<div id="application-body" class="application-messages application- sidebar-left-open sidebar-right-closed">
	  <div id="document-body">

	    <div id="document-content" tal:condition="not:view/userid|nothing">
	      <div class="application-welcome-info">
		<article class="pat-rich" id="boilerplate-library-introduction">
                  <p>
                    <strong>Thank you for using Messages!</strong>
                    Messages makes it easy to stay in touch with your co-workers and anyone else who's using the intranet.
                  </p>
		</article>
	      </div>
            </div>
            
	    <div id="document-content" class="chat" tal:condition="view/userid|nothing">

	      <ul class="chat">

		<li class="item type-date ">
		  <h3 class="time-stamp">
		    20 June 2016, 14:32
		  </h3>
		</li>
		
		<li class="item type-text ">
		  <a class="user">
		    <h4 class="user-name">
		      <!-- Full name of user goes here. -->
		    </h4>
		    <img src="/media/avatar-guido-stevens.jpg" class="avatar pat-avatar" alt="" />
		  </a>
		  <p class="content">
		    Hi Lizzy, we talked about having lunch somewhere this week. How about tomorrow Al Fresco?
		    </p>
		</li>
		
		<li class="item type-text self">
		  <a class="user">
		    <h4 class="user-name">
		      <!-- Full name of user goes here. -->
		    </h4>
		    <img src="/media/avatar-liz-baker.jpg" class="avatar pat-avatar" alt="" />
		  </a>
		  <p class="content">
		    Lunch tomorrow is a great idea! I can come right after my meeting with Mario.
		  </p>
		</li>
		
		<li class="item type-date ">
		  <h3 class="time-stamp">
		    21 June 2016, 15:20
		  </h3>
		</li>
		
		<li class="item type-text ">
		  <a class="user">
		    <h4 class="user-name">
		      <!-- Full name of user goes here. -->
		    </h4>
		    <img src="/media/avatar-guido-stevens.jpg" class="avatar pat-avatar" alt="" />
		  </a>
		  <p class="content">
		    It was great to catch up with you Lizzy. Let's not wait so long this time for the next lunch together. :).
		  </p>
		</li>
		
		<li id="end-of-conversation" class="item type-terminal">
		  <p>
		    <a href="#end-of-conversation" class="pat-scroll" data-pat-scroll="trigger: auto">End of conversation</a>
		  </p>
		</li>

	      </ul>

            </div><!-- /document-content -->
            
            <form id="chat-bar" action="/apps/messages/feedback-liz-guido.html" class="pat-inject discrete-injection" data-pat-inject="source: #chat; target: #end-of-conversation::element && source: #chat-bar; target: #chat-bar && source: #new-content; target: #selector .current .byline">
	      <input autofocus type="text" name="message" placeholder="Write a message" />
            </form>

          </div><!-- /document-body -->
          
          <aside class="sidebar left" id="sidebar">
            <div id="sidebar-content">
              <div class="item-selector mode-follow" id="selector">

                <div class="button-bar functions buttons-1" id="selector-functions">
                  <form class="search-box pat-inject pat-autosubmit" action="/apps/messages/#selector-items">
                    <label>
                      <input name="" type="search" placeholder="Search" />
                      <button type="submit">Search</button>
                    </label>
                  </form>
                  <div class="quick-functions">
                    <a title="Start a new conversation" href="apps/messages/panel-new-chat.html#document-content" class="new-chat pat-modal icon-edit" data-pat-modal="class: large">New conversation</a>
                  </div>
                </div><!-- /button-bar -->
    
                <form class="search-result chats pat-inject"
                      data-pat-inject="target: body::after"
                      action="/feedback/batch-delete-conversations.html#content"
                      id="selector-items">
                  <fieldset class="checklist pat-checklist chats ">

                    <label id="selector-item-15" class="item chat has-description  ">
                            <input name="" type="radio" />
                            <a class="follow pat-inject pat-switch" data-pat-switch="body focus-* focus-document && body sidebar-large sidebar-normal" href="/chat-mario-minstreel#end-of-conversation" data-pat-inject="source: #document-body::element; target: #document-body::element && source: #selector-items; target: #selector-items; && source: #messages-link; target: #messages-link; history: record">
                                <img src="/media/avatar-mario-minstreel.jpg" alt="" class="avatar" />
                                <strong class="title">Mario Minstreel</strong>
                                <br>
                                <dfn class="byline">Great! Lets meet tomorrow at 11:00.</dfn>
                            </a>
                        </label>
                    
                        <label id="selector-item-16" class="item chat has-description  current">
                            <input name="" type="radio" />
                            <a class="follow pat-inject pat-switch" data-pat-switch="body focus-* focus-document && body sidebar-large sidebar-normal" href="/chat-guido-stevens#end-of-conversation" data-pat-inject="source: #document-body::element; target: #document-body::element && source: #selector-items; target: #selector-items; && source: #messages-link; target: #messages-link; history: record">
                                <img src="/media/avatar-guido-stevens.jpg" alt="" class="avatar" />
                                <strong class="title">Guido Stevens</strong>
                                <br>
                                <dfn class="byline">Lunch tomorrow is a great idea! I can come right after my meeting with Mario.</dfn>
                            </a>
                        </label>

                  </fieldset>
                </form>

              </div><!-- /#selector -->

            </div><!-- /sidebar-content -->
          </aside><!-- /sidebar -->
	</div><!-- /application-body -->
        
	<div class="application-label">
          <a class="integrated suite-logo pat-switch" data-pat-switch="#app-space state-on state-off">Plone Intranet</a>
          <!-- The href of the link below is variable. When in a workspaces it points to the workspaces overview, when in an app it points to the apps overview and for other situations to the dashboard. -->
          <a href="/dashboard.html" class="stand-alone suite-logo">Plone Intranet</a>
          <nav class="breadcrumbs">
            <a class="current" href="#"></a>
          </nav>
        </div>

      </div><!-- /app-space -->
      </metal:content>

    </div><!-- /main -->
  </body>
</html>
