<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      lang="en"
      metal:use-macro="here/main_template/macros/master"
      i18n:domain="ploneintranet">

  <body class="view-secure">
    <metal:content fill-slot="content">

      <div id="main">
	<div id="content" class="modal">
	  <div id="document-content" class="pat-modal ">
            <h1>
              <span i18n:translate="">Delete news item</span>
            </h1>

            <form method="post" action="${view/url}"
                  class="wizard-box "
                  >

              <div class="panel-body">
                <article i18n:translate="content_delete_confirmation">
                  You are about to delete "<tal:name i18n:name="title"><strong>${context/title}</strong></tal:name>".
                  Are you sure?
                </article>
              </div>

              <div class="buttons panel-footer">
                <button type="submit" class="icon-ok-circle"
                        i18n:translate="label_delete_newsitem_confirm">
                  I am sure, delete now</button>
                <button type="button" class="close-panel icon-cancel-circle"
                        i18n:translate="">Cancel</button>
              </div>

            </form>

          </div>
        </div>
      </div>

      </metal:content>
  </body>
</html>
