<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xmlns:i18n="http://xml.zope.org/namespaces/i18n"
      lang="en"
      metal:use-macro="here/main_template/macros/master"
      i18n:domain="ploneintranet">

  <body class="view-secure">

    <!-- prototype/_layouts/news-cms.html 
         prototype/apps/news/edit.html -->
    
    <metal:content fill-slot="content">
      <div id="application-body" class="sidebar-normal application-news-cms application-news-cms sidebar-left-open sidebar-right-closed">

        <!-- right column: the magazine front page / news item editor-->
        <div id="document-body" tal:define="read_only python: not view.can_edit">

          <form class="document pat-inject" id="news-edit-form"
                method="post"
                action="${context/absolute_url}/edit.html#news-edit-form"
                enctype="multipart/form-data"
                data-pat-inject="source:#global-statusmessage; target:#global-statusmessage; loading-class: '' &amp;&amp; source: #document-body; target: #document-body">>
            <div class="metadata pat-bumper">
              <div class="meta-bar">
                <label class="tags float-before">
                  <input type="text"
                         name="subjects" placeholder="Tags"
                         i18n:domain="plone" i18n:attributes="placeholder"
                         value="${python:','.join(context.subject)}"
                         tal:attributes="disabled read_only"
                         class="pat-autosuggest"
                         data-pat-autosuggest="ajax-data-type: json; ajax-search-index: text; ajax-url:${context/absolute_url}/@@getVocabulary?resultsonly=1&amp;name=ploneintranet.network.vocabularies.Keywords&amp;field=subjects"/>
                  
                </label>

                <div class="quick-functions">
                  <a href="/feedback/panel-delete.html#document-content" class="pat-modal icon-trash iconified" title="Delete this document">
                    Delete
                  </a>
                  <a href="/news-press-2/" class="icon-eye iconified" target="Preview" title="Preview this news item">
                    Preview
                  </a>
                  <a class="icon-info-circle meta-data-toggle iconified" title="Show extra metadata fields">Toggle extra metadata</a>
                  <fieldset id="workflow-menu" class="pat-subform pat-autosubmit pat-inject"
                            tal:attributes="data-pat-inject string:target: #global-statusmessage;; url: ${context/absolute_url}/edit.html;; source: #global-statusmessage &amp;&amp; url: ${context/absolute_url}/edit.html;; source: #application-body;; target: #application-body">
                        <label class="pat-select bare workflow" title="Change the workflow state" i18n:attributes="title">
                          <select name="workflow_action" id="workflow_action"
                                  tal:attributes="disabled view/can_review">
                            <option tal:repeat="state view/get_workflow_transitions"
                                    tal:attributes="title state/title; value state/action; selected state/selected|nothing"
                                    tal:content="state/title">Workflow State</option>
                          </select>
                        </label>
                        <span tal:replace="structure context/@@authenticator/authenticator"/>
                      </fieldset>
                  <button type="submit" class="pat-button icon-floppy" title="Save this document" tal:condition="not: read_only">Save</button>
                </div>
              </div>
              <div class="bar summary-hero">
                <fieldset class="row" >
                  <label class="nine columns">
                    <textarea name="description" rows="4" title="Description" placeholder="Summary" tal:attributes="disabled read_only">${context/description}</textarea>
                  </label>
                  <label id="hero-upload" class="three columns image-uploader pat-subform pat-autosubmit pat-inject" data-pat-inject="url: /feedback/hero-upload.html#hero-upload" title="Upload a new hero image that may be displayed in the news overview pages.">
                    <!-- Image goes on this line in the markup in the feedback -->
                    <span class="pat-button upload-button">Upload image</span>
                    <input type="file" name="hero"
                           tal:attributes="disabled read_only"/> 
                  </label>
                </fieldset> 
              </div>
              <fieldset class="pat-collapsible closed meta-extra" data-pat-collapsible="trigger: .meta-data-toggle" id="meta-extra">
                <fieldset class="bar pat-checklist">
                  <label>
                    <input name="article_image" type="checkbox" value="selected"
                           tal:attributes="checked python:getattr(context, 'article_image', 0); disabled read_only" />
                    <input name="article_image-empty-marker" type="hidden" value="1" />
                    <span tal:omit-tag=""
                          i18n:translate="label_article_image">
                      Image visible as hero image on the news article page.
                    </span>
                  </label>
                  <label>
                    <input name="magazine_image" type="checkbox" value="selected"
                           tal:attributes="checked python:getattr(context, 'magazine_image', 0); disabled read_only"/>
                    <input name="magazine_image-empty-marker" type="hidden" value="1" />
                    <span tal:omit-tag=""
                          i18n:translate="label_magazine_image">
                      Image visible on news overview pages.
                      </span>
                  </label>
                </fieldset>
                <label class="bar">
                  Section 
                  <select tal:attributes="disabled read_only">
                    <option>Hot topics</option>
                    <option>Company news</option>
                    <option>Press releases</option>
                  </select>
                </label>
                <!-- commenting not implemented yet -->
                <div class="bar" tal:condition="nothing">
                  <label class="pat-checklist">
                    <input type="checkbox" value="selected"
                           name="allow_comments"
                           tal:attributes="checked python:getattr(context, 'allow_comments', 0); disabled read_only" />
                    <input name="allow_comments-empty-marker" type="hidden" value="1" />
                    <span tal:omit-tag=""
                          i18n:translate="label_allow_comments">
                      Allow comments
                      </span>
                  </label>
                </div>
                <div class="bar">
                  <label class="pat-checklist">
                    <input type="checkbox"
                           name="magazine_home" value="selected"
                           tal:attributes="checked python:getattr(context, 'magazine_home', 0); disabled read_only"/>
                    <input name="magazine_home-empty-marker" type="hidden" value="1" />
                    <span tal:omit-tag=""
                          i18n:translate="label_magazine_home">
                      Visible on news landing page
                      </span>
                  </label>
                </div>
                <fieldset class="bar">                
                  <label class="">
                    Publication date
                    <input class="pat-date-picker" type="date"
                           name="effective"
                           tal:attributes="value context/effective; disabled read_only" />
                  </label>, 
                  <label class="">
                    Expiration date
                    <input class="pat-date-picker" type="date"
                           name="expires"
                           tal:define="expires context/expires;"
                           tal:attributes="value python:str(expires).startswith('20') and expires or ''; disabled read_only" />
                  </label>
                </fieldset>
              </fieldset>
              <div id="editor-toolbar" class="bar redactor"
                   tal:condition="not:read_only">
                <p class="loader">Loading…</p>
              </div>
            </div>
            <div id="document-content">
              <article class="document rich">
		<hgroup id="title-block">
	          <h1 id="document-title">
	            Title of news item
	          </h1>
		  <textarea type="text" placeholder="Title of news item" class="doc-title pat-content-mirror" data-pat-content-mirror="target: #document-title" value=""></textarea>
		</hgroup>
                <textarea placeholder="Write your body text here…" class="pat-redactor" data-allow="p-ul-ol-h1-h2-h3" data-pat-redactor="imageupload: @@star-quickupload; imagegetjson: /feedback/images.json; imageresizable: true; toolbar-external: #editor-toolbar; allowed-tags: p, ul, li, ol, strong, em, a, img, video, embed, object, h1, h2, h3, h4, h5, table, thead, tbody, th, tr, td, iframe; buttons: format, bold, italic, deleted, lists, link, horizontalrule, image; formatting: p, pre, h1, h2, h3; plugins: bufferbuttons,alignment,table,source,video,imagemanager,romanlisting">
                  
            	  <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

		  <h2>Header Level 2</h2>
		  
		  <ol>
		    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		    <li>Aliquam tincidunt mauris eu risus.</li>
		  </ol>

		  <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>

		  <h3>Header Level 3</h3>

		  <ul>
		    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
		    <li>Aliquam tincidunt mauris eu risus.</li>
		  </ul>

                  <pre><code>
                      #header h1 a { 
	              display: block; 
	              width: 300px; 
	              height: 80px; 
                      }
                  </code></pre>
                </textarea>
              </article>
            </div>
          </form>          
        </div>

        <!-- left column: news cms navigation -->
        <div tal:replace="structure view/sidebar" />
        
      </div><!-- /application-body -->
      
    </metal:content>
  </body>
</html>
