---
layout: generic
application_name: feedback
design_title: Users search feedback
design_description: "Feedback for the search results when 'Cor' input"
---
<!-- Update search results with dummy results, using keyword "Cor..." -->

<form action="{{ include.feedback }}#selected-users" id="items">
    <fieldset class="checklist pat-checklist {{ include.mode }}">
        {% for user in site.posts %}
            {% if user.layout == 'user' and user.feedback == true %}
                <label class="item user">
                    <input name="" type="checkbox" />
                    <a href="user.id" class="follow">
                        <img src="/media/avatar-{{ user.id | remove: "/" }}.png" alt="" />
                        <strong class="title">{{ user.title }}</strong>
                        <br>
                        <dfn class="byline">{{ user.user_role }}</dfn>
                    <a/>
                </label>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="button-bar">
        <button type="submit" class="close-panel">Save</button>
        <button type="reset" class="close-panel">Cancel</button>
    </div>
</form>