---
layout: generic
---
<!-- Update search results with dummy results, using keyword "Cor..." -->

<form action="" id="items">
    <fieldset class="checklist pat-checklist {{ include.mode }}">
        <!-- class 'users' can also be 'docs' or 'tags' depending on the use of the widget -->
        {% for user in site.posts %}
            {% if user.layout == 'user' and user.feedback == true %}
                <label>
                    <input name="{{ user.id }}" type="checkbox" />
                    <strong class="name">{{ user.title }}</strong>
                    <br/>
                    <dfn class="meta">{{ user.user_role }}</dfn>
                </label>
            {% endif %}
        {% endfor %}
    </fieldset>
    <p class="button-bar">
        <button type="submit" class="close-panel">Save</button>
        <button type="reset" class="close-panel">Cancel</button>
    </p>
</form>