---
layout: generic
---
<!-- Update search results with dummy results, using keyword "Eco..." (e.g. Economy) -->
<form action="" id="items">
    <fieldset class="checklist pat-checklist {{ include.mode }}">

        {% for tag in site.data.tags %}
            {% if tag.feedback == true %}
                <label>
                    <input name="{{ tag.value }}" type="checkbox" />
                    <strong class="name">{{ tag.value }}</strong>
                </label>
            {% endif %}
        {% endfor %}

    </fieldset>
    <p class="button-bar">
        <button type="submit" class="close-panel">Save</button>
        <button type="reset" class="close-panel">Cancel</button>
    </p>
</form>
