---
layout: generic
application_name: feedback
design_title: Users search feedback
design_description: "Feedback for the search results when 'Cor' input"
---
<!-- Update search results with dummy results, using keyword "Cor..." -->

<form action="{{ include.feedback }}#selected-users" id="items">
    <fieldset class="checklist pat-checklist {{ include.mode }}">
        <ul itemscope itemtype="http://schema.org/Person">
            {% for user in site.posts %}
                {% if user.layout == 'user' and user.feedback == true %}
                    <li>
                        <label>
                            <input name="" type="checkbox" />
                            <img src="/media/avatar-{{ user.id | remove: "/" }}.png" alt="" />
                            <div>
                                <strong itemprop="name">{{ user.title }}</strong>
                                <br>
                                <dfn itemprop="jobTitle">{{ user.user_role }}</dfn>
                            </div>
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </fieldset>
    <div class="button-bar">
        <button type="submit" class="close-panel">Save</button>
        <button type="reset" class="close-panel">Cancel</button>
    </div>
</form>