<div class="comment">
	<div class="comment-header">
		<a href="#">
			{% capture imageurl %}/media/avatar-{{ comment.userid }}.jpg{% endcapture %}
			{% include patterns/avatar.html img=imageurl %}
			<h4 class="name">
				{{ comment.name }}
			</h4>
			<time class="date">{{ comment.datestamp }}</time>
		</a>
	</div>
	<section class="comment-content">
		<p>
			{{ comment.text }}
		</p>
	</section>
	{% if comment.preview %}
		<section class="preview">
			<figure>
				<img src="{{comment.preview}}" alt="" />
			</figure>
		</section>
	{% endif %}
</div>
