<div class="comment">
	<!-- find the user 'post' that relates to the poster's id -->
	{% for node in site.posts %}
		{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
		{% if  nodeid == comment.userid %}
			{% assign user = node %}
		{% endif %}
	{% endfor %}
	<div class="comment-header">
		<a href="{{ user.id }}">
			{% include patterns/avatar.html img=user.image_url %}
			<h4 class="name">
				{{ user.title }}
			</h4>
			<time class="date">{{ comment.datestamp }}</time>
		</a>
	</div>
	<section class="comment-content">
		<p>
			{{ comment.text }}
		</p>
	</section>
	{% if comment.preview %}
		<section class="preview">
			<figure>
				{% if comment.preview_url %}
					<a href="{{comment.preview_url}}">
				{% endif %}
				<img src="{{comment.preview }}" alt="" />
				{% if comment.preview_url %}
					</a>
				{% endif %}
			</figure>
		</section>
	{% endif %}
</div>
