<header id="global-header">

    <a href="/#home-tabs" id="hamburger" class="hamburger-menu pat-tooltip" data-pat-tooltip="position-list: tl; class: hamburger-menu; source: ajax">Menu</a>

    <a id="site-logo" href="/dashboard.html" class="logo"><img src="/media/logo.svg" alt="Plone intranet"></a>

    <nav class="breadcrumbs">

        {% if page.application != 'workspace' %}
            <a class="current" href="#">{{ page.application_name }}</a>
        {% endif %}

        {% if page.application == 'workspace' %}
            <a href="/workspaces.html">Workspaces</a> <a class="current {% if page.super_space %}has-siblings{% endif %}" href="#">{{ page.workspace_name }}</a>
        {% endif %}
    </nav>

    {% unless page.id == '/' %}
        
        {% include patterns/avatar.html attributes="data-pat-tooltip='position-list: tr; position-policy: force; trigger: click; source: ajax'" link="/global-personal-settings.html#settings" id="user-avatar" class="pat-tooltip" img="/media/avatar-liz.jpg" name="Liz Baker" %}

        <button id="buddies-toggle" class="icon iconified icon-chat im chat pat-toggle" data-pat-toggle="selector: body; value: buddies-off buddies-on">Messages <sup id="online-count" class="counter digit-2">7</sup></button>

        <a href="/notifications.html#notifications" id="notification-link" class="icon iconified icon-bell pat-tooltip" data-pat-tooltip="source: ajax; position-list: tr; position-policy: force;">
            Notifications <sup id="online-count" class="counter digit-2">4</sup>
        </a>
    {% endunless %}

    <form action="search-results.html" class="search" id="global-nav-search">
        <label>
            <input class="search" name="SearchableText" placeholder="Search through content…" type="text">
        </label>
        <button name="submit" tabindex="-1" type="submit" value="submit">Search</button>
    </form>
</header>
