<div class="item-selector">
    <form class="item-selector__search pat-inject pat-autosubmit" action="/feedback/{{ include.action }}#items">
        <label>
            <input name="" type="search" autofocus/>
            <button type="submit">Search</button>
        </label>
    </form>
    <form class="item-selector__search-result pat-inject" action="{{ include.feedback }}#selected-{{ include.mode }}" id="items">
        <fieldset class="checklist pat-checklist {{ include.mode }}">
            <ul itemscope itemtype="http://schema.org/Person">
            {% if include.mode == "users" %}
                {% for user in site.posts %}
                    {% if user.layout == 'user' %}
                        <li>
                            <label>
                                <input name="" type="checkbox" />
                                <img src="/media/avatar-{{ user.id | remove: "/" }}.png" alt="" />
                                <div>
                                    <strong itemprop="name">{{ user.title }}</strong>
                                    <br>
                                    <dfn itemprop="jobTitle">{{ user.user_role }}</dfn>
                                </div>
                            </label>
                        </li>
                    {% endif %}
                {% endfor %}

            {% elsif include.mode == "tags" %}
                {% for tag in site.data.tags %}
                    {% if tag.suggestion == true %}
                        <li>
                            <label>
                                <input name="" type="checkbox" />
                                <div>
                                    <strong itemprop="name">{{ tag.value }}</strong>
                                </div>
                            </label>
                        </li>
                    {% endif %}
                {% endfor %}

            {% elsif include.mode == "docs" %}
                <!-- TODO -->
            {% endif %}

            </ul>
        </fieldset>
        <div class="button-bar">
            <button type="reset" class="close-panel">Cancel</button>
            <button type="submit" class="close-panel">Save</button>
        </div>
        <!-- /.button-bar -->
    </form>
</div>
<!-- /.item-selector -->
