{% capture mypostUID %}mypost_{{ include.postcount }}{% endcapture %}
<div class="post item" id="post-{{ mypostUID }}">
	<div class="post-header">
		<!-- find the user 'post' that relates to the poster's id -->
		{% for node in site.posts %}
			{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
		    {% if  nodeid == item.userid %}
				{% assign user = node %}
			{% endif %}
		{% endfor %}
		<a href="{{user.id}}">
			{% include patterns/avatar.html img=user.image_url %}
			<h4 class="name">
				{{ user.title }}
			</h4>
		</a>
		<p class="byline">
			<em class="action">{{ item.activity }}</em> <time>{{ item.datestamp }}</time> |
            <label class="visibility pat-select bare">
                <select>
                    <optgroup>
                        <option>
                            Everyone
                        </option>
                        <option>
                            Trusted users
                        </option>
                    </optgroup>
                    <optgroup>
                        <option>
                            Workspace so and so
                        </option>
                        <option>
                            Baggage handling regulations
                        </option>
                        <option>
                            Human resources
                        </option>
                    </optgroup>
                </select>
            </label> <br/>
			<a href="#" class="iconified icon-cog">Options</a>
		</p>
	</div>
	<section class="post-content">
		<p>
			{{ item.text }}
		</p>
	</section>
	{% if item.preview %}
		<section class="preview">
			<figure>
				{% for node in site.posts %}
					{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
					{% if  nodeid == item.object_id %}
						{% assign object = node %}
					{% endif %}
				{% endfor %}
				{% if object %}
					<a href="{{ object.url }}" alt="{{ object.title }}">
				{% endif %}
				{% if item.preview == 'not-generated' %}
					<h1>*** NOT GENERATED *** {{ object.title }}</h1>
				{% else %}
					<img src="{{ item.preview }}" alt="" />
				{% endif %}
				{% if object %}
					</a>
				{% endif %}
			</figure>
		</section>
	{% endif %}
	<div class="functions">

		<!-- Buttons and anchors in this section get a class 'active, when the share or like is used by the current user.' -->
		<a href="/sharing.html#document-content" class="share pat-modal">Share <sup class="counter">({{ item.shares }})</sup></a>
		<form action="/feedback/liked.html#content" class="pat-inject pat-autosubmit" id="functions-{{mypostUID}}" data-pat-inject="source: #functions; target: #functions-{{mypostUID}}">
			<!-- The submit button sends a name value pair to the server. The name is always the same but the value differs, depending whether the state is like or unlike. When the user has already liked the item and the form is submitted with the name value pair: like_button/like, then in the server feedback (/feedback/liked.html) the like count will be increased by 1 and the class 'active' is added. When the form is submitted with the name value pair like_button/unlike, the like count in will be decreased by one and the class 'active' is removed from the button. This is all done server side. -->
			<button type="submit" name="like_button" value="like" class="like">Like <sup class="counter">({{ item.likes }})</sup></button>
		</form>
	</div>
	<div class="comments">

		<div id="comment-trail-{{mypostUID}}">
			{% for comment in item.comments %}
				{% include comment.html %}
			{% endfor %}
		</div>
		{% capture localtarget %}#comment-trail-{{mypostUID}}{% endcapture %}
		{% include update-social.html id=mypostUID visibility="false" action="/feedback/comment-well-said.html#comment-trail" %}
	</div>
</div>
