<div class="post">
	<div class="post-header">
		<a href="#">
			{% include patterns/avatar.html img="/media/avatar-jeff-peters.jpg" %}
			<h4 class="name">
				{{ include.name }}
			</h4>
		</a>
		<p class="byline">
			<em class="action">Posted</em> <time>2 hours ago</time> | 
            <label class="visibility pat-select bare">
                <select>
                    <optgroup>
                        <option>
                            Everyone
                        </option>
                        <option>
                            Trusted users
                        </option>
                    </optgroup>
                    <optgroup>
                        <option>
                            Workspace so and so
                        </option>
                        <option>
                            Baggage handling regulations
                        </option>
                        <option>
                            Human resources
                        </option>
                    </optgroup>
                </select>
            </label> 
		</p>
	</div>
	<section class="post-content">
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
	</section>
	<section class="preview">
		<figure>
			<img src="http://lorempixel.com/600/300/business" alt="" />
		</figure>
	</section>
	<p class="functions">
		<a href="#">Share <sup class="counter">(8)</sup></a>
		<a href="#">Like <sup class="counter">(3)</sup></a>
	</p>
	<div class="comments">
		{% include update-social.html id="mypost" visibility="false" %}
	</div>
</div>