<div class="post">
	<div class="post-header">
		<!-- find the user 'post' that relates to the poster's id -->
		{% for node in site.posts %}
			{% capture nodeid %}{{ node.id | remove: "/" }}{% endcapture %}
		    {% if  nodeid == item.userid %}
				{% assign user = node %}
			{% endif %}
		{% endfor %}
		<a href="{{user.id}}">
			{% include patterns/avatar.html img=user.image_url %}
			<h4 class="name">
				{{ user.title }}
			</h4>
		</a>
		<p class="byline">
			<em class="action">{{ item.activity }}</em> <time>{{ item.datestamp }}</time> |
            <label class="visibility pat-select bare">
                <select>
                    <optgroup>
                        <option>
                            Everyone
                        </option>
                        <option>
                            Trusted users
                        </option>
                    </optgroup>
                    <optgroup>
                        <option>
                            Workspace so and so
                        </option>
                        <option>
                            Baggage handling regulations
                        </option>
                        <option>
                            Human resources
                        </option>
                    </optgroup>
                </select>
            </label> <br/>
			<a href="#" class="iconified icon-cog">Options</a>
		</p>
	</div>
	<section class="post-content">
		<p>
			{{ item.text }}
		</p>
	</section>
	{% if item.preview %}
		<section class="preview">
			<figure>
				{% if item.preview_url %}
					<a href="{{item.preview_url}}">
				{% endif %}
				<img src="{{ item.preview }}" alt="" />
				{% if item.preview_url %}
					</a>
				{% endif %}
			</figure>
		</section>
	{% endif %}
	<p class="functions">
		<a href="#">Share <sup class="counter">({{ item.shares }})</sup></a>
		<a href="#">Like <sup class="counter">({{ item.likes }})</sup></a>
	</p>
	<div class="comments">
		{% for comment in item.comments %}
			{% include comment.html %}
		{% endfor %}
		{% include update-social.html id="mypost" visibility="false" %}
	</div>
</div>
