<div class="small list-extend" id="inbox-messages">
    <div id="message-title">
        <a href="/@@messaging-send#content-core" data-pat-modal="class: large"
           class="pat-modal button float-after">New Message</a>
        Inbox
    </div>
    <ul class="list">
        <li class="item user">
            <div class="social-message-name">
                <div class="social-message-created right font-small">
                    Sep 10, 2014
                </div>
                User
            </div>

            <a href="/@@social-inbox?user=user" class="social-message">
                <img width="20" height="40" title="" alt="" src="/media/avatar-michael-mccorbin.jpg" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit efficitur bibendum. Curabitur consequat sem neque, at tincidunt velit fermentum eu. Vestibulum laoreet sit amet ipsum vitae faucibus. Suspendisse potenti. Etiam tincidunt ultrices augue. In nunc velit, dapibus a nisi placerat, pellentesque cursus lorem. Pellentesque et felis vestibulum massa finibus varius. Proin at sodales elit, sit amet faucibus nisi.                 <div class="clearall"></div>
            </a>

        </li>
        <li class="item user">
            <div class="social-message-name">
                <div class="social-message-created right font-small">
                    Sep 10, 2014
                </div>
                User
            </div>

            <a href="/@@social-inbox?user=user" class="social-message">
                <img width="20" height="40" title="" alt="" src="/media/avatar-michael-mccorbin.jpg" />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit efficitur bibendum. Curabitur consequat sem neque, at tincidunt velit fermentum eu. Vestibulum laoreet sit amet ipsum vitae faucibus. Suspendisse potenti. Etiam tincidunt ultrices augue. In nunc velit, dapibus a nisi placerat, pellentesque cursus lorem. Pellentesque et felis vestibulum massa finibus varius. Proin at sodales elit, sit amet faucibus nisi.                 <div class="clearall"></div>
            </a>

        </li>
        <li id="your-messages-inbox" class="">
            <a href=" /@@social-inbox" class="your-inbox">Your Inbox</a>
        </li>
    </ul>
</div>
