<div class="small list-extend column four" id="inbox-messages">
    {% include social-inbox.html %}
</div>

<div class="full list-extend column seven" id="full-inbox-messages">
    <div id="message-title">
        <a href="/@@messaging-send#content-core" data-pat-modal="class: large"
           class="pat-modal button float-after">New Message</a>
        Inbox
    </div>
    <p>&nbsp;</p>
    <div id="conversation-content">
        <p>&nbsp;</p>
        <div class="posts">
            <div class="post">
                <div class="post-header">

                    <a href="">
                        <img class="pat-avatar" src="/media/avatar-michael-mccorbin.jpg" />
                        <h4 class="name">User</h4>
                        <time class="date">
                            Sep 10, 2014
                        </time>
                    </a>

                </div>

                <section class="post-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit efficitur bibendum. Curabitur consequat sem neque, at tincidunt velit fermentum eu. Vestibulum laoreet sit amet ipsum vitae faucibus. Suspendisse potenti. Etiam tincidunt ultrices augue. In nunc velit, dapibus a nisi placerat, pellentesque cursus lorem. Pellentesque et felis vestibulum massa finibus varius. Proin at sodales elit, sit amet faucibus nisi.
                    </p>
                </section>

            </div>
            <div class="post">
                <div class="post-header">

                    <a href="">
                        <img class="pat-avatar" src="/media/avatar-michael-mccorbin.jpg" />
                        <h4 class="name">User</h4>
                        <time class="date">
                            Sep 10, 2014
                        </time>
                    </a>

                </div>

                <section class="post-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam blandit efficitur bibendum. Curabitur consequat sem neque, at tincidunt velit fermentum eu. Vestibulum laoreet sit amet ipsum vitae faucibus. Suspendisse potenti. Etiam tincidunt ultrices augue. In nunc velit, dapibus a nisi placerat, pellentesque cursus lorem. Pellentesque et felis vestibulum massa finibus varius. Proin at sodales elit, sit amet faucibus nisi.
                    </p>
                </section>

            </div>
        </div>
    </div>
    {% include update-social.html id="new-message"  direct="true" visibility="false" fixeduser="true" user="admin" hideuser="true" %}

</div>
