{% if item.type == 'link' %}
    <a class="button {{ item.class }}" href="{{ item.url }}">{{ item.label }}</a>
{% endif %}
{% if item.type == 'button' %}
    <button>
        {{ item.label }}
    </button>
{% endif %}
{% if item.type == 'dropdown' %}
    <a class="button {{ item.class }} dropdown pat-tooltip" data-pat-tooltip="source: ajax; position: tl" href="{{ item.url }}">{{ item.label }}</a>
{% endif %}
{% if item.type == 'search' %}
    <form action="{{ item.url }}" class="{{ item.class }}">
        <input type="search" placeholder="{{ item.label }}" />
        <button type="submit" hidden>Search</button>
    </form>
{% endif %}
{% if item.type == 'divider' %}
    <hr class="divider" />
{% endif %}
{% if item.type == 'save' %}
    <form action="{{ item.url }}" class="{{ item.class }}">
        <button type="submit">Save</button>
        <button type="reset">Cancel</button>
    </form>
{% endif %}