<form id="{{ include.id }}" class="pat-inject update-social status-inactive" action="">
	<fieldset>
	    <textarea placeholder="Leave a commnent" class="pat-comment-box pat-switch" data-pat-switch="#{{ include.id }} status-* status-active"></textarea>
	    <a class="iconified icon-attach" href="panel-attachment.html">Attach file or reference</a>
	    <div class="button-bar">
	        <a class="iconified icon-user-add" href="panel-mentions.html">Mention people</a>
	        <br/>
	        <a class="iconified icon-tags" href="panel-tags.html">Add tags</a>
	        <br/>
	        <button class="pat-switch" data-pat-switch="#{{ include.id }} status-* status-inactive" type="submit">Post</button>
	        <button class="pat-switch" data-pat-switch="#{{ include.id }} status-* status-inactive" type="reset">Cancel</button>
	        <br/>
	        <!-- <a class="iconified icon-users" href="panel-visibility.html">Define who can see this</a> -->
	        <label>
				<select>
					<optgroup>
						<option>
							Everyone
						</option>
						<option>
							Trusted users
						</option>
					</optgroup>
					<optgroup>
						<option>
							Workspace so and so
						</option>
						<option>
							Baggage handling regulations
						</option>
						<option>
							Human resources
						</option>
					</optgroup>
				</select>
	        </label>
	    </div>
    </fieldset>
</form>
