<form id="{{ include.id }}" class="pat-inject update-social {% if include.status %}status-{{ include.status }}{% else %}status-inactive{% endif %}" action="{{ include.action }}" data-pat-inject="{% if include.inject %}{{ include.inject }}{% else %}target: {{localtarget}}{% endif %}">
    {% if include.direct == "true" %}
        {% unless include.hideuser == 'true' %}
            <label>
                To:
                {% if include.fixeduser == "true" %}
                    <input disabled="disabled" value="{{ include.user }}" />
                {% else %}
                    <a class="iconified icon-user pat-tooltip"
                        data-pat-tooltip="position: tl; source: ajax; class: user;"
                        href="/feedback/panel-user.html#content"></a>
                    <span id="selected-user"><input value="{{ include.user }}" /></span>
                {% endif %}
            </label>
        {% endunless %}
        {% if include.hideuser == "true" %}
            <input type="hidden" value="{{ include.user }}" />
        {% endif %}
    {% endif %}
    <fieldset>
        <p class="content-mirror"
            ><span class="text"
                ><em class="placeholder">{% if include.placeholder %}{{ include.placeholder }}{% else %}Leave a comment{% endif %}</em></span
            ><em class="selected-users" id="selected-users">{% if include.users %} — {% endif %}{{ include.users }}</em
            ><em class="selected-tags" id="selected-tags">{% if include.tags %} — {% endif %}{{ include.tags }}</em>
        </p>
        <textarea placeholder="{% if include.placeholder %}{{ include.placeholder }}{% else %}Leave a comment{% endif %}" class="pat-content-mirror pat-switch" data-pat-switch="#{{ include.id }} status-inactive status-active"></textarea>
        <!-- <a class="iconified icon-attach" href="panel-attachment.html">Attach file or reference</a> -->
        {% unless include.attachment == 'false' %}
            <fieldset class="attachments pat-subform pat-autosubmit pat-inject" data-pat-inject="url: /feedback/attachment-waste-not-want-not.html#attachments; target: #{{ include.id }}-attachment-previews">
                <label class="iconified icon-attach pat-switch" data-pat-switch="#{{ include.id }} status-* status-attach"><input multiple capture="camera" accept="image/*" type="file" title="Attach a file"> Attach a file (or create a picture)</label>
                <p class="attachment-previews" id="{{ include.id }}-attachment-previews">
                    No attachments selected.
                </p>
                <!-- <button type="submit" hidden formaction="/feedback/attachment-waste-not-want-not.html">Upload attachments</button> -->
            </fieldset>
        {% endunless %}
        {% if include.share_title %}
            <div class="shared-item {% if include.share_img %}has-preview{% endif %}">
                {% if include.share_img %}
                    <div class="preview">
                        <img src="{{ include.share_img }}" alt="" />
                    </div>
                {% endif %}
                <div class="summary">
                    {% if include.share_title %}
                        <h4 class="title">
                            {{ include.share_title }}
                        </h4>
                    {% endif %}
                    {% if include.share_byline %}
                        <p class="byline">
                            {{ include.share_byline }}
                        </p>
                    {% endif %}
                    {% if include.share_description %}
                        <p class="description">
                            {{ include.share_description }}
                        </p>
                    {% endif %}
                    {% if include.share_quote %}
                        <blockquote class="share-quote">
                            {{ include.share_quote }}
                        </blockquote>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="button-bar">
            <a class="iconified icon-user-add pat-tooltip" data-pat-tooltip="position: tl; source: ajax; class: mentions;" href="/feedback/panel-mentions.html#content">Mention people</a>

            <a class="iconified icon-tags pat-tooltip" data-pat-tooltip="position: tl; source: ajax; class: tags;" href="/feedback/panel-tags.html#content">Add tags</a>

            <button class="pat-switch close-panel" data-pat-switch="#{{ include.id }} status-* status-inactive" type="submit">Post</button>
            <button class="pat-switch close-panel" data-pat-switch="#{{ include.id }} status-* status-inactive" type="reset">Cancel</button>
            <!-- <a class="iconified icon-users" href="panel-visibility.html">Define who can see this</a> -->
            {% unless include.visibility == "false" %}
                <label class="visibility pat-select bare">
                    <select>
                        <optgroup>
                            <option>
                                Everyone
                            </option>
                            <option>
                                Trusted users
                            </option>
                        </optgroup>
                        <optgroup>
                            <option>
                                Workspace so and so
                            </option>
                            <option>
                                Baggage handling regulations
                            </option>
                            <option>
                                Human resources
                            </option>
                        </optgroup>
                    </select>
                </label>
            {% endunless %}
        </div>
    </fieldset>
</form>
