<form class="pat-inject update-social" action="">
	<fieldset>
	    <textarea placeholder="Leave a commnent" class="pat-comment-box"></textarea>
	    <a class="iconified icon-attach" href="panel-attachment.html">Attach file or reference</a>
	    <div class="button-bar">
	        <a class="iconified icon-user-add" href="panel-mentions.html">Mention people</a>
	        <br/>
	        <a class="iconified icon-tags" href="panel-tags.html">Add tags</a>
	        <br/>
	        <button type="submit">Post</button>
	        <br/>
	        <a class="iconified icon-users" href="panel-visibility.html">Define who can see this</a>
	    </div>
    </fieldset>
</form>
