<nav class="navigation workspace-tabs">
    <a class="pat-inject documents pat-switch current" data-pat-switch="#content mode-* mode-c" href="workspace-landing.html#sidebar-content" title=
    "Documents">Documents</a> 
    <a class="pat-inject notes pat-switch" data-pat-switch="#content mode-* mode-c" href="workspace-note.html#sidebar-content"
    title="Notes">Notes</a> 
    <a class="pat-inject events pat-switch" data-pat-switch="#content mode-* mode-c" href=
    "workspace-calendar.html#sidebar-content" title="Events">Events</a> <a class="todos pat-switch" data-pat-switch="#content mode-* mode-c" href="#"
    title="Todos">Todos</a> 
    <a class="pat-inject about pat-switch" data-pat-switch="#content mode-* mode-c" href="workspace-about.html#sidebar-content"
    title="About this project">About</a> 
    <a class="pat-inject qa pat-switch" data-pat-inject="target: #sidebar-content::element" data-pat-switch=
    "#content mode-* mode-c" href="workspace-qa.html#sidebar-content" title="About this project">Q&amp;A <sup class="counter digit-2">13</sup></a>
</nav>