<nav class="navigation workspace-tabs">
    <a class="pat-inject documents pat-switch current" data-pat-switch="#content mode-* mode-c" href="workspace-landing.html#sidebar-content" title=
    "Documents">Documents</a> 
    <a class="pat-inject events pat-switch" data-pat-switch="#content mode-* mode-c" href=
    "workspace-calendar.html#sidebar-content" title="Events">Events</a> <a class="todos pat-switch" data-pat-switch="#content mode-* mode-c" href="#"
    title="Tasks">Tasks</a> 
    <a class="pat-inject about pat-switch" data-pat-switch="#content mode-* mode-c" href="workspace-about.html#sidebar-content"
    title="About this project">Workspace settings and about</a> 
</nav>