<form action="q-8362.html" class="question pat-inject" data-pat-inject="source: #news-wall; target: #news-wall::before && #q-field" id="q-a" name="q-a">
    <fieldset class="question inforeq-untouched" id="q-field">
        <textarea class="question" placeholder="Post something on the activity feed"></textarea>

        <p class="attachments" id="question-attachments">No attachements selected.</p>

        <fieldset class="button-bar">
            <div class="extras">
                <fieldset class="attachments pat-subform pat-autosubmit pat-inject" data-pat-inject="source: #question-attachments; target: #question-attachments">
                    <label class="file-attachment" title="Attach one or more files to this response">
                        <input type="file" multiple class="pat-switch" data-pat-switch="#q-field inforeq-* inforeq-attached" /> Attach file(s)
                    </label>
                    <button hidden type="submit" formaction="question-image-previews.html">Preview file(s)</button>
                </fieldset>
            </div>
            <button type="submit">Post</button>
            <button type="reset" class="pat-switch" data-pat-switch="#q-field inforeq-* inforeq-untouched">Cancel</button>
        </fieldset>
    </fieldset>
</form>