<div class="content">
    <p class="message notice description">The goal of this project is to integrate CA to ADC product.</p>
    <h3>Project members</h3>
    <p class="members">
        <a href="antonio.html#address-body" title="Jason Byrne" class="pat-inject pat-switch" data-pat-inject="#address-body::element" data-pat-switch="#'applications' 'application-* application-address'"><img class="bw-c" src="media/avatar-1.jpg" width="50" height="50" alt="Jason Byrne" /></a>

        <a href="#" title="Antonio Mastrolorito"><img src="media/avatar-antonio.jpg" width="50" height="50" alt="Antonio Mastrolorito" /></a>

        <a href="#" title="Christian Klick"><img src="media/avatar-christian-klick.jpg" width="50" height="50" alt="Christian Klick" /></a>

        <a href="profile-liz.html#address-body" class="pat-inject" title="Liz Johnson"><img src="media/avatar-liz.jpg" width="50" height="50" alt="Name of colleague" alt="Name-of-colleague" /></a>

        <a href="#"><img src="media/avatar-erbacci-justin.jpg" width="50" height="50" alt="Justin Erbacci" /></a>

        <a href="#" title="Barack Obama"><img src="media/avatar-barack-obama.jpg" width="50" height="50" alt="Barack Obama" /></a>

        <a href="#" title="Jeff Peters"><img src="media/avatar-jeff-peters.jpg" width="50" height="50" alt="Jeff Peters" /></a>

        <a href="#" title="Joan Baker"><img src="media/avatar-joan-baker.jpg" width="50" height="50" alt="Joan Baker"></a>

        <a href="#" title="Megan Fox"><img src="media/avatar-megan-fox.jpg" width="50" height="50" alt="Megan Fox"></a>
        <a href="#" title="Add a new member to this workspace" class="add">Add member</a>
    </p>
    <p>
    </p>
    <h3>Airlines involved</h3>
    <ul class="airline-involvement-matrix">
        <li class="green">
            <a href="#">A3</a>: Green
        </li>
        <li class="amber">
            <a href="#">AC</a>: Amber
        </li>
        <li class="red">
            <a href="#">BD</a>: Red
        </li>
        <li class="red">
            <a href="#">CA</a>: Red
        </li>
        <li class="red">
            <a href="#">CM</a>: Red
        </li>
        <li class="red">
            <a href="#">CO</a>: Red
        </li>
        <li class="green">
            <a href="#">ET</a>: Green
        </li>
        <li class="amber">
            <a href="#">JJ</a>: Amber
        </li>
        <li class="green">
            <a href="#">JP</a>: Green
        </li>
        <li class="green">
            <a href="#">KF</a>: Green
        </li>
        <li class="green">
            <a href="#">LH</a>: Green
        </li>
        <li class="amber">
            <a href="#">LO</a>: Amber
        </li>
    </ul>
    <dl class="grid">
        <dt>Scope</dt>
        <dd>
            Develop an automated document check system on the existing Star Alliance middleware. Product will use an advanced business rules engine to determine "OK" response to travel document check.
        </dd>
        <dt>Start date</dt>
        <dd>1 January 2009</dd>
        <dt>End date</dt>
        <dd>10 December 2010</dd>
        <dt>Owning business unit</dt>
        <dd>Products &amp; Services</dd>
        <dt>Functional area</dt>
        <dd>Products &amp; Services</dd>
        <dt>Line item nubmer</dt>
        <dd>42100618</dd>
        <dt>Active status</dt>
        <dd>Active star management</dd>
        <dt>VP</dt>
        <dd>Lee Hock Lye (S/PS)</dd>
        <dt>Production director/manager</dt>
        <dd><a href="#" >Mike Chew</a>, <a href="#" >Jay Dickson</a></dd>
        <dt>Project manager</dt>
        <dd><a href="#" >Naoki Itahashi</a> , <a href="#" >Lavinia Goh</a> , <a href="#" >Lars Rosenberg</a></dd>
        <dt>Group</dt>
        <dd>PSB PDB</dd>
        <dt>PHP Stage</dt>
        <dd>Launch</dd>
        <dt>PDP Stage gate date</dt>
        <dd>11 November 2010</dd>

    </dl>
    <!--                <p>
                            <a href="#">Edit project permissions</a>
    </p>-->
</div>