<div class="layout-questions" id="sidebar-content">
	<form action="workspace-qa.html#sidebar-content" class="question pat-inject" id="post-form">
		<fieldset class="question inforeq-untouched" id="q-field">
			<textarea class="question" placeholder="Post a message"></textarea>

			<p class="attachments" id="question-attachments">No attachments selected.</p>
				<fieldset class="button-bar">
					<div class="extras">
						<fieldset class="attachments pat-subform pat-autosubmit pat-inject" data-pat-inject="source: #question-attachments; target: #question-attachments">
							<label class="file-attachment" title="Attach one or more files to this response">
								<input type="file" multiple class="pat-switch" data-pat-switch="#q-field inforeq-* inforeq-attached" /> Attach file(s)
							</label>
							<button hidden type="submit" formaction="question-image-previews.html">Preview file(s)</button>
						</fieldset>
						<label class="pat-switch checkbox" data-pat-switch="#q-field inforeq-* inforeq-touched">
							<input type="checkbox" title="Response required from all Airlines" /> Response required
						</label>
					</div>
					<button type="submit">Post</button>
					<button type="reset" class="pat-switch" data-pat-switch="#q-field inforeq-* inforeq-untouched">Cancel</button>
				</fieldset>
		</fieldset>
	</form>

	<div id="qa-filters-flyout">
		<form action="project-documents-by-date.html#document-listings" class="functions pat-autosubmit pat-inject">
			<fieldset class="flyout" hidden="" id="qa-filters-flyout">
				<fieldset class="sorting checklist radio">
					<label><input checked="checked" name="sorting" type="radio">Sort by date</label> <label><input name="sorting" type="radio">Sort by author</label> <label><input name="sorting" type="radio">Sort by creator airline</label>
				</fieldset>

				<fieldset class="filter checklist">
					<label><input type="checkbox">Show type 'Response required' only</label>
				</fieldset>

				<fieldset class="grouping checklist radio">
					<label><input name="grouping" type="radio">Group by answered state</label> <label><input name="grouping" type="radio">Group by airline</label> <label><input name="grouping" type="radio">Group by period</label> <label><input checked="checked" name="grouping" type="radio">No grouping</label>
				</fieldset>
			</fieldset>
		</form>
	</div>

	<div class="content">
		<ul class="documents layout-questions navigation">
			<li>
				<a href="#"><strong class="title">My newly added post</strong> <time>Today 11:46</time></a>
			</li>
			<li class="current state-unanswered">
				<a class="pat-inject" data-pat-inject="#document-body::element &amp;&amp; #project-header::element" href="workspace-qa.html"><strong class="title">Where can I register new opening hours of the baggage claim desk?</strong> <time>Today 10:44</time></a>
			</li>

			<li>
				<a href="#"><strong class="title">Ipsum dolor</strong> <time>Today 10:48</time></a>
			</li>

			<li>
				<a href="#"><strong class="title">Lorem ipsum dolor sit</strong> <time>Yesterday</time></a>
			</li>

			<li class="type-inforeq">
				<a href="#"><strong class="title">Baggage got lost between two lorem ipsum dolor sit amet. Consectetuer maledictis vorentatis cachelbont.</strong> <time>Yesterday</time></a>
			</li>

			<li class="state-private">
				<a href="#"><strong class="title">Consectetuer maledictis</strong> <time>Last week</time></a>
			</li>

			<li class="state-private">
				<a href="#"><strong class="title">Vanitas vanitatem</strong> <time>Two weeks ago</time></a>
			</li>
		</ul>
	</div>
</div>
