<div hidden id="more-menu">
    <ul class="menu">
        <li>
            <a class="icon-document" href="#">Paste document(s)</a>
        </li>
    </ul>
</div>

<div id="sidebar-content" class="pat-stacks">
    <div id="workspace-documents">
        {% include item-selector.html mode="docs" id="selector" listitems="follow" title=include.title searchresult="/feedback/workspace-search-results-min.html" toggle="true" action="/feedback/batch-rename.html#content" %}
    </div>
    <div id="workspace-tickets">
        {% if page.type == 'case' %}
            <h3>Case Tasks</h3>
            {% for item in page.case_states %}
                <fieldset class="task-list pat-checklist">
                    <h4 class="section-label state-{{ item.transition_state }}">
                        {{ item.label }} {% if item.text %}<a href="/{{ item.text }}#content" class="pat-modal iconified icon-info-circle" data-pat-modal="class: large">Info</a>{% endif %}
                    </h4>
                    {% for ticket in site.posts  %}
                        {% if ticket.case_state == item.label %}
                            <label>
                                <input type="checkbox" {% if ticket.state == 'complete' or item.transition_state == 'finished' %}checked{% endif %} /> <a class="pat-inject" title="{{ ticket.excerpt | strip_html }}" href="{{ticket.url}}" data-pat-inject="source: #document-body; target: #document-body; history: record">{{ ticket.title }}</a>
                            </label>
                        {% endif %}
                    {% endfor %}
                </fieldset>
            {% endfor %}
            <fieldset class="task-list pat-checklist">
                {% assign state = item.state %}
                <h4 class="section-label">
                    Unassigned
                </h4>
                {% for ticket in site.posts  %}
                    {% if ticket.case_state == 'unassigned' %}
                        <label>
                            <input type="checkbox" /> <a class="pat-inject" title="{{ ticket.excerpt | strip_html }}" href="{{ticket.url}}" data-pat-inject="source: #document-body; target: #document-body; history: record">{{ ticket.title }}</a>
                        </label>
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% else %}
            <h3>Workspace Tasks</h3>
            <fieldset class="task-list pat-checklist">
                {% for ticket in site.posts  %}
                    {% if ticket.layout == 'ticket' and ticket.workspace_name == page.workspace_name %}
                        {% if count >= 1 %}
                            <br/>
                        {% endif %}
                        <label>
                            <input type="checkbox" /> <a title="{{ ticket.excerpt | strip_html }}" href="{{ticket.url}}">{{ ticket.title }}</a>
                        </label>
                    {% endif %}
                    {% assign count = count | plus: 1 %}
                {% endfor %}
            </fieldset>
        {% endif %}
    </div>
    <div id="workspace-events">

        <div class="content">
            <div class="pat-collapsible" data-pat-collapsible="store: local" id="upscheduled-events">
                <h3>Unscheduled events</h3>

                <ul class="cal-events">
                    <li class="cal-event no-date cal-cat-baggage-handling-regulations">
                        <h4 class="title"><a class="pat-modal external" href="project-calendar-detail.html#content">Release of the new Baggage Handbook</a></h4>

                        <p class="description">Plan Press Conference and internal event to mark the release of the new Baggage Handbook. Scheduled to happen in September.</p>

                        <ul class="details">
                            <li>Location <span class="location">Frankfurt, Germany</span></li>
                        </ul>

                        <form action="">
                            <button class="iconified icon-trash" type="submit">Delete event</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="pat-collapsible" data-pat-collapsible="store: local" id="upcoming-events">
                <h3>Upcoming events</h3>

                <ul class="cal-events">
                    {% for item in site.posts  %}
                        {% if item.layout == 'event' and item.workspace_name == page.workspace_name %}
                            <li class="cal-event all-day cal-cat-baggage-handling">
                                <h4 class="title">
                                    <a class="pat-inject" href="{{ item.url }}#document-body">{{ item.title }}</a>
                                </h4>

                                <p class="description">{{ item.description }}</p>

                                <ul class="details">
                                    <li>Starts <time class="start" datetime="2013-09-05">{{ item.start }}</time></li>

                                    <li>Location <span class="location">{{ item.location }}</span></li>
                                </ul>

                                <form action="">
                                    <button class="iconified icon-trash" type="submit">Delete event</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="pat-collapsible closed" data-pat-collapsible="store: local" id="older-events">
                <h3>Older events</h3>

                <ul class="cal-events">
                    <li class="cal-event all-day cal-cat-baggage-handling">
                        <h4 class="title"><a class="pat-modal external" href="project-calendar-detail.html#content">Report Deadline: Focus on Baggage</a></h4>

                        <p class="description">The new Report on "Focus on Baggage" goes out today.</p>

                        <ul class="details">
                            <li>Starts <time class="start" datetime="2013-09-05">5 September 2013</time></li>

                            <li>Location <span class="location">Star HQ, Germany</span></li>
                        </ul>

                        <form action="">
                            <button class="iconified icon-trash" type="submit">Delete event</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="workspace-settings">
        <nav class="navigation tabs">
            <a href="/open-market-committee/" class="pat-inject current" data-pat-inject="target: #workspace-settings > .tabs-content; source: #workspace-settings > .tabs-content">General</a>
            <a href="/feedback/workspace-settings-members.html" class="pat-inject" data-pat-inject="target: #workspace-settings > .tabs-content; source: #workspace-settings > .tabs-content">Members</a>
            <a href="/feedback/workspace-settings-security.html" class="pat-inject" data-pat-inject="target: #workspace-settings > .tabs-content; source: #workspace-settings > .tabs-content">Security</a>
            <a href="/feedback/workspace-settings-advanced.html" class="pat-inject" data-pat-inject="target: #workspace-settings > .tabs-content; source: #workspace-settings > .tabs-content">Advanced</a>
        </nav>
        <div class="tabs-content">
            <form action="">
                <fieldset class="vertical">
                    <label>
                        Workspace title
                        <input type="text" value="{{ page.workspace_name }}" placeholder="Workspace title" />
                    </label>
                    <label>
                        Workspace brief description
                        <textarea rows="4" placeholder="Workspace brief description">The goal of this project is to integrate CA to ADC product.</textarea>
                    </label>
                    <fieldset class="pat-checklist">
<!--                         <label>
                            <input type="checkbox" checked> Visible workspace
                        </label> -->
                        <label>
                            <input type="checkbox" checked> Workspace calendar visible in central calendar application
                        </label>
                    </fieldset>
                </fieldset>
            </form>
        </div>
    </div>
</div>
