/* Temporary integration code so that we can use the navigation and the
   edit bar while working on the theme. Should go away again soon, once the
   navigation concept for ploneintranet is implemented */

ul#portal-globalnav,
ul#portal-globalnav ul {
    margin-left: 0;
}
#portal-globalnav li {
    display: inline;
}
#portal-globalnav li a {
    display: inline-block;
}

#edit-bar {
    border-bottom: 1px solid #75ad0a;
}
#edit-bar>ul {
    margin-left: 0;
}
#edit-bar p.hiddenStructure {
    margin:0;
}
#edit-bar ul#content-views.contentViews a:visited,
#edit-bar ul#content-views.contentViews a:active,
#edit-bar ul#content-views.contentViews a:hover,
#edit-bar ul#content-views.contentViews a {
    border: 0;
    line-height: 2em;
    color: white;
}
#edit-bar ul#content-views.contentViews li.selected a {
    color: #75ad0a;
}

#edit-bar ul#content-views.contentViews li,
#edit-bar ul#contentActionMenus li {
    line-height: 2em;
    display: inline;
    margin-bottom: 0;
}

#edit-bar #contentActionMenus dl.actionMenu {
    line-height: 1.9em;
    margin-bottom:0;
}
#edit-bar #contentActionMenus dl.actionMenu a:visited,
#edit-bar #contentActionMenus dl.actionMenu a:active,
#edit-bar #contentActionMenus dl.actionMenu a:hover,
#edit-bar #contentActionMenus dl.actionMenu a {
    border-bottom: 1px solid #75ad0a;
    font-weight: normal;
}
#edit-bar #contentActionMenus dl.actionMenu ul {
    margin-left: 0;
}