div#microblog {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.5em 0 #888888;
    margin: 0.5em 0.5em 1em 0;
    padding: 0.5em 2em 0.5em 1em;
    background-color: #fafafa;
}
div#microblog label {
    padding-left: 0.25em;
}
div#microblog .field {
    margin: 0;
}
div#microblog textarea {
    width: 100%;
}
div#microblog .formControls {
    margin: 0.25em 0 0 0;
}
div#microblog input.hide,
div#microblog .formControls input.reply,
div#microblog .formControls input.hide {
    display: none;
}

.activityItem div#microblog {
    border: 0;
    box-shadow: 0 0 0 0;
    margin: 0;
    padding: 0;
}
.activityItem div#microblog label {
    display: none;
}
.activityItem div#microblog textarea {
    width: 30%;
    height: 18px;
    float: left;
}
.activityItem div#microblog .formControls input {
    display: none;
}
.activityItem div#microblog .formControls input.reply {
    display: block;
}

.conversation .highlight-True div.activityItem,
.conversation .highlight-True #microblog {
    border: 0;
    margin: 0;
    box-shadow: 0 0 0 0;
}
.conversation .highlight-True {
    border: 1px solid #ddd;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.5em 0 #888888;
    margin: 0.5em 0.5em 1em 0;
}
