@charset "UTF-8";

 
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-list:before { content: '\2630'; } /* '☰' */
.icon-tiles:before { content: '\268f'; } /* '⚏' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-cog-many:before { content: '\26ef'; } /* '⛯' */
.icon-cut:before { content: '\2702'; } /* '✂' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-left-circle:before { content: '\e4a1'; } /* '' */
.icon-right-circle:before { content: '\e4a2'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-radio-on:before { content: '\e702'; } /* '' */
.icon-cancel-circle-open:before { content: '\e703'; } /* '' */
.icon-help-circle:before { content: '\e704'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-upload-cloud:before { content: '\e711'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-plus-circle:before { content: '\e802'; } /* '' */
.icon-cancel-circle:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-list-large:before { content: '\e807'; } /* '' */
.icon-upload:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e80a'; } /* '' */
.icon-grid-large:before { content: '\e80b'; } /* '' */
.icon-attention:before { content: '\e80c'; } /* '' */
.icon-up-circle:before { content: '\e80d'; } /* '' */
.icon-down-circle:before { content: '\e80e'; } /* '' */
.icon-archive:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-document:before { content: '\e811'; } /* '' */
.icon-brush:before { content: '\e812'; } /* '' */
.icon-cancel-circle-open-light:before { content: '\e813'; } /* '' */
.icon-bell:before { content: '\e814'; } /* '' */
.icon-feather:before { content: '\e815'; } /* '' */
.icon-contacts:before { content: '\e816'; } /* '' */
.icon-calendar-empty:before { content: '\e817'; } /* '' */
.icon-slides:before { content: '\e818'; } /* '' */
.icon-info-circle:before { content: '\e819'; } /* '' */
.icon-file-pdf:before { content: '\e81a'; } /* '' */
.icon-file-word:before { content: '\e81b'; } /* '' */
.icon-file-excel:before { content: '\e81c'; } /* '' */
.icon-file-powerpoint:before { content: '\e81d'; } /* '' */
.icon-file-video:before { content: '\e81e'; } /* '' */
.icon-file-code:before { content: '\e81f'; } /* '' */
.icon-file-audio:before { content: '\e820'; } /* '' */
.icon-file-archive:before { content: '\e821'; } /* '' */
.icon-file-image:before { content: '\e822'; } /* '' */
.icon-doc-text:before { content: '\e823'; } /* '' */
.icon-ellipsis:before { content: '\e824'; } /* '' */
.icon-plus:before { content: '\e825'; } /* '' */
.icon-copy:before { content: '\e826'; } /* '' */
.icon-move:before { content: '\e827'; } /* '' */
.icon-share:before { content: '\e828'; } /* '' */
.icon-rename:before { content: '\e829'; } /* '' */
.icon-ok:before { content: '\e82a'; } /* '' */
.icon-floppy:before { content: '\e82b'; } /* '' */
.icon-speedometer:before { content: '\e82c'; } /* '' */
.icon-location:before { content: '\e82d'; } /* '' */
.icon-back-in-time:before { content: '\e82e'; } /* '' */
.icon-clock:before { content: '\e82f'; } /* '' */
.icon-external:before { content: '\e830'; } /* '' */
.icon-plus-1:before { content: '\e831'; } /* '' */
.icon-right-hand:before { content: '\e832'; } /* '' */
.icon-religious-jewish:before { content: '\e833'; } /* '' */
.icon-religious-islam:before { content: '\e834'; } /* '' */
.icon-religious-christian:before { content: '\e835'; } /* '' */
.icon-phone-1:before { content: '\e836'; } /* '' */
.icon-box:before { content: '\e837'; } /* '' */
.icon-spin:before { content: '\e838'; } /* '' */
.icon-bell-alt:before { content: '\e839'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e83a'; } /* '' */
.icon-link:before { content: '\e83b'; } /* '' */
.icon-home-1:before { content: '\e83c'; } /* '' */
.icon-search-1:before { content: '\e83d'; } /* '' */
.icon-glass:before { content: '\e83e'; } /* '' */
.icon-music:before { content: '\e83f'; } /* '' */
.icon-newspaper:before { content: '\e840'; } /* '' */
.icon-video:before { content: '\e841'; } /* '' */
.icon-child:before { content: '\e842'; } /* '' */
.icon-sun:before { content: '\e843'; } /* '' */
.icon-globe:before { content: '\e844'; } /* '' */
.icon-inbox:before { content: '\e845'; } /* '' */
.icon-award:before { content: '\e846'; } /* '' */
.icon-signal:before { content: '\e847'; } /* '' */
.icon-briefcase:before { content: '\e848'; } /* '' */
.icon-suitcase:before { content: '\e849'; } /* '' */
.icon-toggle-on:before { content: '\e84a'; } /* '' */
.icon-toggle-off:before { content: '\e84b'; } /* '' */
.icon-bank:before { content: '\e84c'; } /* '' */
.icon-gwallet:before { content: '\e84d'; } /* '' */
.icon-fork:before { content: '\e84e'; } /* '' */
.icon-magic:before { content: '\e84f'; } /* '' */
.icon-book:before { content: '\e850'; } /* '' */
.icon-bookmark:before { content: '\e851'; } /* '' */
.icon-stage:before { content: '\e852'; } /* '' */
.icon-money:before { content: '\e853'; } /* '' */
.icon-hammer:before { content: '\e854'; } /* '' */
.icon-up-open:before { content: '\e855'; } /* '' */
.icon-down-open:before { content: '\e856'; } /* '' */
.icon-align-left:before { content: '\e857'; } /* '' */
.icon-align-center:before { content: '\e858'; } /* '' */
.icon-align-right:before { content: '\e859'; } /* '' */
.icon-align-justify:before { content: '\e85a'; } /* '' */
.icon-list-bullet:before { content: '\e85b'; } /* '' */
.icon-list-numbered:before { content: '\e85c'; } /* '' */
.icon-strike:before { content: '\e85d'; } /* '' */
.icon-underline:before { content: '\e85e'; } /* '' */
.icon-superscript:before { content: '\e85f'; } /* '' */
.icon-subscript:before { content: '\e860'; } /* '' */
.icon-paragraph:before { content: '\e861'; } /* '' */
.icon-bold:before { content: '\e862'; } /* '' */
.icon-italic:before { content: '\e863'; } /* '' */
.icon-table:before { content: '\e864'; } /* '' */
.icon-ellipsis-1:before { content: '\e865'; } /* '' */
.icon-cw:before { content: '\e866'; } /* '' */
.icon-ccw:before { content: '\e867'; } /* '' */
.icon-unlink:before { content: '\e868'; } /* '' */
.icon-quote-left:before { content: '\e869'; } /* '' */
.icon-add-column:before { content: '\e86a'; } /* '' */
.icon-add-row:before { content: '\e86b'; } /* '' */
.icon-remove-column:before { content: '\e86c'; } /* '' */
.icon-remove-row:before { content: '\e86d'; } /* '' */
.icon-building:before { content: '\e86e'; } /* '' */
.icon-squares:before { content: '\e86f'; } /* '' */
.icon-newspaper-1:before { content: '\e870'; } /* '' */
.icon-down-bold:before { content: '\e871'; } /* '' */
.icon-left-bold:before { content: '\e872'; } /* '' */
.icon-right-bold:before { content: '\e873'; } /* '' */
.icon-up-bold:before { content: '\e874'; } /* '' */
.icon-resize-vertical:before { content: '\e875'; } /* '' */
.icon-updown-circle:before { content: '\e876'; } /* '' */
.icon-menu-outline:before { content: '\e877'; } /* '' */
.icon-menu:before { content: '\e878'; } /* '' */
.icon-manager:before { content: '\e879'; } /* '' */
.icon-docs:before { content: '\e87a'; } /* '' */
.icon-angle-double-right:before { content: '\e87b'; } /* '' */
.icon-workspace:before { content: '\e87c'; } /* '' */
.icon-bookmark-empty:before { content: '\e87d'; } /* '' */
.icon-mobile:before { content: '\e87e'; } /* '' */
.icon-circles:before { content: '\e87f'; } /* '' */
.icon-star-circled:before { content: '\e880'; } /* '' */
.icon-newspaper-angle:before { content: '\e881'; } /* '' */
.icon-megaphone:before { content: '\e882'; } /* '' */
.icon-lightbulb:before { content: '\e883'; } /* '' */
.icon-boilerplate:before { content: '\e884'; } /* '' */
.icon-history:before { content: '\e885'; } /* '' */
.icon-check-off:before { content: '\f096'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-radio-off:before { content: '\f10c'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-pin:before { content: '📌'; } /* '\1f4cc' */
.icon-attach:before { content: '📎'; } /* '\1f4ce' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-link-alternative:before { content: '🔗'; } /* '\1f517' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */