#your-messages-icon {
    background: url('++resource++plonesocial.messaging.messages.png') no-repeat;
    width: 20px;
    padding: 5px 5px 0px 5px;
    line-height: 1;
    cursor: pointer;
}

#number-of-messages {
    display:block;
    width:9px;
    height:9px;
    line-height:9px;
    border: 2px solid red;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: red;
    box-shadow: 0 0 3px red;
    font-size:9px;
    font-weight:bold;
    margin: 2px 0px 0px 10px;
}

#your-messages{
    padding: 0px;
    display: none;
}

#your-messages .messages {
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #337CA1;
}

#your-messages .new-message-name {
    display:block;
    width:10px;
    height:10px;
    line-height:10px;
    border: 2px solid #eee;
    border-radius: 50%;
    color:#000;
    text-align:center;
    text-decoration:none;
    background: #eee;
    box-shadow: 0 0 3px #eee;
    font-size:10px;
    font-weight:bold;
    margin: 2px 10px 0px 10px;
    float: right;
}

#your-messages .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #337CA1;
    margin-left: 3px;
}

#your-messages .message {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    line-height: 1.6;
    background-color: #337CA1;
    background-image: -webkit-linear-gradient(top, #5ba5cb, #3d94c0);
    color: #fff;
}

#your-messages .message:hover {
    background: #5ba5cb;
    cursor: pointer;
}

#your-messages .message:last-child {
    border-bottom: 0px solid #000;
}

#your-messages .key,
#your-messages .msg {
    padding: 4px;
}

#your-messages .key {
    float: left;
    width: 100px;
    font-weight: bold;
    text-transform: capitalize;
}

#your-messages .reply-message {
    text-align: center;
    float: right;
    width: 38px;
    border: 1px solid #337ca1;
    box-shadow: inset 0 1px 2px #6eb0d1;
    background-color: #337CA1;
    background-image: -webkit-linear-gradient(top, #5ba5cb, #3d94c0);
    color: #fff;
    padding: 2px 5px;
    display: block;
    border-radius: 2px 2px 2px 2px;
    margin: 10px;
}

#your-messages .clearall {
    clear: both;
}

#inbox-messages {
    width: 300px;
    border-radius: 2px 2px 2px 2px;

}