#your-messages-icon {
    background: url('++resource++plonesocial.messaging.messages.png') no-repeat;
    width: 20px;
    padding: 5px 5px 0px 5px;
    line-height: 1;
    cursor: pointer;
}

#number-of-messages {
    display:block;
    width:9px;
    height:9px;
    line-height:9px;
    border: 2px solid red;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: red;
    box-shadow: 0 0 3px red;
    font-size:9px;
    font-weight:bold;
    margin: 2px 0px 0px 10px;
}

#your-messages{
    padding: 0px;
    display: none;
    position: relative;
}

#your-messages .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #337CA1;
    margin-left: 3px;
}

#inbox-messages .reply-message {
    text-align: center;
    float: right;
    width: 38px;
    border: 1px solid #337ca1;
    box-shadow: inset 0 1px 2px #6eb0d1;
    background-color: #337CA1;
    background-image: -webkit-linear-gradient(top, #5ba5cb, #3d94c0);
    color: #fff;
    padding: 2px 5px;
    display: block;
    border-radius: 2px 2px 2px 2px;
    margin: 10px;
}

#inbox-messages .clearall {
    clear: both;
}

#inbox-messages.small {
    width: 400px;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #ccc;
    position: absolute;
    top: 5px;
    left: 0px;
    background: #fff;
}

#inbox-new-message {
    cursor: pointer;
    float: right;
    margin: 0px 5px 5px 5px;
}

#message-title {
    background: #eee;
    padding: 10px;
}

#inbox-messages .social-message-created {
    font-size: 95%;
    color: #ccc;
    float: right;
    margin-right: 5px;
}

#inbox-messages .social-message-name {
    font-weight: bold;
}

.small #your-messages-inbox {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.full #your-messages-inbox {
    display: none;
}

#inbox-messages .conversations {
    padding: 5px 10px 5px 10px;
    background: #eee;
}

#inbox-messages .convo-count0 {
    background: #fff;
}