div.ploneintranet.author .portrait {
    float: left;
}

div.ploneintranet.author {
    background-color: #fafafa;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 0.5em 0 #888888;
    margin: 0.5em 0.5em 1em 0;
    padding: 0.5em 1em;
}

div.ploneintranet.author .navigation {
    float: right;
    margin: 0 2em;
    background-color: #eee;
    border-radius: 0.5em;
    padding: 1em;
}

#content div.ploneintranet.author .navigation ul,
div.ploneintranet.author .navigation ul {
    list-style-type: none;
    margin: 0;
}
#content div.ploneintranet.author .navigation li a {
    font-weight: bold;
    display: inline;
}
#content div.ploneintranet.author .navigation li a:link,
div.ploneintranet.author .navigation li a:link,
#content div.ploneintranet.author .navigation li a:visited,
div.ploneintranet.author .navigation li a:visited {
    color: #444;
}

div.ploneintranet.author .navigation .count {
    width: 4em;
    display: inline-block;
    text-align: right;
    margin-right: 0.25em;
}

div.ploneintranet.author .portrait {
    position: relative;
    overflow: hidden;
}
div.ploneintranet.maxiauthor .portrait {
    width: 150px;
    height: 150px;
}
div.ploneintranet.miniauthor .portrait {
    width: 75px;
    height: 75px;
}
div.ploneintranet.author img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

#content div.ploneintranet.author h1,
div.ploneintranet.author h1 {
    letter-spacing: 0;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: #444;
}
#content div.ploneintranet.author a,
div.ploneintranet.author a {
    border: 0;
}
#content div.ploneintranet.author .username a,
div.ploneintranet.author .username a {
    color: #444;
}
div.ploneintranet.miniauthor h3.username {
    display: inline;
    margin-right: 0.25em;
}
div.ploneintranet.miniauthor .userid {
    display: inline;
}
div.ploneintranet.maxiauthor .personal-info {
    margin-left: 170px;
    min-height: 150px;
}
div.ploneintranet.miniauthor .personal-info {
    margin-left: 90px;
    min-height: 75px;
}

div.ploneintranet.author .bio {
    font-style: italic;
    color: #666;
    margin: 0.25em 0;
}

div.ploneintranet.author .location {
    margin-right: 1em;
    color: #666;
}

div.ploneintranet.maxiauthor .subunsub input {
    margin: 0.5em 1em 0 0;
    padding: 0.25em;
    font-size: 150%;
}

div.ploneintranet.miniauthor .subunsub input {
    margin: 0;
    padding: 0.25em;
    font-size: 100%;
}
div.ploneintranet .following {
    color: #444;
}

div.ploneintranet .description {
    color: #444;
}
