---
layout: home
application: home
design_title: Intranet homepage
design_description: The homepage of the intranet that contains a concatinated social feed.
---

<div class="row">
	<div class="four columns">
		<div class="item portlets">
			<div class="news portlet" id="portlet-news">
				<h2 class="portlet-title"><a href="/news.html">News</a></h2>
				{% assign count = 1 %}
				<div class="news-block" id="unread-news">
					{% for item in site.posts %}
						{% if item.layout == 'news-item' %}
							{% if count <= 3 %}
								<article class="item item-{{ count }}">
									<a href="{{item.url}}">
										<img class="illustration" src="/media/{{ item.image }}" alt="" />
										<!-- {% if item.category == 'member-news' %}
											<img class="logo" src="/media/logos/{{item.code}}.svg" alt="">
										{% endif %} -->
									
						    			<h3 class="title">
						    				{{ item.title }}
						    			</h3>
						    			<p class="description">
											{{ item.description | truncate: 160 }} <!-- <em>Read more…</em> -->
						    			</p>
									</a>
									<form action="/feedback/news-portlet.html#portlet-news" class="functions pat-inject">
										<button type="submit" class="icon-ok">Mark read</button>
									</form>
								</article>
							{% endif %}							
							{% assign count = count | plus: 1 %}
						{% endif %}
					{% endfor %}
					
				</div>
			</div>
			<div class="workspaces portlet" id="portlet-workspaces">
				<h2 class="portlet-title"><a href="/workspaces.html">Workspaces</a></h2>
				<ul class="links">
					{% assign count = 1 %}
					{% for workspace in site.posts  %}
						{% if workspace.layout == 'workspace-landing' and count <= 5 % %}
							<li class="workspace" title="{{ workspace.description }}">
								<a href="{{ workspace.url }}" class="link">
									<h4 class="title">{{ workspace.title }}</h4>
									{% for mutation in workspace.mutations %}
										<p class="byline">
											<strong class="subjects">
												{% assign separator = false %}
												{% for subject in mutation.subjects  %}
													{% assign last = false %}
													{% unless separator == false %}
														{% if forloop.last == true %}
															and
														{% else %}
															, 
														{% endif %}
													{% endunless %}
													<span class="subject">{{ subject.name }}</span>
													{% assign separator = true %}
													{% assign last = true %}
												{% endfor %}
											</strong>
											<span class="verb">
												{{ mutation.verb }}
											</span>
											<strong class="object">
												{{ mutation.object }}
											</strong>
											<time class="datestamp" datetime="2008-02-14" title="5 October 2015, 18:43">{{ mutation.datestamp }}</time>
											<!-- The date time attribute contains the time in international format (machine readable) and the title attribute contains the absolute date and time of the post. -->
										</p>
									{% endfor %}
								</a>
							</li>
						{% assign count = count | plus: 1 %}
						
						{% endif %}
					{% endfor %}
				</ul>
			
			<p class="portlet-footer">
				<a href="#">All workspace activities…</a>
			</p>
			</div>
			<div class="workspaces portlet" id="portlet-workspaces">
				<h2 class="portlet-title">Tasks</h2>
				<h3>Baggage handling regulations</h3>
				<fieldset class="task-list pat-checklist">
					{% for ticket in site.posts  %}
						{% if ticket.layout == 'ticket' %}
							<label>
								<input type="checkbox" /> <a title="{{ ticket.excerpt | strip_html }}" href="{{ticket.url}}">{{ ticket.title }}</a>
							</label>
							<br/>
						{% endif %}
					{% endfor %}
				</fieldset>
				<h3>Personal tasks</h3>
				<fieldset class="task-list pat-checklist">
					<label>
						<input type="checkbox" /> <a title="" href="">Talk to HR about vacancy</a>
					</label>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="eight columns">
		{% include update-social.html placeholder="Post a message…" id="new-post-box" action="/feedback/post-well-done.html" inject="source: #activity-stream; target: #activity-stream::before && #new-post-box" %}

		<div id="activity-stream" class="activity-stream">
			<form action="index.html#activity-stream" class="functions pat-autosubmit pat-inject">
				<label class="filters item pat-select bare">
					<select name="filter">
						<option value="all">All activities</option>
						<option value="network">Only activities from people I follow</option>
						<option value="interactions">Interactions with other people</option>
						<option value="posted">My activities</option>
						<option value="likes">My likes</option>
					</select>
				</label>
			</form>
			{% include activity-stream.html src="activity-stream-social" %}
		</div>
	</div>
</div>
