---
layout: shell
application: map
design_title: Prototype map
design_description: A list of pages that are templatified in the prototype.
---
	<div id="content" class="row">
		<div class="six columns">
			<h1>Screens</h1>
			<p>
				The list below contains links to all the prototype pages that are currently based on a template.
			</p>
			<dl>
			{% for node in site.pages %}
				{% unless node.application_name contains "Demo" or node.application_name contains "feedback" %}
					<dt>
						<a href="{{ node.url | prepend: site.baseurl }}"><strong>{{ node.design_title }}</strong> </a>
					</dt>
					<dd>
						<p class="description" style="margin-bottom:0">
							{{ node.design_description }}
						</p>
						<p class="link">
							<a href="{{ node.url | prepend: site.baseurl }}">{{ node.url | prepend: site.baseurl }} </a>
						</p>
					</dd>
				{% endunless %}
			{% endfor %}
			</dl>
			<h2>Feedback</h2>
			<p>
				The list below contains links to all the prototype pages that are currently based on a template and are used as feedback.
			</p>
			<dl>
			{% for node in site.pages %}
				{% if node.application_name contains "feedback" %}
					<dt>
						<a href="{{ node.url | prepend: site.baseurl }}"><strong>{{ node.design_title }}</strong> </a>
					</dt>
					<dd>
						<p class="description" style="margin-bottom:0">
							{{ node.design_description }}
						</p>
						<p class="link">
							<a href="{{ node.url | prepend: site.baseurl }}">{{ node.url | prepend: site.baseurl }} </a>
						</p>
					</dd>
				{% endif %}
			{% endfor %}
			</dl>
		</div>
		<div class="six columns">
			<h1>Demo pages</h1>
			<p>
				The list below contains links to all the component demo pages in the prototype
			</p>

			<dl>
				{% for node in site.pages %}
					{% if node.application_name contains "Demo" %}
						<dt>
							<a href="{{ node.url | prepend: site.baseurl }}"><strong>{{ node.design_title }}</strong> </a>
						</dt>
						<dd>
							<p class="description" style="margin-bottom:0">
								{{ node.design_description }}
							</p>
							<p class="link">
								<a href="{{ node.url | prepend: site.baseurl }}">{{ node.url | prepend: site.baseurl }} </a>
							</p>
						</dd>
					{% endif %}
				{% endfor %}
			</dl>
			<hr style="opacity: 0" />
			<h1>Content pages</h1>
			<p>
				The list below contains links to all the content pages in the prototype
			</p>
			<dl>
			{% for post in site.posts %}
				<dt>
					<a href="{{ post.url }}"><strong>{{ post.title }}</strong> </a>
				</dt>
				<dd>
					<p class="fragment" style="margin-bottom:0">
						{{ post.excerpt | strip_html }}
					</p>
					<p class="link">
						<a href="{{ post.url }}">{{ post.url }} </a>
					</p>
				</dd>
			{% endfor %}
		</div>
	</div>
