---
layout: shell
application: map
design_title: Prototype map
design_description: A list of pages that are templatified in the prototype.
---
	<div id="content" class="row">
		<div class="six columns">
			<h1>Screens</h1>
			<p>
				The list below contains links to all the prototype pages that are currently based on a template.
			</p>
			<dl>
			{% for node in site.pages %}
				<dt>
					<h3><a href="{{ node.url | prepend: site.baseurl }}">{{ node.design_title }} </a></h3>
				</dt>
				<dd>
					<p class="description" style="margin-bottom:0">
						{{ node.design_description }} 
					</p>
					<p class="link">
						<a href="{{ node.url | prepend: site.baseurl }}">{{ node.url | prepend: site.baseurl }} </a>
					</p>
				</dd>
			{% endfor %}
			</dl>
		</div>
		<div class="six columns">
			<h1>Content pages</h1>
			<p>
				The list below contains links to all the content pages in the prototype
			</p>
			<dl>
			{% for post in site.posts %}
				<dt>
					<h3><a href="{{ post.url }}">{{ post.title }} </a></h3>
				</dt>
				<dd>
					<p class="fragment" style="margin-bottom:0">
						{{ post.excerpt | strip_html }} 
					</p>
					<p class="link">
						<a href="{{ post.url }}">{{ post.url }} </a>
					</p>
				</dd>
			{% endfor %}
			</dl>
		</div>
	</div>
