---
layout: home
application: notifications
screen: "notifications"
design_title: Notifications
design_description: The notifications page
---

<div id="document-content">
	<h1>
		Notifications
	</h1>
	<div id="notifications">
		<ul class="notifications">
			{% for item in site.data.notifications %}
				{% assign separator = false %}
				{% assign last = true %}
				<li class="notification">
					<a href="#" class="image">
						<img class="avatar" src="{{ item.image }}" alt="">
					</a><span class="subjects">
						{% for subject in item.subjects  %}{% assign last = false %}{% unless separator == false %}{% if forloop.last == true %} and {% else %}, {% endif %}{% endunless %}<a href="" class="subject">{{ subject.name }}</a>{% assign separator = true %}{% assign last = true %}{% endfor %}
					</span>
					<span class="verb">
						{{ item.verb }}
					</span>
					<a href="" class="object">
						{{ item.object }}
					</a>
					<time class="datestamp" datetime="2008-02-14" title="5 October 2015, 18:43">{{ item.datestamp }}</time>
					<!-- The date time attribute contains the time in international format (machine readable) and the title attribute contains the absolute date and time of the post. -->
				</li>
			{% endfor %}
		</ul>

		<p class="all-notifications">
			<a href="/notifications.html">All notifications</a>
		</p>
	</div>
</div>