---
layout: home
application: home
design_title: Intranet homepage — Workspaces
design_description: The homepage of the intranet with the workspaces tab active.
---

<div class="tiles workspaces pat-packery" data-pat-packery="column-width: 300; gutter-width: 30px; item-selector: .tile;">
	{% for workspace in site.posts %}
		{% if workspace.layout == 'workspace-landing' %}
		    <div class="tile workspace {% if include.description %}has-description{% endif %} workspace-{{ workspace.id | remove: '/' }}">
			    <a href="{{ workspace.url }}" class="link">
			        <h3>{{ workspace.workspace_name }}</h3>
			        {% if workspace.description %}
			        <p>
			            {{ workspace.description}}
			        </p>
			        {% endif %}
			    </a>
			</div>
		{% endif %}
	{% endfor %}
</div>