---
layout: home
application: home
design_title: Intranet homepage — Workspaces
design_description: The homepage of the intranet with the workspaces tab active.
---

<div class="tiles workspaces pat-masonry" data-pat-masonry="column-width: .grid-sizer; gutter: 0; item-selector: .tile;">
	<div class="grid-sizer four columns"></div>
	{% for workspace in site.posts %}
		{% if workspace.layout == 'workspace-landing' %}
		    <div class="tile workspace four columns {% if include.description %}has-description{% endif %} workspace-{{ workspace.id | remove: '/' }}">
			    <a href="{{ workspace.url }}" class="link">
			        <h3>{{ workspace.workspace_name }}</h3>
			        {% if workspace.description %}
				        <p class="description">
				            {{ workspace.description | truncate: 100 }}
				        </p>
			        {% endif %}
			    </a>
			</div>
		{% endif %}
	{% endfor %}
</div>