---
layout: workspace
application: workspace
screen: "workspace-landing"
workspace_name: Baggage handling regulations
workspace_module: docs
sidebar_controls:
  - label: Create
    type: dropdown
    url: "#create-document"
    class: icon-plus-circle
  - label: More
    type: dropdown
    url: "#more-menu"
workspace_colour: 869EBF
design_title: Workspace landing
design_description: The landing state of a workspace.
workspace_name: Baggage handling regulations
workspace_id: baggage-handling-regulations
---

{% include update-social.html id="post-box" action="/feedback/post-well-done.html" inject="source: #activity-stream; target: #activity-stream::before && #post-box" %}

<div id="activity-stream" class="activity-stream">
	{% include activity-stream.html src="activity-stream-social" %}
</div>


