// first we set the variables:
//
// Assets
@import "fontello/css/fontello.css";

// Primary colours
$colour-base: #efefef;
$colour-header-elements: #666;
$colour-alert: red;

// Secondary colours


// Responsive font-size: 
$mobile:768px;