// Assets
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import url(fonts/font.css);
@import "fontello/css/fontello.css";

// Primary colours
$colour-base: #efefef;
$colour-base-light: #f1f1f1;
$colour-primary: black;
$colour-header-elements: #666;
$colour-post: #e4f2f8;
$colour-alert: red;
$colour-workspace-default: #869EBF;
$colour-accent: #0081be;
$colour-success: #CBF08B;

// Glyps

$glyph-checkbox: \f096;
$glyph-checkbox-active: \2611;
$glyph-radio-button: \f10c;
$glyph-radio-button-active: \e702;

// Responsive breakpoints:
$mobile:768px;

// Font treatment
$base-font-size: 18px;
$base-line-height: 1.5em;
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these to control various global styles
$body-bg: white;
$body-font-color: #222222;
$body-font-family: 'Source Sans Pro', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$base-space: 1em; // Create universal white space (e.g. margin, padding, left)

@function blacken($color, $percent) {
    @return mix(black, $color, $percent);
}

@function whiten($color, $percent) {
    @return mix(white, $color, $percent);
}

// Libraries
@import "libraries/reset";
@import "libraries/animate";
@import "libraries/patterns/patterns";

// Project components
@import "components/activity-stream";
@import "components/anchor";
@import "components/article";
@import "components/avatar";
@import "components/body";
@import "components/button-bar";
@import "components/button";
@import "components/breadcrumbs";
@import "components/comment";
@import "components/container";
@import "components/content";
@import "components/definition-list";
@import "components/document-body";
@import "components/event-list";
@import "components/file-upload";
@import "components/form-legend";
@import "components/global-header";
@import "components/hamburger";
@import "components/icon";
@import "components/icon-tabs";
@import "components/item-selector";
@import "components/link-list";
@import "components/list-item";
@import "components/logo";
@import "components/login-panel";
@import "components/menu-list";
@import "components/metadata";
@import "components/modal";
@import "components/notifications";
@import "components/news-block";
@import "components/news-feed";
@import "components/portlet";
@import "components/post-form";
@import "components/post";
@import "components/tabs";
@import "components/search";
@import "components/search-results";
@import "components/select";
@import "components/sidebar";
@import "components/site-header";
@import "components/sub-nav";
@import "components/tiles";
@import "components/toolbar";
@import "components/tooltip";
@import "components/update-social";
@import "components/upload";
@import "components/user-cloud";
@import "components/well";
@import "components/workspace-name";
@import "components/workspace-tabs";

@import "libraries/experimental_plone_integration";
