// Assets
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import "fontello/css/fontello.css";

// Primary colours
$colour-base: #efefef;
$colour-primary: black;
$colour-header-elements: #666;
$colour-post: #e4f2f8;
$colour-alert: red;
$colour-workspace-tabs: #869EBF;
$colour-accent: #5d91ff;

// Responsive breakpoints: 
$mobile:768px;

// Font treatment
$base-font-size: 18px;
$base-line-height: 150%;
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these to control various global styles
$body-bg: white;
$body-font-color: #222222;
$body-font-family: 'Source Sans Pro', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

$base-space: 1em; // Create universal white space (e.g. margin, padding, left)

@function blacken($color, $percent) {
    @return mix(black, $color, $percent);
}

@function whiten($color, $percent) {
    @return mix(white, $color, $percent);
}

// Libraries
@import "libraries/animation";
@import "libraries/mixins";
@import "libraries/reset";
@import "libraries/patterns/patterns";

// Project components
@import "components/activity-stream";
@import "components/anchor";
@import "components/avatar";
@import "components/body";
@import "components/button-bar";
@import "components/button";
@import "components/breadcrumbs";
@import "components/content";
@import "components/definition-list";
@import "components/document-body";
@import "components/document-content";
@import "components/file-upload";
@import "components/global-header";
@import "components/icon";
@import "components/item-selector";
@import "components/logo";
@import "components/metadata";
@import "components/post-form";
@import "components/post";
@import "components/search";
@import "components/select";
@import "components/sidebar";
@import "components/site-header";
@import "components/sub-nav";
@import "components/toolbar";
@import "components/tooltip";
@import "components/update-social";
@import "components/workspace-name";
@import "components/workspace-tabs";