// first we set the variables:
//
// Libs/tools
@import "libraries/mixins";
@import "../general/web-fonts.css";
@import "fontello/css/fontello.css";

// Primary colours
$felt:#89AA74;
$colour-alert: red;

// Secondary colours


// Categories
$cat-form:#be9ac1;
$cat-layout:#a1ced2;

// Responsive font-size: 
$mobile:768px;