---
layout: generic
template: generic
---

<div id="document-body">
	<div id="document-content">
		<article class="document rich person">
			<h1>{{ page.title }}</h1>
			{{ content }}
			<div class="row user-table pat-equaliser">
				{% for member in site.posts  %}
					{% if member.layout == 'user' %}
						<!-- The last anchor tag in this list should always get a class 'last' to avoid that the item will float to the right. -->
						<a href="{{ member.url }}" class="two columns">
						    <figure>
						    	<img src="{{ member.image_url }}" class="pat-avatar" alt="Image of {{ member.title }}" />
						    	<figcaption>
						    	{{ member.title }}
						    	</figcaption>
						    </figure>
					    </a>
					{% endif %}
				{% endfor %}
			</div>
		</article>
	</div>
</div>

