---
layout: generic
---

<div id="document-content" class="pat-modal">
    <h1>
        {{ page.title }}
    </h1>
    {% if page.action %}
        <form action="{{ page.action }}" class="wizard-box {% if page.inject %}pat-inject{% endif %}" {% if page.inject %}pat-inject="{{page.inject}}"{% endif %}>    
    {% endif %}
        <div class="panel-body">
            {{ content }}
        </div>
        {% if page.buttons %}
            <div class="buttons panel-footer">
                {% for button in page.buttons  %}
                    {% if button.type == 'submit' or button.type == 'button' %}
                        <button type="{{ button.type }}" class="{{ button.class }}">
                            {{ button.label }}
                        </button>                    
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% if page.action %}
        </form>  
    {% endif %}  
</div>
