---
layout: generic
---

<form action="search-results-images.html#results" id="global-search" class="pat-autosubmit pat-inject" data-pat-inject="source: #results; target: #results; && source: #tabs-nav; target: #tabs-nav;">

	<div class="container input">
		<fieldset class="search">
			<label>
				<input type="search" name="lemma" placeholder="Search the entire intranet" />
			</label>
			<button type="submit">Search</button>
		</fieldset>
	</div>
	<nav class="tabs navigation" id="tabs-nav">
		<!-- the search term name/value pair should be present in the tabs link to carry over the search term to the next page when the user switches tabs -->
		<a href="/search-results.html?lemma=min">All</a>
		<a href="/search-results-people.html?lemma=min">People</a>
		<a href="/search-results-images.html?lemma=min">Images</a>
		<a class="current" href="/search-results-videos.html?lemma=min">Videos</a>
		<a href="/search-results-office.html?lemma=min">Office files</a>
	</nav>
	<div class="results" id="results">
		<div class="container">
			<p>No items matched your search.</p>
			<div class="videos results pat-masonry" data-pat-masonry="column-width: .item; gutter: 0;">
				<!-- Video search results needs yet to be designed. -Cornelis -->
			</div>
		</div>
	</div>
</form>