---
layout: generic
---

<div class="container" id="global-search">
	<form action="search.html">
		<fieldset class="search">
			<label>
				<input type="search" placeholder="Search the entire intranet" />
			</label>
			<button type="search">Search</button>
		</fieldset>

		<div class="row">
			<div class="eight columns">
				<p>87 items matched your search term.</p>
				<dl class="search-results">
					{% for result in site.posts %}
						{% if result.title contains 'Min' or result.title contains 'min' %}
						    <dt class="title">
								<a href="{{ result.url }}">{{ result.title }}</a>
							</dt>

							<dd class="description">
				    			{% if result.layout == 'event' %}
									<a href="event-amb-fra-2011.html" class="preview event">
										<time class="calendar-medium pat-auto-scale">
											<strong class="day">16</strong>
											<strong class="month char-count-8">September</strong>
											<strong class="year">2015</strong>
										</time>
									</a>
								{% elsif result.document_type == 'rich' %}
									<a href="" class="preview rich">
										{{ result.excerpt }}
									</a>
								{% else %}
									{% if result.previews %}
										<a href="" class="preview file">
											{% for preview in result.previews | limit:1 %}
												<img src="{{ preview.url }}" alt="" />
											{% endfor %}
										</a>
									{% endif %}
								{% endif %}

								<p class="fragment">
									{% if result.description %}
									    {{ result.description }}
									{% else %}
										{{ result.excerpt }}
									{% endif %}
								</p>
								<a href="{{ result.url }}" class="link">
									{{ result.url }}
								</a>
							</dd>
						{% endif %}
					{% endfor %}
				</dl>
			</div>
			<div class="four columns">
				
			</div>
		</div>
	</form>
</div>