---
layout: generic
---

<form action="search-results.html#results" id="global-search" class="pat-autosubmit pat-inject">

	<div class="container input">
		<fieldset class="search">
			<label>
				<input type="search" name="lemma" placeholder="Search the entire intranet" />
			</label>
			<button type="search">Search</button>
		</fieldset>
	</div>
	<p class="tabs navigation">
		<a href="/search-results.html">All</a>
		<a class="current" href="/search-results-images.html">Images</a>
		<a href="/search-results-videos.html">Videos</a>
		<a href="/search-results-events.html">Events</a>
	</p>
	<div class="results" id="results">
		<div class="container">
			<div class="images results pat-masonry images" data-pat-masonry="column-width: .item; gutter: 0;">
				<a href="" class="item">
					<figure>
						<!-- The title attribute contains both the title and the description of the image. When there is no description, als leave out the M-dash. -->
						<img src="http://lorempixel.com/400/200/sports" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/240/200/people" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/502/400/food" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/403/200/abstract" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/505/200/transport" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/100/200/animals" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/400/200/business" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/150/200/nightlife" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/250/200/cats" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/280/200/fashion" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				<a href="" class="item">
					<figure>
						<img src="http://lorempixel.com/310/200/technics" alt="" title="Title of image — Description of image" />
						<figcaption>
							Title of image object goes here
						</figcaption>
					</figure>
				</a>
				</a>
			</div>
		</div>
	</div>
</form>