---
layout: generic
---

<form action="search-results-images.html#results" id="global-search" class="pat-autosubmit pat-inject" data-pat-inject="source: #results; target: #results; && source: #tabs-nav; target: #tabs-nav;">

	<div class="container input">
		<fieldset class="search">
			<label>
				<input type="search" name="lemma" placeholder="Search the entire intranet" />
			</label>
			<button type="submit">Search</button>
		</fieldset>
	</div>
	<p class="tabs navigation" id="tabs-nav">
		<!-- the search term name/value pair should be present in the tabs link to carry over the search term to the next page when the user switches tabs -->
		<a href="/search-results.html?lemma=min">All</a>
		<a class="current" href="/search-results-people.html?lemma=min">People</a>
		<a href="/search-results-images.html?lemma=min">Images</a>
		<a href="/search-results-videos.html?lemma=min">Videos</a>
		<a href="/search-results-office.html?lemma=min">Office files</a>
	</p>
	<div class="results" id="results">
		<div class="container">
			<p>5 items matched your search.</p>
			<div class="row people results pat-equaliser">
				<div class="item">
					<div href="" class="user-card">
						<img src="/media/avatar-charlotte-holzer.jpg" class="pat-avatar" alt="Image of Charlotte Holzer">
						<a href="">
							<h4 class="name">Minoush Farmer</h4>
							<p class="byline">This is my latest status.</p>
						</a>
						<ul class="data">
							<li class="mail icon-mail">
								<a title="Mail Minoush at minoush.farmer@organisation.com" href="mailto:minoush.farmer@organisation.com">minoush.farmer@organisation.com</a>
							</li>
							<li title="Call Minoush at +34 506 948 294" class="phone icon-phone">
								<a href="tel:+34506948294">+34 506 948 294</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div href="" class="user-card">
						<img src="/media/avatar-jeff-peters.jpg" class="pat-avatar" alt="Image of Charlotte Holzer">
						<a href="">
							<h4 class="name">Mario Minstreel</h4>
							<p class="byline">Ik ben deze week op vakantie.</p>
						</a>
						<ul class="data">
							<li class="mail icon-mail">
								<a title="Mail Mario at mario.minstreel@organisation.com" href="mailto:mario.minstreel@organisation.com">mario.minstreel@organisation.com</a>
							</li>
							<li class="phone icon-phone">
								<a title="Call Mario at +31 628 343 096" href="tel:+34506948294">+31 628 343 096</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div href="" class="user-card">
						<img src="/media/avatar-megan-fox.jpg" class="pat-avatar" alt="Image of Charlotte Holzer">
						<a href="">
							<h4 class="name">Jasmin DuPont</h4>
							<p class="byline">Je suis disponible au bureau à Paris cette semaine…</p>
						</a>
						<ul class="data">
							<li class="mail icon-mail">
								<a href="mailto:jasmin.dupont@organisation.com">jasmin.dupont@organisation.com</a>
							</li>
							<li class="phone icon-phone">
								<a href="tel:+34506948294">+33 506 083 284</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div href="" class="user-card">
						<img src="/media/avatar-lewis-litanzios.jpg" class="pat-avatar" alt="Image of Camille Fermin">
						<a href="">
							<h4 class="name">Camille Fermin</h4>
							<p class="byline">Sto lavorando a casa.</p>
						</a>
						<ul class="data">
							<li class="mail icon-mail">
								<a href="mailto:camille.fermin@organisation.com">camille.ferimn@organisation.com</a>
							</li>
							<li class="phone icon-phone">
								<a href="tel:+34506948294">+33 294 567 321</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div href="" class="user-card">
						<img src="/media/avatar-hannah.jpg" class="pat-avatar" alt="Image of Charlotte Holzer">
						<a href="">
							<h4 class="name">Minerva Dimaggio</h4>
							<p class="byline">Sto lavorando a casa.</p>
						</a>
						<ul class="data">
							<li class="mail icon-mail">
								<a href="mailto:minerva.dimaggio@organisation.com">minerva.dimaggio@organisation.com</a>
							</li>
							<li class="phone icon-phone">
								<a href="tel:+34506948294">+39 948 506 345</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>