<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Patterns library</title>
		<link rel="stylesheet" href="{{ site.baseurl }}/style/base.css" type="text/css">

		<script src="{{ site.baseurl }}/bundles/patterns.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-37987884-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>

		<link rel="icon" type="image/png" href="{{ site.baseurl }}/media/favicon.png" />
		<!--[if IE]>
				<link rel="shortcut icon" type="image/x-icon" href="media/favicon.ico" />
		<![endif]-->
	</head>
	<body class="state-{{ page.state }}">
		<header id="site-header">
			<nav class="global-nav navigation">
				<a class="pat-switch download pat-inject" data-pat-switch="body state-* state-download" href="/download.html#content">Download</a>
				<a class="pat-switch patterns pat-inject" data-pat-switch="body state-* state-home" href="/index.html#content">Patterns</a>
				<a class="pat-switch documentation pat-inject" data-pat-switch="body state-* state-documentation" href="/documentation.html#content">Documentation</a>
			</nav>
		</header>
		<div id="content">
			{{ content }}
		</div>
	</body>
</html>