---
layout: workspace
template: generic
workspace_module: tickets
---

<form class="document pat-inject" action="{{ page.url }}#meta">
    <div class="metadata pat-bumper" id="meta">
        <div class="meta-bar">
            <h1 class="doc-title" id="document-title">
                {{ page.title }}
            </h1>
            <!-- Next link should be populated with the link back to the parent. Used for small screen and accessibilty -->
            <button class="pat-switch back-to-parent icon-left-open" data-pat-switch="body focus-* focus-sidebar">Name of parent goes here</button>
            <input type="text" placeholder="Document title" class="doc-title pat-content-mirror" data-pat-content-mirror="target: #document-title" value="{{ page.title }}" />
            <div class="quick-functions">
                <a href="#confirm-delete" class="icon-trash iconified" title="Delete this event">
                    Delete
                </a>
                <a href="/feedback/panel-event-attachments.html#content" class="icon-attach iconified pat-tooltip" data-pat-tooltip="source: ajax" title="Attach documents">
                    Attachments
                </a>
                <a class="icon-info-circle meta-data-toggle iconified" title="Show extra metadata fields">Toggle extra metadata</a>
                <fieldset class="pat-subform pat-autosubmit pat-inject" data-pat-inject="target: #document-content::before; url: /feedback/banner-notifications.html; source: #workflow-state-changed::element;">
                    <label class="pat-select bare" title="Change the workflow state">
                        <select>
                            <option>Open</option>
                            <option>Closed</option>
                        </select>
                    </label>
                </fieldset>
                <button type="submit" class="icon-floppy" title="Save this document">Save</button>
                {% for item in page.document_controls %}
                    {% include toolbar-control.html %}
                {% endfor %}
            </div>
        </div>
        <fieldset class="pat-collapsible closed meta-extra" data-pat-collapsible="trigger: .meta-data-toggle" id="meta-extra">
            <fieldset class="bar description">
                <textarea name="description" rows="8" title="Description" placeholder="Description"></textarea>
             </fieldset>
        </fieldset>
    </div>
    <div id="document-content">
        <div class="document ticket-details">
            <article>
            	{{content}}
            </article>
            <fieldset class="vertical fancy">
                <label class="description">
                    Description <textarea placeholder="Enter a description of the task" rows="6">{{ page.description }}</textarea>
                </label>
                <br>
                <label class="initiator">
                    Initiator <input class="pat-autosuggest users" data-pat-autosuggest="words: Bi Angli &lt;bi.angli@shenzenair.com&gt;, Edmund Hall &lt;edmund.hall@aircanada.com&gt;, Hanns-Martin Schulte &lt;hanns.martin.schulte@lufthansa.de&gt;, Helge Nørdal &lt;hnoerdal@sas.dk&gt;, John Doe &lt;john.doe@aircanada.com&gt;, Liz Baker &lt;liz.baker@united.com&gt;, Peter Meier &lt;peter.meier@swiss.com&gt;, Ratana Preecha &lt;ratana.preecha@thaiair.com&gt;" type="text" value="Liz Baker &lt;liz.baker@foo.com&gt;"> {% include /patterns/avatar.html img="/media/avatar-liz-baker.jpg" link="/liz-baker/" %}
                </label>
                <br>
                <label class="assignee">
                    Assignee <input class="pat-autosuggest users" data-pat-autosuggest="words: Bi Angli &lt;bi.angli@shenzenair.com&gt;, Edmund Hall &lt;edmund.hall@aircanada.com&gt;, Hanns-Martin Schulte &lt;hanns.martin.schulte@lufthansa.de&gt;, Helge Nørdal &lt;hnoerdal@sas.dk&gt;, John Doe &lt;john.doe@aircanada.com&gt;, Liz Baker &lt;liz.baker@united.com&gt;, Peter Meier &lt;peter.meier@swiss.com&gt;, Ratana Preecha &lt;ratana.preecha@thaiair.com&gt;" type="text" value="Hans Mittelmaier &lt;hans.mittelmaier@foo.com&gt;">
                </label>
                <br>
                <label class="date-time">
                    Due date <input type="date" />
                </label>
                <br>
                <label class="stage">
                    Stage this task belongs to 
                    <select name="" id="">
                        <option value="">Neu</option>
                        <option value="">In Bearbeitung</option>
                        <option value="">Fertig stellen</option>
                        <option value="">Vollständig</option>
                        <option value="">Antrag</option>
                        <option value="">Beschlossen</option>
                        <option value="">Abgeschlossen</option>
                        <option value="">Archiviert</option>
                    </select>
                </label>
                <br>
                <label class="attachments">Attached documents from this workspace 
                    <input class="pat-autosuggest documents" data-pat-autosuggest="words:2013 Outline,Bag tag regulations,Baggage rules,First delivery presentation,IATA standards 2012,Initial competitive analysis,Market segmentation,Minutes kick-off meeting,Out of the box,Priority bag process,Priority bag tag specification,Waste not want not" type="text" value="Boardbook, Waste not want not">
                </label>
            </fieldset>
        </div>
    </div>
</form>