---
layout: workspace
template: generic
workspace_module: tickets
---

<form class="document pat-inject" action="{{ page.url }}#meta">
    <div class="metadata pat-bumper" id="meta">
        <div class="meta-bar">
            <h1 class="doc-title" id="document-title">
                {{ page.title }}
            </h1>
            <!-- Next link should be populated with the link back to the parent. Used for small screen and accessibilty -->
            <button class="pat-switch back-to-parent icon-left-open" data-pat-switch="body focus-* focus-sidebar">Name of parent goes here</button>
            <input type="text" placeholder="Document title" class="doc-title pat-content-mirror" data-pat-content-mirror="target: #document-title" value="{{ page.title }}" />
            <div class="quick-functions">
                <a href="#confirm-delete" class="icon-trash iconified" title="Delete this event">
                    Delete
                </a>
                <a href="/feedback/panel-event-attachments.html#content" class="icon-attach iconified pat-tooltip" data-pat-tooltip="source: ajax" title="Attach documents">
                    Attachments
                </a>
                <a class="icon-info-circle meta-data-toggle iconified" title="Show extra metadata fields">Toggle extra metadata</a>
                <fieldset class="pat-subform pat-autosubmit pat-inject" data-pat-inject="target: #document-content::before; url: /feedback/banner-notifications.html; source: #workflow-state-changed::element;">
                    <label class="pat-select bare" title="Change the workflow state">
                        <select>
                            <option>Open</option>
                            <option>Closed</option>
                        </select>
                    </label>
                </fieldset>
                <button type="submit" class="icon-floppy" title="Save this document">Save</button>
                {% for item in page.document_controls %}
                    {% include toolbar-control.html %}
                {% endfor %}
            </div>
        </div>
        <fieldset class="pat-collapsible closed meta-extra" data-pat-collapsible="trigger: .meta-data-toggle" id="meta-extra">
            <fieldset class="bar description">
                <textarea name="description" rows="8" title="Description" placeholder="Description"></textarea>
             </fieldset>
        </fieldset>
    </div>
    <div id="document-content">
        <div class="document ticket-details">
            <article>
            	{{content}}
            </article>
        </div>
    </div>
</form>