---
layout: generic
application: user
template: generic
sidebar: closed
---

<div id="document-body">
	<div id="document-content">
		<div id="person-timeline" class="row document">
			<aside class="four columns sidebar">
				<figure class="user-portrait">
					<img src="{{ page.image_url }}" class="pat-avatar" alt="Image of {{ page.title }}" />
					{% if page.title == "Liz Baker" %}
						<textarea name="status-message" id="" cols="30" rows="3" class="status-message">I'm totally in the mood this week!</textarea>
					{% else %}
						<figcaption class="status-message">
							I'm totally in the mood this week!
						</figcaption>
					{% endif %}
				</figure>
				<div class="portlet endorsements" id="portlet-endorsements">	
					<h2 class="portlet-title">
						Endorsements
					</h2>	
					<!-- In case there are any endorsements for this user, use then print the following list:	 -->
					<ul class="skill-cloud">
						<li class="skill">Design <em class="counter">7</em></li>
						<li class="skill">Presenting <em class="counter">4</em></li>
						<li class="skill">Business analysis <em class="counter">1</em></li>
					</ul>
					<!-- In case there are no endorsements for this user, then print the following message: -->
					<!-- <p>There are no endorsements for {{ page.title }} yet.</p> -->
				</div>
				<div class="portlet following" id="portlet-following">
					<h2 class="portlet-title"><a href="#person-following">Following</a></h2>
					<nav class="user-cloud">
						<!-- Limit the following list of users to 21 users. -->
						{% for user in site.posts %}
							{% if user.layout == 'user' %}	    
								<a href="{{ user.url }}" class="pat-avatar">
									<img src="{{ user.image_url }}" alt="" title="{{ user.title }}" />
								</a>
							{% endif %}
						{% endfor %}
					</nav>
					<!-- Only print the following p-tag and its content when the list of followees extends 14 users -->
					<p class="portlet-footer">
						<a href="#person-following">Full list of people {{ page.title }} follows.</a>
					</p>
				</div>
				<div class="portlet followers" id="portlet-followers">
					<h2 class="portlet-title"><a href="#person-followers">Followers</a></h2>
					<nav class="user-cloud">
						<!-- Limit the following list of users to 21 users. -->
						{% for user in site.posts %}
							{% if user.layout == 'user' %}	    
								<a href="{{ user.url }}" class="pat-avatar">
									<img src="{{ user.image_url }}" alt="" title="{{ user.title }}" />
								</a>
							{% endif %}
						{% endfor %}
					</nav>
					<!-- Only print the following p-tag and its content when the list of followers extends 14 users -->
					<p class="portlet-footer">
						<a href="#person-followers">Full list of followers</a>
					</p>
				</div>
			</aside>
			<div class="eight columns">
				<form id="endorsements" class="endorsement-tagging pat-inject" action="/feedback/feedback-endorsement-tagging.html" data-pat-inject="source: #feedback-message; target: #endorsements && source: #portlet-endorsements; target: #portlet-endorsements">
					<p class="introduction">
						Please endorse {{ page.title }} for any skills of your choice.
					</p>
					<input value="Marketing, Design" type="text" class="pat-autosuggest skills" placeholder="Compose your set set of endorsements for this user	" data-pat-autosuggest="words: Design, Marketing, Communication">
					<p class="button-bar">
						<button type="submit">Endorse!</button>
					</p>
				</form>
				<nav class="tabs">
					<a href="#person-timeline">Timeline</a>
					<a href="#person-bio">Biography</a>
					<a href="#person-followers">Followers</a>
					<a href="#person-following">Following</a>
				</nav>
				<div class="pat-stacks">
					<div class="activity-stream" id="person-timeline">
						{% include activity-stream.html src="activity-stream-liz" %}
					</div>
					<article id="person-bio">
						<h1>{{ page.title }}</h1>
						{{ content }}
					</article>
					<div id="person-followers">
						Followers
					</div>
					<div id="person-following">
						Following
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

