---
layout: generic
application: user
template: generic
sidebar: closed
---

<div id="document-body">
	<div id="document-content">
		<div id="person-timeline" class="row document">
			<aside class="four columns sidebar">
				<figure class="user-portrait">
					<img src="{{ page.image_url }}" class="pat-avatar" alt="Image of {{ page.title }}" />
					{% if page.title == "Liz Baker" %}
						<figcaption>
							<textarea name="status-message" id="" cols="30" rows="3" class="status-message">{{ page.status }}</textarea>
						</figcaption>
					{% else %}
						<figcaption class="status-message">
							<h1>{{ page.title }}</h1>
							<p>
								{{ page.status }}
							</p>
						</figcaption>
					{% endif %}
				</figure>
				{% unless page.title == "Liz Baker" %}
					<div class="portlet follow" id="portlet-follow">
						<form action="">
							<fieldset class="button-bar centred">
								<button class="icon-eye"><strong>Follow</strong> {{ page.title }}</button>
							</fieldset>
						</form>
					</div>
				{% endunless %}
				<div class="portlet contact" id="portlet-contact">	
					<h2 class="portlet-title">
						Contact
					</h2>	
					<ul class="menu">
						<li class="mail">
							<a class="icon-mail" title="Mail Mario at mario.minstreel@organisation.com" href="mailto:mario.minstreel@organisation.com">mario.minstreel@organisation.com</a>
						</li>
						<li class="phone">
							<a class="icon-phone" title="Call Mario at +31 628 343 096" href="tel:+34506948294">+31 628 343 096</a>
						</li>
					</ul>
					<!-- In case there are no endorsements for this user, then print the following message: -->
					<!-- <p>There are no endorsements for {{ page.title }} yet.</p> -->
				</div>
				<div class="portlet following" id="portlet-following">
					<h2 class="portlet-title"><a href="#person-following">Following</a></h2>
					<nav class="user-cloud">
						<!-- Limit the following list of users to 21 users. -->
						{% for user in site.posts %}
							{% if user.layout == 'user' %}	    
								<a href="{{ user.url }}" class="pat-avatar">
									<img src="{{ user.image_url }}" alt="" title="{{ user.title }}" />
								</a>
							{% endif %}
						{% endfor %}
					</nav>
					<!-- Only print the following p-tag and its content when the list of followees extends 14 users -->
					<p class="portlet-footer">
						<a href="#person-following">Full list of people {{ page.title }} follows.</a>
					</p>
				</div>
				<div class="portlet followers" id="portlet-followers">
					<h2 class="portlet-title"><a href="#person-followers">Followers</a></h2>
					<nav class="user-cloud">
						<!-- Limit the following list of users to 21 users. -->
						{% for user in site.posts %}
							{% if user.layout == 'user' %}	    
								<a href="{{ user.url }}" class="pat-avatar">
									<img src="{{ user.image_url }}" alt="" title="{{ user.title }}" />
								</a>
							{% endif %}
						{% endfor %}
					</nav>
					<!-- Only print the following p-tag and its content when the list of followers extends 14 users -->
					<p class="portlet-footer">
						<a href="#person-followers">Full list of followers</a>
					</p>
				</div>
			</aside>
			<div class="eight columns">
				{% unless page.title == "Liz Baker" %}
				    <!-- The following form is hidden when in case the profile page that is shown is the one of the currently logged in user. The form is also not printed when the currently logged in user has already once endorsed the currently displayed user. -->
					<form id="endorsements" class="endorsement-tagging pat-inject" action="/feedback/feedback-endorsement-tagging.html" data-pat-inject="source: #feedback-message; target: #endorsements && source: #portlet-endorsements; target: #portlet-endorsements">
						<p class="introduction">
							Please endorse {{ page.title }} for any skills of your choice.
						</p>
						<input value="Marketing, Design" type="text" class="pat-autosuggest skills" placeholder="Compose your set set of endorsements for this user	" data-pat-autosuggest="words: Design, Marketing, Communication">
						<p class="button-bar">
							<button type="submit">Endorse!</button>
						</p>
					</form>
				{% endunless %}
				<nav class="tabs">
					<a href="#person-timeline">Timeline</a>
					<a href="#person-bio">Biography</a>
					<a href="#person-followers">Followers</a>
					<a href="#person-following">Following</a>
				</nav>
				<div class="pat-stacks">
					<div class="activity-stream" id="person-timeline">
						<!-- The posts and shares of the user of the currently displayed profile are shown below. -->
						{% include activity-stream.html src="activity-stream-liz" %}
					</div>
					<article id="person-bio">
						<h1>{{ page.title }}</h1>
						{{ content }}
					</article>
					<div id="person-followers">
						<!-- In this prototype, one or more user groups might be displayed in the following list, but only individual users may be listed. -->
						{% include item-selector.html mode="users" toggle="false" listitems="follow" id="followers-list" %}
					</div>
					<div id="person-following">
						<!-- In this prototype, one or more user groups might be displayed in the following list, but only individual users may be listed. -->
						{% include item-selector.html mode="users" toggle="false" listitems="follow" id="followees-list" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

