---
layout: shell
template: generic
application: workspace
---
{% for node in site.posts %}
    {% if node.layout == "workspace-landing" and node.workspace_name == page.workspace_name %}
        {% assign workspace = node %}
    {% endif %}
{% endfor %}
<div class="application page-type-{{ page.type }} workspace-type-{{ workspace.type }}" id="content">
    <h1 id="workspace-name">
        <!-- Next link is to lead to landing state of current workspace -->
        <a href="{{workspace.url}}">{{ workspace.name }}</a>
    </h1>


    <div class="ws-baggage-handling-regulations dark-theme" id="application-body">

        <div id="document-body">
        	{{ content }}
        </div>

        <aside class="sidebar left tagging-off" id="sidebar">
            {% include workspace-sidebar.html title=page.title %}
        </aside>

    </div>
    {% include workspace-tabs.html %}
</div>

{% include global-header.html %}
