---
layout: workspace
template: generic
workspace_module: docs
---


{% if page.type == 'case' %}
	<div class="workspace-header">
		<article class="rich">
			<!-- <h1>My case</h1> -->
			<p class="description">
				{{ page.description }}
			</p>
		</article>
		<ul class="timeline pat-equaliser" >
			{% assign count = 0 %}
			{% for item in page.states %}
				<li class="section {% if item.action %}actioned{% endif %}" title="{{ item.label }}">
					<h3 class="section-label">
						{{ item.label }} {% if item.text %}<a href="/{{ item.text }}#content" class="pat-modal iconified icon-info-circle" data-pat-modal="class: large">Info</a>{% endif %}
					</h3>
					
					<ul>
						{% for sub in item.steps  %}
							{% assign count = count | plus: 1 %}
							<li id="item-{{ count }}" class="step-background {%  if sub.image %} illustrated{% endif %}">
								<p class="step-label{% if sub.icon %} icon icon-{{ sub.icon }}{% endif %}">
									<a href="{{ sub.url }}" class="link">
										{{ sub.label }}
									</a>
								</p>
								{% if sub.image %}
									<figure class="illustration {% unless sub.image-position %}{% cycle 'pos-1', 'pos-2', pos-3 %}{% endunless %}" {% if sub.image-size %}style="{% if sub.image-position %}margin-top: {{ sub.image-position }}em;{% endif %} width: {{ sub.image-size }}em; height: {{ sub.image-size }}em; margin-left: {{ sub.image-size | times:-0.5 }}em;"{% endif %}>
										<a href="/media/{{ sub.image }}" target="image">
											<img src="/media/{{ sub.image }}" alt="" />
										</a>
									</figure>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
					
					{% if item.action %}
						<p class="action">
						    <a class="link" href="" class="action">
						    	{{ item.action }}
						    </a>
						</p>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% include update-social.html id="post-box" action="/feedback/post-well-done.html" inject="source: #activity-stream; target: #activity-stream::before && #new-post-box" placeholder="Post a message…" %}

<div id="activity-stream" class="activity-stream">
	{% include activity-stream.html src="activity-stream-social" %}
</div>
