---
layout: workspace
template: generic
workspace_module: docs
---


{% if page.type == 'case' %}
	<div class="workspace-header">
		<article class="rich">
			<!-- <h1>My case</h1> -->
			<p class="description">
				{{ page.description }}
			</p>
		</article>
		<ul class="timeline pat-equaliser" >
			{% assign count = 0 %}
			{% for item in page.states %}
				<li class="section {% if item.action %}actioned{% endif %} state-{{ item.state }}" title="{{ item.label }}">
					<h3 class="section-label">
						{{ item.label }} {% if item.text %}<a href="/{{ item.text }}#content" class="pat-modal iconified icon-info-circle" data-pat-modal="class: large">Info</a>{% endif %}
					</h3>

					<ul>
						{% for node in site.posts  %}
							{% if node.state == item.label %}
								{% assign count = count | plus: 1 %}
								<li id="item-{{ count }}" class="step-background {%  if node.image %} illustrated{% endif %}">
									<p class="step-label{% if node.icon %} icon icon-{{ node.icon }}{% endif %}">
										<a href="{{ node.url }}" class="link">
											{{ node.title }}
										</a>
									</p>
									{% if node.image %}
										<figure class="illustration {% unless node.image-position %}{% cycle 'pos-1', 'pos-2', pos-3 %}{% endunless %}" {% if node.image-size %}style="{% if node.image-position %}margin-top: {{ node.image-position }}em;{% endif %} width: {{ node.image-size }}em; height: {{ node.image-size }}em; margin-left: {{ node.image-size | times:-0.5 }}em;"{% endif %}>
											<a href="/media/{{ node.image }}" target="image">
												<img src="/media/{{ node.image }}" alt="" />
											</a>
										</figure>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>

					{% if item.action %}
						<p class="action">
						    <a class="link" href="" class="action">
						    	{{ item.action }}
						    </a>
						</p>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% include update-social.html id="post-box" action="/feedback/post-well-done.html" inject="source: #activity-stream; target: #activity-stream::before && #new-post-box" placeholder="Post a message…" %}

<div id="activity-stream" class="activity-stream">
	{% include activity-stream.html src="activity-stream-social" %}
</div>
