[buildout]
extends =
    test-5.0.x.cfg
    versions.cfg
    soft-versions.cfg

package-name = ploneintranet
package-extras = [develop]
versions = versions

parts +=
    fetchrelease
    scripts
    robot
    ploneversioncheck

show-picked-versions = true

test-eggs =
    ${:package-name} [solr,test]

develop += .

eggs +=
    ${:package-name} ${buildout:package-extras}

extensions +=
    plone.versioncheck

[instance]
environment-vars +=
    ASYNC_ENABLED true

[test]
recipe = collective.xmltestreport
defaults = ['--auto-color', '--auto-progress', '--xml', '--ignore_dir=bmponents', '--ignore_dir=node_modules', '-v', '-m', 'ploneintranet']
eggs = ${buildout:test-eggs}
environment = testenv

[testenv]
PLONE_CSRF_DISABLED = true

[fetchrelease]
recipe = plone.recipe.command
command = make fetchrelease
update-command = make fetchrelease

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:package-name} ${buildout:package-extras}

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]

[ploneversioncheck]
recipe = zc.recipe.egg
eggs = plone.versioncheck

[flake8]
recipe = zc.recipe.egg
eggs = flake8
       ${instance:eggs}
entry-points =
    flake8=flake8.run:main

[code-analysis]
recipe = plone.recipe.codeanalysis
pre-commit-hook = True
directory = ${buildout:directory}/src/ploneintranet

flake8 = True
# ignore complexity
flake8-ignore = C901
deprecated-aliases = False
utf8-header = False
clean-lines = False
prefer-single-quotes = False
pep3101 = False
imports = False
debug-statements = False

return-status-codes = True

clean-lines-exclude =
    ${buildout:directory}/src/ploneintranet.theme/src/bower_components
    ${buildout:directory}/src/ploneintranet.theme/node_modules/
    ${buildout:directory}/src/ploneintranet.theme/src/ploneintranet/theme/static/generated
    ${buildout:directory}/src/ploneintranet.theme/prototype
    ${buildout:directory}/src/ploneintranet.theme/release
    ${buildout:directory}/src/ploneintranet.theme/test-bundle

flake8-exclude = docs,pre-commit,bower_components,node_modules,plone.recipe.codeanalysis

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[coverage-report]
recipe = collective.recipe.template
input = inline:
   #!/bin/bash
   ${buildout:bin-directory}/createcoverage ${buildout:bin-directory}/test
mode = 755
output = ${buildout:bin-directory}/coverage-report

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    sphinx.themes.plone
    sphinxcontrib-zopeext
    sphinxcontrib-spelling
    pyenchant
    ploneintranet
#    ctypes # this bugger not being available was the cause of pyenchant not being installable. Unfortunately it doesn't install on macos.

[sources]

[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
http-socket = unix
file = ${buildout:directory}/var/supervisord.sock
programs =
    10 zeo ${zeo:location}/bin/runzeo ${zeo:location}
    20 solr /usr/bin/env [java -Xms512m -Xmx2048m -jar start.jar] ${solr:location} true
    30 celery ${buildout:directory}/bin/celery [-A ploneintranet.async.celerytasks worker] ${buildout:directory}/var/ true
    100 instance ${buildout:directory}/bin/instance [console] ${instance:location} true
    110 instance2 ${buildout:directory}/bin/instance2 [console] ${instance2:location} true
