#content div.plonesocial dl.portlet {
    font-size: 100%;
}

#content dl.portlet.compact dd.portletItem,
dl.portlet.compact dd.portletItem {
    padding: 0;
    margin: 0 0 1em 0;
}

#content dl.portlet.compact,
dl.portlet.compact {
    margin: 0;
}

div.activityItem {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0 0.5em 0 #888888;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.5em 1em;
}

div.activityAvatar {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    padding: 0;

}
div.activityAvatar img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
div.activityBody {
    min-height: 50px;
    margin-left: 60px;
}
div.activityByLine {
    color: #666666;
    display: block;
    font-size: 85%;
    line-height: 1.25em;
}
#content div.activityByLine a,
div.activityByLine a {
    text-decoration: none;
    border: none;
    font-weight: bold;
}
#content div.activityByLine a.creator,
div.activityByLine a.creator {
    color: black;
}
div.activityNoText {
    clear: both;
    margin: 1em 0;
}
div.activityText {
    line-height: 1.25em;
    margin: 0.5em 0;
    font-size: 92%;
    color: #444;
}
div.activityDate {
    display: inline-block;
    color: #76797C;
    font-size: 85%;
}